<!-- Dashboard Wrapper Starts -->
<div class="dashboard-wrapper dashboard-wrapper-lg">

    <!-- Container fluid Starts -->
    <div class="container-fluid">
  
      <!-- Top Bar Starts -->
      <div class="top-bar clearfix">
        <div class="row gutter">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="page-title">
              <h3>Question Set List</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-filter"></i></span>
            <input type="text" class="form-control"  placeholder="Find by tutor/Subject/Title ..." [(ngModel)]="searchTerm">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
          </div>
        </div>
    </div>
      <!-- Top Bar Ends -->
  
      <!-- Row starts -->
      <div class="row gutter">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-green">
              <div class="panel-heading">
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="table table-striped no-margin">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Created By</th>
                        <th>Title</th>
                        <th>Subject</th> 
                        <th>Created On</th>
                        <th>No of Question</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let questionSet of questionSetList  
                      | filterBy: ['name','tutor_id.first_name','tutor_id.last_name','subject_id.name']: searchTerm ; let i = index">
                        <td>{{i+1}}</td> 
                        <td class="text-center">
                            <img *ngIf="questionSet.tutor_id.profile_pic && questionSet.tutor_id.profile_pic !== 'test'" [src]="domSanitizer.bypassSecurityTrustUrl(questionSet.tutor_id.profile_pic)" alt="User" height="50px" width="50px"/>
                            <div *ngIf="!questionSet.tutor_id.profile_pic || questionSet.tutor_id.profile_pic === 'null'" class="no-image-sm">
                              <span>{{questionSet.tutor_id.first_name.charAt(0).toUpperCase()}}{{questionSet.tutor_id.last_name.charAt(0).toUpperCase()}}</span>
                            </div>
                            <div>{{questionSet.tutor_id.first_name}} {{questionSet.tutor_id.last_name}}</div>
                        </td> 
                        <td>{{questionSet.name}}</td>
                         <td>{{questionSet.subject_id.name}}</td>
                        <td>{{questionSet.creation_date | date}}</td>
                        <td>{{questionSet.no_of_questions}}</td>
                        <td>
                          <button class="btn btn-xs btn-info" (click)="gotoView(questionSet.id)">
                              Start Exam
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
             <!-- <div class="text-center" *ngIf="questionSetList.length > 0">
                <pagination [totalItems]="questionSetList.length"
                  [itemsPerPage]="10"
                  [maxSize]="5"
                  [(ngModel)]="currentPage"
                  previousText="&lsaquo;"
                  nextText="&rsaquo;"
                  firstText="&laquo;"
                  lastText="&raquo;"
                  [boundaryLinks]="true"
                  [rotate]="false"
                  (pageChanged)="pageChanged($event)">
                </pagination>
              </div>-->
            </div>
          </div>
        </div>
        <!-- Row Ends -->
    </div>
    <!-- Container fluid ends -->
  </div>
  <!-- Dashboard Wrapper End -->