<!-- Dashboard Wrapper Starts -->
<div class="dashboard-wrapper dashboard-wrapper-lg">

  <!-- Container fluid Starts -->
  <div class="container-fluid">

    <!-- Top Bar Starts -->
    <div class="top-bar clearfix">
      <div class="row gutter">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="page-title">
            <h3>Question Paper</h3>
          </div>
        </div>
      </div>
    </div>
    <!-- Top Bar Ends -->

    <!-- Row starts -->
    <div class="row gutter">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h4>TEST</h4>
        <div class="row gutter">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel">
              <div class="panel-heading">
              </div>
              <div class="panel-body">
                <!-- <form id="questionform" [formGroup]="questionform" novalidate> -->
                  <div>
                    <div class="row gutter" *ngFor="let question of questionSet; let i = index ">
                      <label class="control-label">{{ i+1 }}.{{question.question}}</label>
                          <div class="radio">
                          <label><input type="radio" value="Option 1" [disabled]="question.disabled" name="{{question.id}}"  (change) = "radioChangeHandler($event,question)">{{question.option_A}}</label>
                          </div>
                          <div class="radio">
                          <label><input type="radio" value="Option 2"   [disabled]="question.disabled" name="{{question.id}}" (change) = "radioChangeHandler($event,question)">{{question.option_B}}</label>
                          </div>
                          <div class="radio">
                          <label><input type="radio" value="Option 3"    [disabled]="question.disabled" name="{{question.id}}" (change) = "radioChangeHandler($event,question)">{{question.option_C}}</label>
                          </div>
                          <div class="radio">
                              <label><input type="radio" value="Option 4"   [disabled]="question.disabled" name="{{question.id}}" (change) = "radioChangeHandler($event,question)">{{question.option_D}}</label>
                          </div>
                          <button type="submit" class="btn btn-xs btn-warning" [disabled]="question.disabled" (click)="saveAns(question)">
                            <i class="fa small-fa" [ngClass]="{'fa-spin fa-circle-notch' : !question.disabled && question.hasClicked, 'fa-check': question.disabled}" ></i>OK
                          </button>
                    </div>
                  </div>
                  
              </div>

              <div class="form-group no-margin text-center">
                <div class="row gutter">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-warning" (click)="submitTest()">Submit Test</button>
                    <button type="button" class="btn btn-default" (click)="cancle()">Cancel</button>
                  </div>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Row Ends -->
  </div>
  <!-- Container fluid ends -->
</div>
<!-- Dashboard Wrapper End -->