<!-- Dashboard Wrapper Start -->
<div class="dashboard-wrapper dashboard-wrapper-lg">

  <!-- Container fluid Starts -->
  <div class="container-fluid">
    <!-- Row starts -->
    <div class="row gutter">
      <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12">
        <div class="row gutter">
          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            <div class="panel height500">
              <div class="panel-body">
                <h4>
                  <i class="fa fa-calendar fa-2x text-danger"></i> Calender </h4>
                <angular2-fullcalendar [options]="calendarOptions" *ngIf="events && events.length"></angular2-fullcalendar>
              </div>
            </div>
          </div>
        </div>

        <div class="row gutter">
          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            <div class="panel height500">
              <div class="panel-body">
                <h4>
                  <i class="fa fa-file fa-2x fa-graduation-cap text-warning"></i>Seminars</h4>
                <ul *ngFor="let seminar of seminars">
                  <li class="green" style="border-bottom: 1px solid gray; margin-bottom: 5px;">
                    <div class="detail-info">
                      <p class="date">
                        <b>{{seminar.title}}</b>
                      </p>
                      <p class="message"><b>Description:</b> {{seminar.assignment_id.description}}</p>
                      <p class="message"><b>Start Date:</b> {{seminar.start_date | date:"shortDate"}}</p>
                      <p class="message"><b>End Date:</b> {{seminar.end_date | date:"shortDate"}}</p>
                      <p class="message"><b>Time:</b> {{seminar.start_date | date:"shortTime"}} TO {{seminar.end_date |
                        date:"shortTime"}}</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>


        <div class="row gutter">
          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            <div class="panel height500">
              <div class="panel-body">
                <h4>
                  <i class="fa fa-file fa-2x text-warning"></i> Test & Results</h4>
                <ul *ngFor="let result of studentResult">
                  <li class="green" style="border-bottom: 1px solid gray; margin-bottom: 5px;">
                    <div class="detail-info">
                      <p class="message">Test: {{result.question_set_id.name}}</p>
                      <p class="message">Date: {{result.result_date}}</p>
                      <p class="message">Result: {{result.result}}</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12">
        <!-- Row inside row starts -->
        <div class="row gutter">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="panel">
              <div class="panel-body">
                <h3>
                  <i class="fa fa-link fa-2x text-info"></i>Timeline</h3>
                <div class="col-xs-12 ass-list-box" *ngFor="let assignment of assignmentDetails">
                  <div class="ttl-box">
                    <h4>{{type[assignment.assignment_id.type]}}: {{assignment.assignment_id.title }}</h4>
                  </div>
                  <div class="col-xs-3 ass-img-part">
                    <div class="thumbnail">
                      <div *ngIf="!assignment.assignment_id.tutor_id.profile_pic || assignment.assignment_id.tutor_id.profile_pic === 'test'"
                        class="no-image-sm pull-left">
                        <span>{{assignment.assignment_id.tutor_id.first_name.charAt(0).toUpperCase()}}{{assignment.assignment_id.tutor_id.last_name.charAt(0).toUpperCase()}}</span>
                      </div>

                      <img *ngIf="assignment.assignment_id.tutor_id.profile_pic && assignment.assignment_id.tutor_id.profile_pic !== 'test'"
                        [src]="domSanitizer.bypassSecurityTrustUrl(assignment.assignment_id.tutor_id.profile_pic)"
                        class="avatar" alt="User" />

                    </div>
                    <div style="text-align:center">
                      <button class="btn btn-xs" [ngClass]="{'btn-success' : assignment.status === 2,'btn-warning' : assignment.status === 1, 'btn-danger': assignment.status === 3}">{{status[assignment.status]}}</button>
                    </div>
                  </div>
                  <div class="col-xs-9 ass-cont-part">
                    <div class="message-wrapper">


                      <table style="width:100%">
                        <tr>
                          <td style="width: 125px;">Created by :</td>
                          <td>{{assignment.assignment_id.tutor_id.first_name + ' ' +
                            assignment.assignment_id.tutor_id.last_name}}</td>
                        </tr>
                        <tr>
                          <td>
                            Description :
                          </td>
                          <td>
                            {{assignment.assignment_id.description}}

                          </td>

                        </tr>
                        <!-- <tr>
                                      <td>
                                          Status :
                                      </td>
                                      <td>
                                          <b>{{status[assignment.status]}}</b>
                                      </td>
                                  </tr> -->
                        <tr>
                          <td>
                            Creation Date :
                          </td>
                          <td>
                            {{assignment.assignment_id.creation_date | date:'yyyy-MM-dd'}}
                          </td>
                        </tr>
                        <tr>
                          <td>Due Date :</td>
                          <td>
                            {{assignment.assignment_id.due_date | date:'yyyy-MM-dd'}}
                          </td>
                        </tr>
                        <tr *ngIf="assignment.status === 3">
                          <td>
                            Completion Date :
                          </td>
                          <td>
                            {{assignment.completion_date | date:'yyyy-MM-dd'}}
                          </td>
                        </tr>
                        <tr *ngIf=assignment.assignment_id.subject_id>
                          <td>Subject :</td>
                          <td>{{assignment.assignment_id.subject_id.name}}</td>
                        </tr>
                        <tr *ngIf=assignment.assignment_id.course_id>
                          <td>Course :</td>
                          <td>{{assignment.assignment_id.course_id.name}}</td>
                        </tr>
                        <tr>
                          <td>Institute :</td>
                          <td>{{assignment.assignment_id.tutorInstituteId.name}}</td>
                        </tr>
                      </table>
                      <!-- <div class="col-lg-4 text-center">
                                <i class="fa fa-star text-warning"></i>
                                <button type="submit" class="btn btn-warning" (click)="saveFeedback(assignment.id)">Create</button>
                                <u class="text-info">Rate visit</u>
                            </div> -->

                      <div class="pull-left text-center">
                        <ng-template #popTemplate>
                          <a class="pull-right" style="cursor: pointer;" (click)="pop.hide()"><i class="fa fa-times-circle fa-2x text-warning"></i></a>
                          <div style="width: 290px;text-align: center;">
                            <rating [max]="5" [(ngModel)]="rating" [readonly]="false" [customTemplate]="tt"></rating>
                            <ng-template #tt let-i="index" let-v="value">
                              <label class="star-label {{i < v ? 'text-warning' : 'text-default'}}">
                                {{i
                                < v ? '&#9733;' : '&#9734;' }} </label> </ng-template> <textarea class="form-control"
                                  rows="3" cols="20" style="width:250px;" [(ngModel)]="data" placeholder="Text your experience with Tutor"></textarea>
                                  <a href="javascript:void(0)" class="btn btn-rounded btn-success" style="margin-top: 10px;"
                                    (click)="saveFeedback(assignment.id);pop.hide()">
                                    Submit
                                  </a>
                          </div>
                        </ng-template>
                        <a href="javascript:void(0)" [popover]="popTemplate" placement="bottom" #pop="bs-popover"
                          [container]="body" [outsideClick]="true">
                          <i class="fa fa-star text-warning"></i>
                          <u class="text-info">Rate Tutor</u>
                        </a>
                      </div>



                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- Row inside row ends -->
      </div>
    </div>
    <!-- Row ends -->

  </div>
  <!-- Container fluid ends -->

</div>
<!-- Dashboard Wrapper End -->