@import "../../assets/css/tasks.css";
@import "../../assets/css/dragula.min.css";
.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.post-footer{
  height: 30px;
}

.post-footer .btn, .tab-btn .btn{
  margin-top: 8px;
}

.task-block.overdue {
  background: #ff6666;
  color: white;
}

.ass-list-box
{
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  padding: 0px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.ttl-box
{
  width: 100%;
  float: left;
  margin-bottom: 7px;
  background: #4286F7;
  border-radius: 4px 4px 0px 0px;
  padding: 10px;
  line-height: 18px;

}
.ttl-box h4{
  margin-bottom: 0px;
}
.ass-img-part .thumbnail {
  border: none;
}
.task-type.stats {
  background: #4286F7 !important; 
}

.btn-danger i.rup{
  font-size: 12px;
  color: white;
}

.drag-your-task i{
  padding: 0px;
}

.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
  width: 100%;
}

:host >>> .popover {
  background-color: #009688;
  color: #fff;
}
:host >>> .popover>.arrow:after {
  border-top-color: #009688;
}

.star-label {
  font-size: 30px;
}

.popover {
  max-width: 300px !important;
}

.btn {
  border-radius: 10px;
}

.btn i{
  font-size: 14px;
}

.tab-content>.tab-pane {
  min-height: 300px;
}
.ass-cont-part
{
  border-left:1px solid #c2c2c2;
}