body {
    background: #f5f5f5 !important;
}

.center {
    width: 100px;
    height: 100px;
    color: red;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}