<div class="dashboard-wrapper dashboard-wrapper-lg">

  <!-- Mail list starts -->
    <!-- Container fluid Starts -->
    <div class="container-fluid" *ngIf="!isComposeEmailView">

      <!-- Top Bar Starts -->
      <div class="top-bar clearfix">
        <div class="row gutter">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="page-title">
              <h3>Email</h3>
              <p>{{mode}}</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <ul class="right-stats" id="mini-nav-right">
              <li>
                <a (click)="goToComposeEmail(null,null,null,null)" class="btn btn-warning">
                  <span><i class="icon-file-text2 icon-2x"></i></span>Compose</a>
              </li>
              <li>
                <a href="javascript:void(0)" class="btn btn-warning">
                  <span>{{emailFolderDetails ? emailFolderDetails.unReadCount : 0}}</span>Unread</a>
              </li>
              <li>
                <a href="tasks.html" class="btn btn-success">
                  <span>{{emailFolderDetails ? emailFolderDetails.totalCount : 0}}</span>Mails</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Top Bar Ends -->

      <!-- Row starts -->
      <div class="row gutter">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="panel panel-green">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-striped no-margin">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>From</th>
                      <th>Subject</th>
                      <th>Received On</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let mail of emailList" >
                      <td></td>
                      <td>{{mail.fromContact}}</td>
                      <td><a (click)="viewMail(mail)">{{mail.subject}}</a></td>
                      <td>{{mail.emailTime | date}}</td>
                      <td>
                        <button class="btn btn-xs btn-info" (click)="composeNewEmail(mail.from,null, 'Re: ' + mail.subject, mail.body)" ><i class="fa fa-reply" aria-hidden="true" title="reply"></i></button>
                        <button class="btn btn-xs btn-info" (click)="replyAllInComposeMail(mail)" ><i class="fa fa-reply-all" aria-hidden="true" title="reply  all"></i></button>
                        <button class="btn btn-xs btn-success" (click)="composeNewEmail(null,null,'Fwd: ' + mail.subject, mail.body)"><i class="fa fa-share" aria-hidden="true" title="forward"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="text-center" *ngIf="emailFolderDetails">
                <pagination [totalItems]="emailFolderDetails.totalCount" [itemsPerPage]="10" [maxSize]="5" [(ngModel)]="currentPage"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [boundaryLinks]="true"
                [rotate]="false" (pageChanged)="pageChanged($event)"></pagination>
            </div>
          </div>
        </div>
      </div>
      <!-- Row Ends -->
    </div>
    <!-- Container fluid ends -->
  <!-- Mail list ends -->
  
  <!-- Compose Email Starts -->
    <!-- Container fluid Starts -->
    <div class="container-fluid" *ngIf="isComposeEmailView">
      <app-compose-email 
        [toEmail]="toEmail" 
        [ccEmail]="ccEmail" 
        [subjectEmail]="subjectEmail" 
        [bodyEmail]="bodyEmail"
        [emailContactsList]="emailContactsList"
        [userData]="userData"
        (closeComposeEmailSection)="closeComposeEmailSection($event)">
      </app-compose-email>
    </div>
    <!-- Container fluid ends -->
  <!-- Compose Email Ends -->

</div>
<!-- Dashboard Wrapper End -->
