<div class="profile-picture">
  <img *ngIf="base64Image" width=100 height=100  [src]="domSanitizer.bypassSecurityTrustUrl(base64Image)"/>
  <label *ngIf="!base64Image" for="uploader-input" ng2FileDrop [ngClass]="{'drag-over': hasDragOver}" (fileOver)="fileOver($event)" [uploader]="uploader">
    <div class="infotext"><span *ngIf="!url" >Drop your picture<br>or click to upload</span></div>
  </label>
  <input *ngIf="editmode" type="file" ng2FileSelect [uploader]="uploader" id="uploader-input" style="display:none" />
</div>
