<!--<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo"/>
      <span translate>Hello world !</span>
    </h1>
    <app-loader [isLoading]="isLoading"></app-loader>
    <q [hidden]="isLoading">{{quote}}</q>
  </div>
</div> -->


<!-- Dashboard Wrapper Start -->
<div class="dashboard-wrapper dashboard-wrapper-lg">

  <!-- Container fluid Starts -->
  <div class="container-fluid">

    <!-- Top Bar Starts -->
    <div class="top-bar clearfix">
      <div class="row gutter">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="page-title">
            <h3>Dashboard</h3>
            <p>Last visited at {{ dateVisit }}</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <ul class="right-stats" id="mini-nav-right">
            <li>
              <a href="javascript:void(0)" class="btn btn-danger"><span>76</span>Total Assignment</a>
            </li>
            <li>
              <a href="tasks.html" class="btn btn-success">
                <span>18</span>Completed</a>
            </li>
            <li>
              <a href="javascript:void(0)" class="btn btn-info"><i class="icon-download6"></i> Export</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Top Bar Ends -->

    <!-- Row Starts -->
    <div class="row gutter">
      
    </div>
    <!-- Row Ends -->


  </div>
  <!-- Container fluid ends -->
  
</div>
<!-- Dashboard Wrapper End -->