<form action="http://35.185.51.218:8080/STMWeb/payment" method="post">
  Assignment Id:<br>
  <input type="hidden" name="assignmentId"><br>
  Student Id:<br>
  <input type="hidden" name="studentId"><br><br>
  <input type="hidden" value="Submit">
</form>
<script type="text/javascript">
  function $_GET(param) {
          var vars = {};
          window.location.href.replace( location.hash, '' ).replace( 
                  /[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
                  function( m, key, value ) { // callback
                          vars[key] = value !== undefined ? value : '';
                  }
          );
          if ( param ) {
                  return vars[param] ? vars[param] : null;        
          }
          return vars;
  }
  document.forms[0].elements['assignmentId'].value = $_GET('assignmentId');
  document.forms[0].elements['studentId'].value = $_GET('studentId');
  document.forms[0].submit();
  </script>