.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.ico-input-side {
	position: absolute;
    right: 15px;
    top: 35px;
}

.rounder button, button.rounder{
  border-radius: 100%;
  width: 30px;
  height: 30px;
  margin: 5px;
  text-align: center;
  padding: 0;
  font-size: 10px;
}

button.rounder i{
  font-size: 27px;
}

agm-map {
  height: 225px;
}

.should-display {
  display: none;
}

.detail-info:hover .should-display{
  display: block;
}

.btn-info.active{
  background-color: #2c9749;
}
