<div class="dashboard-wrapper dashboard-wrapper-lg">

  <!-- Container fluid Starts -->
  <div class="container-fluid">

    <!-- Top Bar Starts -->
    <div class="top-bar clearfix">
      <div class="row gutter">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="page-title">
            <h3>User Profile</h3>
            <p>Small description about this profile / Pages /
              <a href="index.html">Home</a>
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <ul class="right-stats" id="mini-nav-right">
            <li>
              <a href="javascript:void(0)" class="btn btn-warning">
                <span>6</span>Assignment</a>
            </li>
            <li>
              <a href="javascript:void(0)" class="btn btn-info">
                <span>3</span>Seminar</a>
            </li>
            <li>
              <a href="javascript:void(0)" class="btn btn-success">
                <span>5</span>Free Lecture</a>
            </li>
            <li>
              <a href="tasks.html" class="btn btn-danger">
                <span>4.2</span>Rating</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Top Bar Ends -->

    <!-- Row starts -->
    <div class="row gutter">
      <div class="col-lg-5 col-md-5 col-sm-9 col-xs-12">
        <div class="panel height2 panel-bg-one">
          <div class="panel-body">
            <div class="user-profile clearfix">
              <div class="user-img">
                <img *ngIf="userData && userData.profile_pic" [src]="domSanitizer.bypassSecurityTrustUrl(userData.profile_pic)" alt="User Info">
                <img *ngIf="!userData" src="assets/thumbs/admin9.png" alt="User Info">
                <span class="completed-info" title="78 assignments">78</span>
              </div>
              <h5>Assignment</h5>
              <h3 *ngIf="userData" >{{userData.first_name}} {{userData.last_name}}</h3>
              <h4 *ngIf="userData" >{{userData.student_id ? 'Student' : 'Tutor'}}</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
        <div class="panel height2 dark-green-bg">
          <div class="panel-body no-padding">
            <div class="current-location">
              <h4 class="text-white no-margin">
                <i class="icon-location icon-2x"></i> Institutes</h4>
              <div id="mapDenmark" class="chart-height1" *ngIf="userData.tutor_id">
                    <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onLocationChoose($event)">
                      <agm-marker [latitude]="+institute.latitude" [longitude]="+institute.longitude" *ngFor="let institute of institutes"></agm-marker>
                    </agm-map>
              </div>
              <h5 class="location">Copenhagen, Denmark</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <!-- Row inside row starts -->
        <div class="row gutter">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel height1 red-bg">
              <div class="panel-body text-center">
                <div class="user-stats">
                  <div>
                    <i class="fa fa-star fa-4x text-white"></i>
                  </div>
                  <h5>4.2 Rating</h5>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="row gutter">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel height1 yellow-bg">
              <div class="panel-body text-center">
                <div class="user-stats">
                  <h1>5
                    <small>yrs</small>
                  </h1>
                  <h5>Experience</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Row inside row ends -->
      </div>
    </div>
    <!-- Row ends -->
    <!-- Row starts -->
    <div class="row gutter">
      <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
        <!-- Row inside row starts -->
        <div class="row gutter">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel">
              <div class="panel-body">
                <h4>
                  <i class="fa fa-2x fa-list text-info"></i> Details
                  <i class="fa fa-edit text-info pull-right" (click)="editSummary()"></i> 
                </h4>
                <div *ngIf="!editSummaryDetails">
                  <p>Address: <small>{{userData.address}}</small></p>
                  <p>Locality: <small>{{userData.locality}}</small></p>
                  <p>City: <small>{{userData.city}}</small></p>
                  <p>State: <small>{{userData.state}}</small></p>
                  <p>Pin Code: <small>{{userData.pincode}}</small></p>
                  <br/>
                  <br/>
                  <p>Contact no: <small>{{userData.mobile_number}}</small></p>
                  <p>Email: <small>{{userData.email}}</small></p>
                </div>
                <div *ngIf="editSummaryDetails" >
                  <form id="studentForm" [formGroup]="studentRegistrationForm" novalidate *ngIf="userData.student_id">
                       
                                <!-- first form group start-->
                                <div class="form-group">
                                <div class="row gutter">
                                      
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                  <label class="control-label">First Name <span class="text-star">*</span></label>
                                  <input type="text" class="form-control" formControlName="first_name" />
                                  <i class="fa fa-i-cursor ico-input-side"></i>
                                  <div *ngIf="studentRegistrationForm.controls.first_name.invalid && (studentRegistrationForm.controls.first_name.dirty || studentRegistrationForm.controls.first_name.touched)" class="alert alert-warning">                  
                                    <div *ngIf="studentRegistrationForm.controls.first_name.errors.required">
                                      First name is required.
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                  <label class="control-label">Last Name <span class="text-star">*</span></label>
                                  <input type="text" class="form-control" formControlName="last_name" />
                                  <i class="fa fa-i-cursor ico-input-side"></i>
                                  <div *ngIf="studentRegistrationForm.controls.last_name.invalid && (studentRegistrationForm.controls.last_name.dirty || studentRegistrationForm.controls.last_name.touched)" class="alert alert-warning">                  
                                    <div *ngIf="studentRegistrationForm.controls.last_name.errors.required">
                                      Last name is required.
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                  <label class="control-label">Date of birth <span class="text-star">*</span></label>
                                  <input type="text" placeholder="Date of Birth" class="form-control" formControlName="dob" bsDatepicker 
                                  [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red'}"/>
                                  <i class="fa fa-calendar-alt ico-input-side"></i>
                                  <div *ngIf="studentRegistrationForm.controls.dob.invalid && (studentRegistrationForm.controls.dob.dirty || studentRegistrationForm.controls.dob.touched)" class="alert alert-warning">                  
                                    <div *ngIf="studentRegistrationForm.controls.dob.errors.required">
                                      Date of birth is required.
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 selectContainer form-line">
                                  <label class="control-label">Blood Group</label>
                                  <select class="form-control" formControlName="blood_group">
                                    <option value="A+">A+</option>
                                    <option value="A-">A-</option>
                                    <option value="B+">B+</option>
                                    <option value="B-">B-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                    <option value="O+">O+</option>
                                    <option value="O-">O-</option>
                                  </select>
                                  <small [hidden]="studentRegistrationForm.controls.blood_group.valid || studentRegistrationForm.controls.blood_group.untouched"
                                  class="text-danger" translate>
                                    Blood group is required
                                  </small>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 selectContainer form-line">
                                  <label class="control-label">Food Preference</label>
                                  <select type="text" class="form-control" formControlName="food_preference">
                                      <option value="Vegetarian">Vegetarian</option>
                                      <option value="NonVegetarian">NonVegetarian</option>
                                  </select>
                                  <small [hidden]="studentRegistrationForm.controls.food_preference.valid || studentRegistrationForm.controls.food_preference.untouched"
                                  class="text-danger" translate>
                                    Food preference is required
                                  </small>  
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                                  <label class="control-label">Address <span class="text-star">*</span></label>
                                  <textarea class="form-control" formControlName="address" rows="2"></textarea>
                                  <i class="fa fa-i-cursor ico-input-side"></i>
                                  <div *ngIf="studentRegistrationForm.controls.address.invalid && (studentRegistrationForm.controls.address.dirty || studentRegistrationForm.controls.address.touched)" class="alert alert-warning">                  
                                    <div *ngIf="studentRegistrationForm.controls.address.errors.required">
                                      Address is required.
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                  <label class="control-label">Locality <span class="text-star">*</span></label>
                                  <input type="text" class="form-control" formControlName="locality" />
                                  <i class="fa fa-i-cursor ico-input-side"></i>
                                  <div *ngIf="studentRegistrationForm.controls.locality.invalid && (studentRegistrationForm.controls.locality.dirty || studentRegistrationForm.controls.locality.touched)" class="alert alert-warning">                  
                                    <div *ngIf="studentRegistrationForm.controls.locality.errors.required">
                                      Locality is required.
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                  <label class="control-label">City <span class="text-star">*</span></label>
                                  <input type="text" class="form-control" formControlName="city" />
                                  <i class="fa fa-i-cursor ico-input-side"></i>
                                  <div *ngIf="studentRegistrationForm.controls.city.invalid && (studentRegistrationForm.controls.city.dirty || studentRegistrationForm.controls.city.touched)" class="alert alert-warning">                  
                                    <div *ngIf="studentRegistrationForm.controls.city.errors.required">
                                      City is required.
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                  <label class="control-label">State <span class="text-star">*</span></label>
                                  <input type="text" class="form-control" formControlName="state" />
                                  <i class="fa fa-i-cursor ico-input-side"></i>
                                  <div *ngIf="studentRegistrationForm.controls.state.invalid && (studentRegistrationForm.controls.state.dirty || studentRegistrationForm.controls.state.touched)" class="alert alert-warning">                  
                                    <div *ngIf="studentRegistrationForm.controls.state.errors.required">
                                      State is required.
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                  <label class="control-label">Pin code <span class="text-star">*</span></label>
                                  <input type="text" class="form-control" formControlName="pincode" />
                                  <i class="fa fa-i-cursor ico-input-side"></i>
                                  <div *ngIf="studentRegistrationForm.controls.pincode.invalid && (studentRegistrationForm.controls.pincode.dirty || studentRegistrationForm.controls.pincode.touched)" class="alert alert-warning">                  
                                    <div *ngIf="studentRegistrationForm.controls.pincode.errors.required">
                                      Pin code is required.
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                                <!-- first form group end-->


                            <!-- second form group start-->
                            <div class="form-group">
                              <div class="row gutter">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                  <label class="control-label">Mobile No</label>
                                  <input type="text" class="form-control" formControlName="mobile_number" />
                                  <i class="fa fa-phone ico-input-side"></i>
                                  <small [hidden]="studentRegistrationForm.controls.mobile_number.valid || studentRegistrationForm.controls.mobile_number.untouched"
                                  class="text-danger" translate>
                                    Contact no is required
                                  </small> 
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                  <label class="control-label">Email Id</label>
                                  <input type="text" class="form-control" formControlName="email" />
                                  <i class="fa fa-envelope ico-input-side"></i>
                                  <small [hidden]="studentRegistrationForm.controls.email.valid || studentRegistrationForm.controls.email.untouched"
                                  class="text-danger" translate>
                                    Email id is required
                                  </small> 
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                  <label class="control-label">Emergency Contact No</label>
                                  <input type="text" class="form-control" formControlName="emergency_contact" />
                                  <i class="fa fa-phone ico-input-side"></i>
                                  <small [hidden]="studentRegistrationForm.controls.emergency_contact.valid || studentRegistrationForm.controls.emergency_contact.untouched"
                                  class="text-danger" translate>
                                    Emergency contact is required
                                  </small>
                                </div>
                              </div>
                            </div>
                            

                            <!-- second form group end-->
                              

                            <!-- third form group start(father-mother)-->


                            <div class="form-group">
                              <div class="row gutter">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                  <label class="control-label">Father Name</label>
                                  <input type="text" class="form-control" formControlName="father_name" />
                                  <i class="fa fa-i-cursor ico-input-side"></i>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                  <label class="control-label">Qualification</label>
                                  <input type="text" class="form-control" formControlName="father_qualification" />
                                  <i class="fa fa-graduation-cap ico-input-side"></i>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                  <label class="control-label">Date of Birth</label>
                                  <input type="text" class="form-control" formControlName="father_dob" bsDatepicker [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red'}"/>
                                  <i class="fa fa-calendar-alt ico-input-side"></i>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                  <label class="control-label">Profession</label>
                                  <input type="text" class="form-control" formControlName="father_profession" />
                                  <i class="fa fa-vcard-o ico-input-side"></i>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="row gutter">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                  <label class="control-label">Mother Name</label>
                                  <input type="text" class="form-control" formControlName="mother_name" />
                                  <i class="fa fa-i-cursor ico-input-side"></i>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                  <label class="control-label">Qualification</label>
                                  <input type="text" class="form-control" formControlName="mother_qualification" />
                                  <i class="fa fa-graduation-cap ico-input-side"></i>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                  <label class="control-label">Date of Birth</label>
                                  <input type="text" class="form-control" formControlName="mother_dob" bsDatepicker [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red'}"/>
                                  <i class="fa fa-calendar-alt ico-input-side"></i>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                  <label class="control-label">Profession</label>
                                  <input type="text" class="form-control" formControlName="mother_profession" />
                                  <i class="fa fa-vcard-o ico-input-side"></i>
                                </div>
                              </div>
                            </div>


                            <!-- third form group end-->
                            
                            <!-- fourth form group start-->

                            <div class="form-group">
                              <div class="row gutter">

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 selectContainer form-line">
                                  <label class="control-label">Reminder Preference</label>
                                  <select class="form-control" formControlName="remind_pref">
                                    <option value="1">Both</option>
                                    <option value="2">Email</option>
                                    <option value="3">SMS</option>
                                  </select>
                                  <small [hidden]="studentRegistrationForm.controls.remind_pref.valid || studentRegistrationForm.controls.remind_pref.untouched"
                                  class="text-danger" translate>
                                  Reminder Preference is required
                                  </small>
                                </div>

                                </div>
                            </div>


                            <!-- fourth form group end-->
                            <button type="submit" class="btn btn-primary" (click)="updateSummary()" [disabled]="studentRegistrationForm.invalid">Submit</button>
                            <button class="btn btn-default" (click)="editSummaryDetails = false">Cancel</button>
                          </form>
  
                          <form id="tutorForm" [formGroup]="tutorRegistrationForm" novalidate *ngIf="userData.tutor_id">

                            <!-- First form group start -->
                            <div class="form-group">
                              <div class="row gutter">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                <label class="control-label">First Name <span class="text-star">*</span></label>
                                <input type="text" class="form-control" formControlName="first_name" />
                                <i class="fa fa-i-cursor ico-input-side"></i>
                                <div *ngIf="tutorRegistrationForm.controls.first_name.invalid && (tutorRegistrationForm.controls.first_name.dirty || tutorRegistrationForm.controls.first_name.touched)" class="alert alert-warning">                  
                                  <div *ngIf="tutorRegistrationForm.controls.first_name.errors.required">
                                    First name is required.
                                  </div>
                                </div>
                              </div>

                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                <label class="control-label">Last Name <span class="text-star">*</span></label>
                                <input type="text" class="form-control" formControlName="last_name" />
                                <i class="fa fa-i-cursor ico-input-side"></i>
                                <div *ngIf="tutorRegistrationForm.controls.last_name.invalid && (tutorRegistrationForm.controls.last_name.dirty || tutorRegistrationForm.controls.last_name.touched)" class="alert alert-warning">                  
                                  <div *ngIf="tutorRegistrationForm.controls.last_name.errors.required">
                                    Last name is required.
                                  </div>
                                </div>
                              </div>

                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                <label class="control-label">Date of birth <span class="text-star">*</span></label>
                                <input type="text" placeholder="Date of Birth" class="form-control" formControlName="dob" bsDatepicker 
                                [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red'}"/>
                                <i class="fa fa-calendar-alt ico-input-side"></i>
                                <div *ngIf="tutorRegistrationForm.controls.dob.invalid && (tutorRegistrationForm.controls.dob.dirty || tutorRegistrationForm.controls.dob.touched)" class="alert alert-warning">                  
                                  <div *ngIf="tutorRegistrationForm.controls.dob.errors.required">
                                    Date of birth is required.
                                  </div>
                                </div>
                              </div>

                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                                <label class="control-label">Address <span class="text-star">*</span></label>
                                <textarea class="form-control" formControlName="address" rows="2"></textarea>
                                <i class="fa fa-i-cursor ico-input-side"></i>
                                <div *ngIf="tutorRegistrationForm.controls.address.invalid && (tutorRegistrationForm.controls.address.dirty || tutorRegistrationForm.controls.address.touched)" class="alert alert-warning">                  
                                  <div *ngIf="tutorRegistrationForm.controls.address.errors.required">
                                    Address is required.
                                  </div>
                                </div>
                              </div>

                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                <label class="control-label">Locality <span class="text-star">*</span></label>
                                <input type="text" class="form-control" formControlName="locality" />
                                <i class="fa fa-i-cursor ico-input-side"></i>
                                <div *ngIf="tutorRegistrationForm.controls.locality.invalid && (tutorRegistrationForm.controls.locality.dirty || tutorRegistrationForm.controls.locality.touched)" class="alert alert-warning">                  
                                  <div *ngIf="tutorRegistrationForm.controls.locality.errors.required">
                                    Locality is required.
                                  </div>
                                </div>
                              </div>

                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                <label class="control-label">City <span class="text-star">*</span></label>
                                <input type="text" class="form-control" formControlName="city" />
                                <i class="fa fa-i-cursor ico-input-side"></i>
                                <div *ngIf="tutorRegistrationForm.controls.city.invalid && (tutorRegistrationForm.controls.city.dirty || tutorRegistrationForm.controls.city.touched)" class="alert alert-warning">                  
                                  <div *ngIf="tutorRegistrationForm.controls.city.errors.required">
                                    City is required.
                                  </div>
                                </div>
                              </div>
                      
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                <label class="control-label">State <span class="text-star">*</span></label>
                                <input type="text" class="form-control" formControlName="state" />
                                <i class="fa fa-i-cursor ico-input-side"></i>
                                <div *ngIf="tutorRegistrationForm.controls.state.invalid && (tutorRegistrationForm.controls.state.dirty || tutorRegistrationForm.controls.state.touched)" class="alert alert-warning">                  
                                  <div *ngIf="tutorRegistrationForm.controls.state.errors.required">
                                    State is required.
                                  </div>
                                </div>
                              </div>

                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                <label class="control-label">Pin code <span class="text-star">*</span></label>
                                <input type="text" class="form-control" formControlName="pincode" />
                                <i class="fa fa-i-cursor ico-input-side"></i>
                                <div *ngIf="tutorRegistrationForm.controls.pincode.invalid && (tutorRegistrationForm.controls.pincode.dirty || tutorRegistrationForm.controls.pincode.touched)" class="alert alert-warning">                  
                                  <div *ngIf="tutorRegistrationForm.controls.pincode.errors.required">
                                    Pin code is required.
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>


                            <!-- First form group end -->
                            
                            <!--second form group start-->
                              <div class="form-group">
                                <div class="row gutter">
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                    <label class="control-label">Mobile No <span class="text-star">*</span></label>
                                    <input type="text" class="form-control" formControlName="mobile_number" />
                                    <i class="fa fa-phone ico-input-side"></i>
                                    <div *ngIf="tutorRegistrationForm.controls.mobile_number.invalid && (tutorRegistrationForm.controls.mobile_number.dirty || tutorRegistrationForm.controls.mobile_number.touched)" class="alert alert-warning">                  
                                      <div *ngIf="tutorRegistrationForm.controls.mobile_number.errors.required">
                                        Contact no is required.
                                      </div>
                                      <div *ngIf="tutorRegistrationForm.controls.mobile_number.errors.pattern">
                                        Contact no should be of 10 digits.
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                    <label class="control-label">Email Id <span class="text-star">*</span></label>
                                    <input type="text" class="form-control" formControlName="email" />
                                    <i class="fa fa-envelope ico-input-side"></i>
                                    <div *ngIf="tutorRegistrationForm.controls.email.invalid && (tutorRegistrationForm.controls.email.dirty || tutorRegistrationForm.controls.email.touched)" class="alert alert-warning">                  
                                      <div *ngIf="tutorRegistrationForm.controls.email.errors.required">
                                        Email is required.
                                      </div>
                                    </div> 
                                  </div>
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                      <label class="control-label">Qualification</label>
                                      <input type="text" class="form-control" formControlName="qualification" />
                                      <i class="fa fa-graduation-cap ico-input-side"></i>
                                    </div>
                                </div>
                              </div>

                              <!--second form group end-->


                              <!--third form group start-->


                              <!--third form group end-->
                              <button type="submit" class="btn btn-primary" (click)="updateSummary()" [disabled]="tutorRegistrationForm.invalid">Submit</button>
                              <button class="btn btn-default" (click)="editSummaryDetails = false">Cancel</button>
                            </form>
  
                        </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Row inside row ends -->
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
        <!-- Row inside row starts -->
        <div class="row gutter">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel">
              <div class="panel-body no-padding">
                <h4>
                  <i class="fa fa-2x text-info" [ngClass]="{'fa-graduation-cap' : userData.student_id, 'fa-university': userData.tutor_id}" ></i> 
                  {{userData.tutor_id ? 'Associated Institutes' : 'Academic Records'}}
                  <button type="button" class="btn btn-info btn-xs pull-right rounder"
                          [(ngModel)]="showForm" btnCheckbox>
                          <i class="fa fa-plus-circle"></i>
                  </button>
                </h4>
                  <ul *ngIf="showForm">
                     <!--tutor form start-->
                  <form id="addUpForm" [formGroup]="addUpForm" novalidate *ngIf="userData.tutor_id">
                          <div class="form-group">
                <div class="row gutter">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label">Institute</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="Institute Name"/>
                        <i class="fa fa-i-cursor ico-input-side"></i>
                        <small [hidden]="addUpForm.controls.name.valid || addUpForm.controls.name.untouched"
                          class="text-danger" translate>
                          Institute Name is required
                        </small>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <label class="control-label">Institute Location</label>
                      <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onLocationChoose($event)">
                          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                      </agm-map>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label">Institute Week Days</label>
                        <div style="padding-bottom: 10px;" class="text-center rounder">
                        <button type="button" class="btn btn-danger" formControlName="sun" btnCheckbox>SU</button>
                        <button type="button" class="btn btn-info" formControlName="mon" btnCheckbox>MO</button>
                        <button type="button" class="btn btn-info" formControlName="tue" btnCheckbox>TU</button>
                        <button type="button" class="btn btn-info" formControlName="wed" btnCheckbox>WE</button>
                        <button type="button" class="btn btn-info" formControlName="thu" btnCheckbox>TH</button>
                        <button type="button" class="btn btn-info" formControlName="fri" btnCheckbox>FR</button>
                        <button type="button" class="btn btn-danger" formControlName="sat" btnCheckbox>SA</button>
                      </div>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label">Institute Start Timing</label>
                    <timepicker [(ngModel)]="startTime" [ngModelOptions]="{standalone: true}"></timepicker>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label">Institute End Timing</label>
                    <timepicker [(ngModel)]="endTime" [ngModelOptions]="{standalone: true}"></timepicker>
                  </div>
                  
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label">Charges per class</label>
                    <input type="text" class="form-control" formControlName="fees" />
                    <i class="fa fa-rupee-sign ico-input-side"></i>
                    <small [hidden]="addUpForm.controls.fees.valid || addUpForm.controls.fees.untouched"
                                          class="text-danger" translate>
                                          Fees is required in INR
                                          </small>
                  </div>
                </div>
              </div>
              <div class="form-group no-margin">
                  <div class="row gutter">
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-warning" (click)="save()">Save</button>
                    </div>
                  </div>
                </div>
                  </form>  
                  <!--tutor form end-->
                  <!--Student form start-->
                  <form id="addUpForm" [formGroup]="addUpForm" novalidate *ngIf="userData.student_id">
                    <div class="form-group">
                      <div class="row gutter">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <label class="control-label">Institute/School Name</label>
                          <input type="text" class="form-control" placeholder="Institute or school name..." formControlName="school" />
                          <small [hidden]="addUpForm.controls.school.valid || addUpForm.controls.school.untouched"
                                          class="text-danger" translate>
                                          Institute/School Name is required
                                          </small>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="row gutter">
                                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 selectContainer">
                                          <label class="control-label">From Year</label>
                                          <select class="form-control" formControlName="from_year">
                                              <option *ngFor="let fromY of fromYear" [value]="fromY">{{fromY}}</option>
                                          </select>
                                          <small [hidden]="addUpForm.controls.from_year.valid || addUpForm.controls.from_year.untouched"
                                          class="text-danger" translate>
                                            From year is required
                                          </small>
                                      </div>

                                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 selectContainer">
                                        <label class="control-label">To Year</label>
                                        <select class="form-control" formControlName="to_year">
                                          <option *ngFor="let toY of toYear" [value]="toY">{{toY}}</option>
                                          <option value="-1">---</option>
                                        </select>
                                        <small [hidden]="addUpForm.controls.to_year.valid || addUpForm.controls.to_year.untouched"
                                          class="text-danger" translate>
                                            To year is required
                                          </small>
                                      </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row gutter">
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label class="control-label">Degree</label>
                            <input type="text" class="form-control" placeholder="Enter the degree you earned" formControlName="degree" />
                            <small [hidden]="addUpForm.controls.degree.valid || addUpForm.controls.degree.untouched"
                              class="text-danger" translate>
                                Degree is required
                              </small>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                              <label class="control-label">Grade</label>
                              <input type="text" class="form-control" placeholder="Put your grades/percentage here" formControlName="grade" />
                              <small [hidden]="addUpForm.controls.grade.valid || addUpForm.controls.grade.untouched"
                              class="text-danger" translate>
                                Grade is required
                              </small>
                            </div>
                        </div>
                      </div>

                      <div class="form-group">
                          <div class="row gutter">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <label class="control-label">Description</label>
                              <textarea class="form-control" formControlName="description" rows="3"></textarea>
                            </div>
                          </div>
                        </div>
                                    
                    <div class="form-group no-margin">
                      <div class="row gutter">
                        <div class="col-md-12">
                          <button type="submit" class="btn btn-warning" (click)="save()">Save</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </ul>
                <ul class="experience" *ngIf="!showForm && userData.student_id">
                  <p *ngIf="academics && !academics.length">No academic records captured for your profile, Please add the academic record to complete your profile.</p>
                  <p class="text-center" *ngIf="loadingA"><i class="fa fa-circle-o-notch" aria-hidden="true"></i></p>
                  <li class="green" *ngFor="let academic of academics">
                    <div class="detail-info">
                      <p class="date text-success"><b>{{academic.degree}} ({{academic.from_year}}-{{academic.to_year}})</b>  
                       <i class="fa fa-edit should-display pull-right" (click)="editAcademic(academic)"></i></p>
                      <p class="message">{{academic.grade}}</p>
                      <p class="message">{{academic.school}}</p>
                      <p class="message"><small>{{academic.description}}</small></p>
                    </div>
                  </li>
                </ul>
                <ul class="experience" *ngIf="!showForm && userData.tutor_id">
                    <p *ngIf="institutes && !institutes.length">No institute records captured for your profile, Please add the institute record to complete your profile.</p>
                    <p class="text-center" *ngIf="loadingA"><i class="fa fa-circle-o-notch" aria-hidden="true"></i></p>
                    <li class="green" *ngFor="let institute of institutes">
                      <div class="detail-info">
                        <p class="date text-success"><b>{{institute.name}}</b> <i class="fa fa-edit should-display pull-right" (click)="editInstitute(institute)"></i></p>
                        <p class="message"><i class="fa fa-inr" aria-hidden="true"></i> {{institute.fees}}</p>
                        <p class="message">Weekdays: {{getUIFriendlyWeeks(institute.weekdays)}}</p>
                      </div>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Row inside row ends -->
      </div>
    </div>
    <!-- Row ends -->

  </div>
  <!-- Container fluid ends -->

</div>
<!-- Dashboard Wrapper End -->