<style>
  .btnCrateBlog{
    background: #237b9c;
    padding: 10px;
    color:#F9BB06;
    border: none;
    margin-bottom:10px;
  }
</style>


<div class="dashboard-wrapper dashboard-wrapper-lg">
    <div class="row gutter">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="pull-right">
    <button (click)="createNewBlog()" class="btnCrateBlog" *ngIf="isDoctor()">
      <i class="fa fa-edit"></i>
      <span class="menu-item">Blog</span>
    </button>
  </div>
  <div class="row gutter">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="panel panel-green">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped no-margin">
              <thead>
                <tr>
                  <th>Title</th> 
                  <th>Creation Date</th>
                  <th>&nbsp;&nbsp;&nbsp;Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let blog of blogList">
                  <td>{{blog.title}}</td>
                  <td>{{blog.creation_date | date}}</td>
                  <td>
                    <button type="submit" class="btn btn-warning" (click)="gotoView(blog.id)">View</button>
                   &nbsp; <button type="submit" class="btn btn-warning" (click)="gotoEdit(blog.id)" *ngIf="blog.doctorId.id === userData.id">Edit</button>
                   &nbsp; <button type="submit" class="btn btn-warning" (click)="deleteBlog(blog.id)" *ngIf="blog.doctorId.id === userData.id">Delete</button>
                  </td> 
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Row Ends -->
  
  </div>
  </div>
  </div>
  