<div class="dashboard-wrapper dashboard-wrapper-lg">
  <div class="row gutter">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="panel panel-green">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped no-margin">
              <thead>
                <tr>
                  <th>
                    {{blog.title}}
                    <button type="submit" class="btn btn-warning pull-right" (click)="goToBlogList()">Go to Blogs</button>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <p [innerHTML]="blog.content"></p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>


        <div class="form-group">
          <h2>Leave a Comment</h2>
          <form id='commentForm' [formGroup]="commentForm" novalidate>
            <textarea class="form-control" rows="5" formControlName="comment" placeholder="Your Comment"></textarea>
            <small [hidden]="commentForm.controls.comment.valid || commentForm.controls.comment.untouched" class="text-danger" translate>
              comment is required
            </small>
            <br/>
            <button class="btn btn-success btn-md pull-right" (click)="saveComment(blog.id)">Comment</button>
            <br/>
            <hr/>

            <h3>Comments</h3>
            <ul class="list-group">
              <tree-root #tree [nodes]="commentList" (updateData)= "onUpdateData(tree, $event)">
                <ng-template #treeNodeTemplate let-node let-index="index">
                  <div class="pull-left">{{ node.data.description }}</div>
                  <div class="pull-right">
                    <button type="submit" class="btn btn-warning btn-xs" (click)="node.data.reply=!node.data.reply;node.data.edit=false;">Reply</button>
                    <button type="submit" class="btn btn-info btn-xs" (click)="node.data.edit=!node.data.edit;node.data.reply=false;">Edit</button>
                    <button type="submit" class="btn btn-danger btn-xs" (click)="deleteCmt(node.data.id,blog.id);">Delete</button>
                  </div>
                  <div *ngIf="node.data.reply">
                    <textarea class="form-control" rows="5" id="{{node.data.id}}" placeholder="Post your reply"></textarea>
                    <br/>
                    <button class="btn btn-success btn-md pull-right" (click)="saveReplay(node.data.id,blog.id);">Reply</button>
                  </div>
                  <div *ngIf="node.data.edit">
                      <textarea class="form-control" rows="5" id="{{node.data.id}}" placeholder="Your Comment" value={{node.data.description}}></textarea>
                      <br/>
                      <button class="btn btn-success btn-md pull-right" (click)="editCmt(node.data.id,blog.id);">Save</button>
                  </div>
                </ng-template>
              </tree-root>
            </ul>



          </form>
        </div>


      </div>
    </div>
  </div>
  <!-- Row Ends -->

</div>
