<!-- Dashboard Wrapper Start -->
<div class="dashboard-wrapper dashboard-wrapper-lg">

  <!-- Container fluid Starts -->
  <div class="container-fluid">

    <!-- Row starts -->
    <div class="row gutter">
      <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12">


        <div class="row gutter">
          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            <div class="panel height500">
              <div class="panel-body">
                <h4>
                  <i class="fa fa-pen-square fa-2x text-warning"></i> Blogs</h4>
                <ul *ngFor="let blog of blogs">
                  <li class="green" style="border-bottom: 1px solid gray; margin-bottom: 5px;">
                    <div class="detail-info">
                      <p class="date">
                        <b>{{blog.title}}</b>
                      </p>
                      <p class="message">Creation Date: {{blog.creation_date | date:"shortDate"}}</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row gutter">
          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            <div class="panel height500">
              <div class="panel-body">
                <h4>
                  <i class="fa fa-calendar fa-2x text-danger"></i> Calender </h4>
                <angular2-fullcalendar [options]="calendarOptions" *ngIf="events && events.length"></angular2-fullcalendar>
              </div>
            </div>
          </div>
        </div>

        <div class="row gutter">
          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            <div class="panel height500">
              <div class="panel-body">
                <h4>
                  <!--    -->
                  <i class="fas fa-star"></i> Ratings </h4>
                <div *ngFor="let tutor of tutors">
                  <rating *ngIf="userData.tutor_id === tutor.tutor.tutor_id" [(ngModel)]="tutor.star" [max]="max"
                    [readonly]="true" [customTemplate]="tt"></rating>
                  <ng-template #tt let-i="index" let-v="value">
                    <label class="star-label {{i < v ? 'text-warning' : 'text-default'}}">
                      {{i < v ? '&#9733;' : '&#9734;' }} </label> </ng-template> </div> </div> </div> </div> </div>
                        

                      <div class="row gutter"  >
                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                          <div class="panel height500">
                            <div class="panel-body">
                              <h4>
                                <i class="fa fa-file fa-2x text-warning"></i> Assignments</h4>
                              <ul *ngFor="let assignment of assignmentDetails">
                                <li class="green" style="border-bottom: 1px solid gray; margin-bottom: 5px;">
                                  <div class="detail-info" >
                                    <p class="date">
                                      <b>{{assignment.title}}</b>
                                    </p>
                                    <p class="message">Description: {{assignment.description}}</p>
                                    <p class="message">Creation Date: {{assignment.creation_date | date:"short"}}</p>
                                    <p class="message">Due Date: {{assignment.due_date | date:"short"}}</p>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                </div>


                <div class="row gutter">
                  <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                    <div class="panel height500">
                      <div class="panel-body">
                        <h4>
                          <i class="far fa-newspaper fa-2x text-warning"></i> Question Set</h4>
                        <ul *ngFor="let questionsSet of questionSetList">
                          <li class="green" style="border-bottom: 1px solid gray; margin-bottom: 5px;">
                            <div class="detail-info">
                              <p class="date">
                                <b>{{questionsSet.name}}</b>
                              </p>
                              <p class="message">Name: {{questionsSet.subject_id.name}}</p>
                              <p class="message">Creation Date: {{questionsSet.creation_date | date:"short"}}</p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>


                







              </div>
             
            </div>
            <!-- Row ends -->

          </div>
          <!-- Container fluid ends -->

        </div>
        <!-- Dashboard Wrapper End -->