<form action="http://35.185.51.218:8080/STMWeb/payment" method="post">
  Assignment Id:<br>
  <input type="text" name="assignmentId"><br>
  Student Id:<br>
  <input type="text" name="studentId"><br><br>
  <input type="submit" value="Submit">
</form>