<!-- Dashboard Wrapper Start -->
<div class="dashboard-wrapper dashboard-wrapper-lg">

  <!-- Container fluid Starts -->
  <div class="container-fluid">

    <!-- Top Bar Starts -->
    <div class="top-bar clearfix">
      <div class="row gutter">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="page-title">
            <h3>Assignment Tutor View</h3>
            <p>Assignment/Seminar/Free Courses in progress</p>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-calendar-check"></i>
              </span>
              <input type="text" placeholder="CreationDate date" bsDaterangepicker [(ngModel)]="dateVisit" (bsValueChange)="onValueChange($event)"
              [bsConfig]="{ showWeekNumbers: false, containerClass: 'theme-red'}" class="form-control"/>
              <span class="input-group-addon">
                <button class="btn btn-xs btn-warning" (click)="dateVisit=[]">View all</button>
              </span>
          </div> 
      </div>

      </div>
    </div>
    <!-- schedule modal -->
 
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="scheduleForm" [formGroup]="scheduleForm" novalidate>
            <div class="form-group">
                <div class="row gutter">
                  <div class="col-md-12">
                    <label class="control-label">Title</label>
                    <input type="text" class="form-control" placeholder="Title" formControlName="title" />
                    <small [hidden]="scheduleForm.controls.title.valid || scheduleForm.controls.title.untouched"
                      class="text-danger" translate>
                      Schedule name is required
                    </small>
                  </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row gutter">
                  <div class="col-md-12">
                    <label class="control-label">Select the from and to date for schedule</label>
                    <input type="text" class="form-control" placeholder="Date range for schedule" bsDaterangepicker 
                      formControlName="range" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red' }"/>
                    <small [hidden]="scheduleForm.controls.title.valid || scheduleForm.controls.title.untouched"
                      class="text-danger" translate>
                      Range is required
                    </small>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label class="control-label">Start Timing</label>
                    <timepicker [(ngModel)]="startTime" [ngModelOptions]="{standalone: true}"></timepicker>
                  </div>
      
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <label class="control-label">End Timing</label>
                    <timepicker [(ngModel)]="endTime" [ngModelOptions]="{standalone: true}"></timepicker>
                  </div>
                </div>
            </div>
            <div class="form-group no-margin">
                <div class="row gutter">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-warning" (click)="saveSchedule()">
                      Create schedule
                    </button>
                  </div>
                </div>
              </div>
        </form>
      </div>
    </ng-template>
    <!-- End schedule modal -->
    <!-- Top Bar Ends -->
    <div class="row gutter">
    <div *ngFor="let board of assignmentBoards">
      <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="task-wrapper" id="{{board.id}}">
              <h4 class="task-name text-danger">{{board.title}} -
                <span id="openOdometer" class="odometer">{{board.id}}</span>
              </h4>
              <a (click)="goTo('assignment')" class="add-task-btn" *ngIf="board.id === 1 || board.id === 4">
                  <i class="fa fa-plus"></i>Create New</a>
                  <!-- <i class="fa fa-spinner fa-spin" *ngIf=""></i>  -->  
              <div class="task-block" [ngClass]="{'bug': entity.type == 2, 'critical': entity.type == 1, 'complete': entity.type == 4, 'new': entity.type == 3}" *ngFor="let entity of getAssignmentForBoard(board.id)">
                  <h5 class="task-id">{{getIdForUI(entity)}}
                    <i class="icon-controller-record"></i>
                  </h5>
                  <div class="assigned-user">
                     
                          <img *ngIf="entity.tutor_id.profile_pic && entity.tutor_id.profile_pic !== 'test'" [src]="domSanitizer.bypassSecurityTrustUrl(entity.tutor_id.profile_pic)" alt="User" height="50px" width="50px"/>
                          <div *ngIf="!entity.tutor_id.profile_pic || entity.tutor_id.profile_pic === 'test'" class="no-image-sm">
                              <span>{{entity.tutor_id.first_name.charAt(0).toUpperCase()}}{{entity.tutor_id.last_name.charAt(0).toUpperCase()}}</span>
                          </div>
                      
                    <!-- <img [src]="domSanitizer.bypassSecurityTrustUrl(entity.tutor_id.profile_pic)" class="img-responsive" alt="Arise Admin" /> -->
                  </div>
                  <p class="task-desc">{{entity.title}}</p>
                  <p class="small">{{entity.description}}</p>
                  <ul class="task-footer">
                    <li>{{entity.due_date}}</li>
                    <li>
                        <button class="btn btn-xs btn-success" (click)="openModal(template, entity)">Schedule</button>
                    </li>
                  </ul>
                  <span class="task-type">{{getBatchForUI(entity)}}</span>
              </div>
          </div>   
      </div>
    </div>
   

  </div>
  <!-- Container fluid ends -->

</div>
<!-- Dashboard Wrapper End -->
