@import "../../assets/css/tasks.css";
@import "../../assets/css/dragula.min.css";
.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.post-footer{
  height: 30px;
}

.post-footer .btn{
  margin-top: 8px;
}

.task-block.overdue {
  background: #ff6666;
  color: white;
}

.task-type.stats {
  background: #4286F7 !important; 
}

.btn-danger i.rup{
  font-size: 12px;
  color: white;
}