<!-- Dashboard Wrapper Start -->
<div class="dashboard-wrapper dashboard-wrapper-lg">

  <!-- Container fluid Starts -->
  <div class="container-fluid">

    <!-- Top Bar Starts -->
    <div class="top-bar clearfix">
      <div class="row gutter">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="page-title">
            <h3>Assignment Student View</h3>
            <p>Assignment/Seminar/Free Courses in progress</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-calendar-check"></i>
            </span>
            <input type="text" placeholder="CreationDate date" bsDaterangepicker [(ngModel)]="dateVisit"
              (bsValueChange)="onValueChange($event)" [bsConfig]="{ showWeekNumbers: false, containerClass: 'theme-red'}"
              class="form-control" />
            <span class="input-group-addon">
              <button class="btn btn-xs btn-warning" (click)="dateVisit=[]">View all</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!-- Top Bar Ends -->

    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Payment Status</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <i class="fa fa-rupee fa-3x"></i>
        <h4 *ngIf="status === 'TXN_SUCCESS'"> Your payment was successful and you are enrolled for
          {{assignmentToPay.title}}.
          <br />Enrolled assignment will be displayed on open board now.</h4>
        <h4 *ngIf="status === 'TXN_FAILURE'"> Your payment was not successful and your enrollment for
          {{assignmentToPay.title}} is denied by system.
          <br />Please try again to enroll.</h4>
      </div>
    </ng-template>

    <!-- Row starts -->
    <div class="row gutter">
      <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="task-wrapper" id="opened">
          <h4 class="task-name text-danger">Available -
            <span id="openOdometer" class="odometer">{{assignments ? assignments.length : 0}}</span>
          </h4>
          <div class="task-block" [ngClass]="{'bug': entity.type == 2, 'critical': entity.type == 1, 'complete': entity.type == 4, 'new': entity.type == 3}"
            *ngFor="let entity of assignments">
            <h5 class="task-id">{{getIdForUI(entity)}}
              <i class="icon-controller-record"></i>
            </h5>
            <div class="assigned-user">
              <!-- <img [src]="domSanitizer.bypassSecurityTrustUrl(entity.tutor_id.profile_pic)" class="img-responsive" alt="Arise Admin" /> -->
              <img *ngIf="entity.tutor_id.profile_pic && entity.tutor_id.profile_pic !== 'test'" [src]="domSanitizer.bypassSecurityTrustUrl(entity.tutor_id.profile_pic)"
                alt="User" height="50px" width="50px" />
              <div *ngIf="!entity.tutor_id.profile_pic || entity.tutor_id.profile_pic === 'test'" class="no-image-sm">
                <span>{{entity.tutor_id.first_name.charAt(0).toUpperCase()}}{{entity.tutor_id.last_name.charAt(0).toUpperCase()}}</span>
              </div>
            </div>
            <p class="task-desc">{{entity.title}}</p>
            <p class="small">{{entity.description}}</p>
            <ul class="task-footer">
              <li class="label-success" *ngIf="entity.due_date > currDate">{{entity.due_date}}</li>
              <li class="label-danger" *ngIf="entity.due_date < currDate">{{entity.due_date}}</li>
              <li>
                <button class="btn btn-xs" [ngClass]="{'btn-success' : !entity.payment, 'btn-danger': entity.payment}"
                  (click)="enroll(entity, template)">
                  <i class="fa fa-rupee-sign rup" *ngIf="entity.payment"></i>Enroll</button>
              </li>
            </ul>
            <span class="task-type">{{getBatchForUI(entity)}}</span>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-12" *ngFor="let board of assignmentBoards;">
        <div class="task-wrapper" id="{{board.id}}" [dragula]="'ass-board'" [dragulaOptions]="{removeOnSpill: true}">
          <h4 class="task-name text-danger">{{board.title}} -
            <span id="openOdometer" class="odometer">{{board.id}}</span>
          </h4>
          <div class="task-block" id="{{entity.id}}" [ngClass]="{'bug': entity.type == 2, 'critical': entity.type == 1, 'complete': entity.type == 4, 'new': entity.type == 3}"
            *ngFor="let entity of getAssignmentForBoard(board)">
            <h5 class="task-id">{{getIdForUI(entity.assignment_id)}}
              <i class="icon-controller-record"></i>
            </h5>
            <div class="assigned-user">

              <img *ngIf="entity.student_id.profile_pic && entity.student_id.profile_pic !== 'test'" [src]="domSanitizer.bypassSecurityTrustUrl(entity.student_id.profile_pic)"
                alt="User" height="50px" width="50px" />
              <div *ngIf="!entity.student_id.profile_pic || entity.student_id.profile_pic === 'test'" class="no-image-sm">
                <span>{{entity.student_id.first_name.charAt(0).toUpperCase()}}{{entity.student_id.last_name.charAt(0).toUpperCase()}}</span>
              </div>

              <!-- <img [src]="domSanitizer.bypassSecurityTrustUrl(entity.student_id.profile_pic)" class="img-responsive" alt="Arise Admin"
              /> -->
            </div>
            <p class="task-desc">{{entity.assignment_id.title}}</p>
            <p class="small">{{entity.assignment_id.description}}</p>
            <ul class="task-footer">
              <li class="label-success" *ngIf="entity.assignment_id.due_date > currDate">{{entity.assignment_id.due_date}}</li>
              <li class="label-danger" *ngIf="entity.assignment_id.due_date < currDate">{{entity.assignment_id.due_date}}</li>
            </ul>
            <span class="task-type">{{getBatchForUI(entity.assignment_id)}}</span>
          </div>
        </div>
        <div class="drag-your-task" *ngIf="board.id !== 0 && board.id !==1">
          <i class="icon-point-up"></i>
          <h4>Drag your assignment here for progress</h4>
        </div>
      </div>
    </div>
    <!-- Row ends -->

  </div>
  <!-- Container fluid ends -->

</div>
<!-- Dashboard Wrapper End -->