<ng2-toasty [position]="'top-center'"></ng2-toasty>
<div class="dashboard-wrapper dashboard-wrapper-lg">

			<!-- Container fluid Starts -->
			<div class="container-fluid">

				<!-- Top Bar Starts -->
				<div class="top-bar clearfix">
					<div class="row gutter">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="page-title">
								<h3>Create Assignment</h3>
								<p>Create Assignment/Seminar/Free Lectures/Counselling, you can also schedule it from here.</p>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<ul class="right-stats" id="mini-nav-right">
								<li>
									<a href="javascript:void(0)" class="btn btn-danger"><span>76</span>Sales</a>
								</li>
								<li>
									<a href="tasks.html" class="btn btn-success">
										<span>18</span>Tasks</a>
								</li>
								<li>
									<a href="javascript:void(0)" class="btn btn-info"><i class="icon-download6"></i> Export</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- Top Bar Ends -->

				<!-- Row starts -->
				<div class="row gutter">
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<div class="panel">
							<div class="panel-heading">
							</div>
							<div class="panel-body">
								<form id="assignmentForm" [formGroup]="assignmentForm" novalidate>
									<div class="form-group">
										<div class="row gutter">
											<div class="col-md-12">
												<label class="control-label">Title</label>
												<input type="text" class="form-control" placeholder="Title" formControlName="title" />
												<small [hidden]="assignmentForm.controls.title.valid || assignmentForm.controls.title.untouched"
													class="text-danger" translate>
													Assignment/Seminar/Free Course/Consulting title is required
												</small>
											</div>
										</div>
									</div>
                                    <div class="form-group">
										<div class="row gutter">
											<div class="col-md-12">
												<label class="control-label">Description</label>
												<textarea class="form-control" formControlName="description" rows="3"></textarea>
											</div>
										</div>
									</div>
                                    <div class="form-group">
										<div class="row gutter">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 selectContainer">
                                        <label class="control-label">Type</label>
                                        <select class="form-control" formControlName="type">
                                            <option value="1">&#xf1c9;     Assignment/Lecture</option>
											<option value="2">&#xf19d; Seminar</option>
                                            <option value="3">&#xf0c0;  	Free Lecture</option>
                                            <option value="4">&#xf039;     Consulting</option>
										</select>
										<small [hidden]="assignmentForm.controls.type.valid || assignmentForm.controls.type.untouched"
													class="text-danger" translate>
													Type is required
										</small>
                                    </div>
                                    </div>
                                   </div>
                                   <div class="form-group" *ngIf="assignmentForm.controls.type.value === '1'">
										<div class="row gutter">
											<div class="col-md-12">
												<label class="control-label">Course</label>
												<select class="form-control" formControlName="coure_id" (change)="loadSubjects(false)">
													<option [value]="course.id" *ngFor="let course of courses">{{course.name}}</option>
												</select><i class="fa fa-plus ico-input-side" (click)="addCourse = true"></i>
												<small [hidden]="assignmentForm.controls.coure_id.valid || assignmentForm.controls.coure_id.untouched"
													class="text-danger" translate>
													Course is required
												</small>
											</div>
										</div>
									</div>
									<div class="form-group" *ngIf="addCourse">
										<div class="row gutter">
											<div class="col-md-12">
												<label class="control-label">Course Name</label>
												<input type="text" class="form-control" placeholder="Course name" formControlName="course_name" />
											</div>
										</div>
									</div>
									<div class="form-group" *ngIf="addCourse">
										<div class="row gutter">
											<div class="col-md-12">
												<label class="control-label">Course Description</label>
												<input type="text" class="form-control" placeholder="Course description" formControlName="course_desc" />
											</div>
										</div>
									</div>
									<button type="submit" *ngIf="addCourse" class="btn btn-info" (click)="saveCourse()">Add Course</button>
                                    <div class="form-group" *ngIf="assignmentForm.controls.type.value === '1'">
										<div class="row gutter">
											<div class="col-md-12">
												<label class="control-label">Subject</label>
												<select class="form-control" formControlName="subject_id">
													<option [value]="subject.id" *ngFor="let subject of subjects">{{subject.name}}</option>
												</select><i class="fa fa-plus ico-input-side" (click)="addSubject = true"></i>
												<small [hidden]="assignmentForm.controls.subject_id.valid || assignmentForm.controls.subject_id.untouched"
													class="text-danger" translate>
													Subject is required
												</small>
											</div>
										</div>
									</div>
									<div class="form-group" *ngIf="addSubject">
										<div class="row gutter">
											<div class="col-md-12">
												<label class="control-label">Subject Name</label>
												<input type="text" class="form-control" placeholder="Subject name" formControlName="sub_name" />
											</div>
										</div>
									</div>
									<div class="form-group" *ngIf="addSubject">
										<div class="row gutter">
											<div class="col-md-12">
												<label class="control-label">Subject Description</label>
												<input type="text" class="form-control" placeholder="Subject description" formControlName="sub_desc" />
											</div>
										</div>
									</div>
									<button type="submit" *ngIf="addSubject" class="btn btn-info" (click)="saveSubject()">Add Subject</button>
									<div class="form-group">
										<div class="row gutter">
											<div class="col-md-12">
												<label class="control-label">Institute for which assignment created</label>
												<select class="form-control" formControlName="institute">
													<option [value]="institute.id" *ngFor="let institute of institutes">{{institute.name}}</option>
												</select>
												<small [hidden]="assignmentForm.controls.institute.valid || assignmentForm.controls.institute.untouched"
													class="text-danger" translate>
													Institute is required
												</small>
											</div>
										</div>
									</div>
                                    <div class="form-group">
										<div class="row gutter">
											<div class="col-md-12">
												<label class="control-label">Due date</label>
												<input type="text" class="form-control" formControlName="due_date" bsDatepicker 
												[bsConfig]="{ showWeekNumbers: false }"/>
												<small [hidden]="assignmentForm.controls.due_date.valid || assignmentForm.controls.due_date.untouched"
													class="text-danger" translate>
													Due date is required
												</small>
											</div>
										</div>
									</div> 
									<div class="form-group">
										<div class="row gutter">
											<div class="col-md-12">
												<label class="control-label">Mark as Paid Service</label>
                                                <input type="checkbox" class="form-control" formControlName="payment" value=""/>
											</div>
										</div>
									</div>
									<div class="form-group no-margin">
										<div class="row gutter">
											<div class="col-md-12">
												<button type="submit" class="btn btn-warning" (click)="save(false)">Create</button>
                                                <button type="submit" class="btn btn-info" (click)="save(true)">Create & Schedule</button>
                                                <button type="submit" class="btn btn-default" (click)=cancel()>Cancel</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!-- Row ends -->
			</div>
			<!-- Container fluid ends -->
			
		</div>