<div class="body-div login-holder container-fluid">
    <div class="row reg-holder animated bounceIn">
  <form (ngSubmit)="changePassword()" [formGroup]="passwordForm" novalidate id="wrapper">
    <div id="box" class="animated bounceIn">
      <div id="top_header">
        <img src="assets/A-to-Z-Health.png" alt="Arise Admin Dashboard Logo" width="150" height="150"/>
        <h5>
          <span class="theme-font-color">Change your password</span>
        </h5>
      </div>
      <div class="alert alert-danger" [hidden]="!error" translate>
        Password or re-password incorrect.
      </div>
      <div id="inputs" class="form-group">
        <div class="form-block">
            <input type="text" formControlName="old_pass" autocomplete="Old Password" class="form-control"
                   [placeholder]="'Old Password' | translate"/>
            <i class="icon-user-check"></i>       
            <span hidden translate>Email</span>
            <small [hidden]="passwordForm.controls.old_pass.valid || passwordForm.controls.old_pass.untouched"
                   class="text-danger" translate>
              Old Password is required
            </small>
        </div>
        <div class="form-block">
            <input type="password" formControlName="new_pass" autocomplete="New Password" class="form-control"
                   [placeholder]="'New Password' | translate" required/>
                   <i class="icon-spell-check"></i>       
            <span hidden translate>Re-Password</span>
            <small [hidden]="passwordForm.controls.new_pass.valid || passwordForm.controls.new_pass.untouched"
                   class="text-danger" translate>
              New Password is required
            </small>
        </div>
        <div class="form-block">
            <input type="password" formControlName="re_pass" autocomplete="Re-Password" class="form-control"
                   [placeholder]="'Re-Password' | translate" required/>
                   <i class="icon-spell-check"></i>       
            <span hidden translate>Re-Password</span>
            <small [hidden]="passwordForm.controls.re_pass.valid || passwordForm.controls.re_pass.untouched"
                   class="text-danger" translate>
              Re Password is required
            </small>
        </div>
        <div class="btn-submit">
          <input type="submit" class="btn btn-rounded" (click)="changePassword()" [disabled]="passwordForm.invalid" value="Submit"/>
        </div>  
      </div>
    </div>
  </form>
  </div>
</div>