@import "src/theme/theme-variables";
@import "~bootstrap/scss/mixins/_breakpoints";
@import "../../assets/css/bs-datepicker.css";

body, html {
	min-height: 100% !important;
	position: relative  !important;
}

body {
	margin: 0;
	padding: 0;
	font: normal 15px 'ubuntu', arial, sans-serif;
	line-height: 18px;
	color: #FFFFFF;
  height: 100%  !important;
	background-color: $bg-theme; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #BF7A6A 0%, #0b264e 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#BF7A6A), color-stop(100%,#0b264e)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #BF7A6A 0%,#0b264e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #BF7A6A 0%,#0b264e 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #BF7A6A 0%,#0b264e 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #BF7A6A 0%,#0b264e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BF7A6A', endColorstr='#0b264e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.clearfix:before,
.clearfix:after{
  display: table;
  content: " ";
}
.clearfix:after{
  clear: both;
}

h5{
	margin: 3px 25px;
	padding: 0;
	color: #353C48;
	font-size: 12px;
	font-weight: 500;
}

#box {
	width: 320px;
	background-color: $font-color-theme;
	margin-top: 50px;
	position: absolute;
	left: 50%;
	margin-left: -160px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 10px;
}
#top_header {
	width: 100%;
	margin: 0;
	padding-top: 35px;
	text-align: center;
}

.btn-area {
	margin-top: 25px;
	margin-bottom: 25px;
}

.btn-area .btn{
	border-color: $bg-theme;
	border-radius: 30px;
}

.btn-area .btn {
	background: white;
	color: $font-color-theme;
}

.btn-submit .btn{
	margin-top: 40px;
	border-radius: 30px;
	background: none;
	color: $bg-theme;
	border-color: $bg-theme;
	border-style: solid;
	border-width: 1px;
}

.footer-text {
	font-size: 14px;
	color: white;
	margin-top: 0px;
}

.footer-text .separator {
	color: $bg-theme;
	font-weight: bold;
	margin: 0 10px;
}

.footer-text .link:hover {
	text-decoration: underline;
	color: $bg-theme;
	cursor: pointer;
}

.form-control {
	border: none !important;
	border-bottom: 1px solid $bg-theme !important;
	border-radius: 0px;
	box-shadow: none;
	background: $font-color-theme;
	color: $bg-theme !important;
}

.btn-area .btn:hover, .btn-area .btn.active, .btn-area .btn:active {
	background: $bg-theme;
	color: $font-color-theme;
}

.btn-submit .btn:hover, .btn-submit .btn.active, .btn-submit .btn:active {
	background: $bg-theme;
	color: $font-color-theme;
}

.btn-area .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.btn-area .btn-group>.btn:last-child:not(:first-child) {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}


#top_header img.logo{
	max-width: 120px;
	text-align: center;
	margin: 10px auto 30px auto;
}

#top_header > h5 {
	text-align: center;
	font-size: 20px;
	color: #424242;
	line-height: 1.6;
	margin: 0;
	font-weight: 500;
	padding: 20px 0;
	color: #353C48;
}

.form-block {
	position: relative;
}
.form-block i{
	position: absolute;
	right: 40px;
	top: 17px;
	color: #666;
	font-size: 16px;
}

#inputs {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	padding: 15px;
}

input[type=text], input[type=password], input[type=email] {
	width: 100%;
	height: 48px;
	position: relative;
	margin: 0 auto;
	display: block;
	margin-bottom: 10px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 13px;
}

input[type=text], input[type=password], input[type=email] {
	border: thin solid #ddd;
	color: #4f4f4f;
	font-size: 13px;
}

input[type=text]:hover, input[type=password]:hover, input[type=email]:hover {
	border: thin solid #47759e;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
	border: thin solid #ddd;
	border-left: thin solid #eb4343;
	outline: none;
}

input[type=submit] {
	color: #fff;
	font-size: 18px;
	background-color: #E84234;
	border: 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	transition: all .2s ease;
	cursor: pointer;
	width: 270px;
	height: 48px;
	margin: 0 auto;
	display: block;
	margin-bottom: 10px;
	padding: 15px;
}

input[type=submit]:hover {
	background-color: #C32619;
	color: #fff;
}
input[type=submit]:focus {
	outline: none;
	border: 0;
}

#bottom {
	width: 270px;
	margin: 0 auto;
	padding: 10px 0;
	height: 28px;
}

.pull-right{
	float: right;
	line-height: 18px;
}
.cb-label{
	font-size: 15px;
	color: #353C48;
	line-height: 100%;
	margin-right: 5px;
}
.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 56px;
  height: 18px;
  border-radius: 30px;
  cursor: pointer; 
}
.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; 
}
.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #999999;
  border-radius: inherit;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: opacity background;
  -moz-transition-property: opacity background;
  -o-transition-property: opacity background;
  transition-property: opacity background; 
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit; 
}
.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #ffffff;
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: #ffffff;
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: #32AB52;
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}
.switch-handle {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 16px;
  height: 16px;
  background: #ffffff;
  border-radius: 10px;
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out; 
}
.switch-handle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -5px;
  width: 10px;
  height: 10px;
  background: #ffffff; 
}
.switch-input:checked ~ .switch-handle {
  left: 39px;
}

.center-text {
	text-align: center;
}
.or {
	color: #353C48;
}

.reg-holder {
	margin-left: auto;
	margin-right: auto;
	min-width: 300px;
	max-width: 650px;
}

.reg-holder .panel{
	margin-top: 30px;
	background: $font-color-theme;
}

.reg-holder #top_header {
	padding-top: 0px;
}

.ico-input-side {
	position: absolute;
    right: 15px;
    top: 60px;
}

.panel-body label, .panel-body i {
	color: $bg-theme;
}

.form-line {
	padding: 15px 0px;
}

.text-star {
	color: $bg-theme;
}
