  <form id="wrapper"  (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
    <div id="box" class="animated bounceIn">
      <div id="top_header">
        <img src="assets/A-to-Z-Health.png" alt="Arise Admin Dashboard Logo" width="150" height="150"/>
        <div class="theme-font-color">Right Doctor... Right Time...</div>
        <div class="btn-area">
          <div class="btn-group">
            <label class="btn" [(ngModel)]="loginTypeModel"
                   btnRadio="1" tabindex="0" role="button"  [ngModelOptions]="{standalone: true}">I AM PATIENT</label>
            <label class="btn" [(ngModel)]="loginTypeModel"
                   btnRadio="2" tabindex="0" role="button"  [ngModelOptions]="{standalone: true}">I AM DOCTOR</label>
          </div>
        </div>
      </div>
      <div class="alert alert-warning" [hidden]="!error || isLoading" translate>
        Username or password incorrect.
      </div>
      <div id="inputs">
        <div class="form-block">
          <input type="text" placeholder="Email" class="form-control" formControlName="username" autocomplete="Email">
          <i class="icon-user-check"></i>
          <small [hidden]="loginForm.controls.username.valid || loginForm.controls.username.untouched"
                       class="text-danger" translate>
                  Username is required
          </small>
        </div>
        <div class="form-block">
            <input type="password" class="form-control" formControlName="password" autocomplete="current-password"
                [placeholder]="'Password' | translate" required/>
              <span hidden translate>Password</span>
                <small [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched"
                        class="text-danger" translate>
                   Password is required
                </small>
          <i class="icon-spell-check"></i>
        </div>
        <div class="btn-submit">
          <input type="submit" value="Sign In" class="btn btn-rounded" (click)="login()" [disabled]="loginForm.invalid || isLoading"/>
        </div>
      </div>
      <div id="bottom" class="clearfix">
        <div class="footer-text">
          <span class="link" (click)="goToChangePassword()">Forget Password?</span> 
          <span class="separator">|</span> 
          <span class="link" (click)="goToRegister()">Register Yourself</span></div>
      </div>
    </div>
  </form>
  <ng-template #verifyOtp>
      <div class="modal-body text-center">
        <p>Your validation is pending, Please do the validation first?</p>
        <form (ngSubmit)="verify()" [formGroup]="verifyForm">
            <div class="form-block">
                <input type="password" class="form-control" formControlName="emailOtp" autocomplete="current-password"
                    [placeholder]="'Email OTP' | translate" required/>
                  <span hidden translate>Password</span>
                    <small [hidden]="verifyForm.controls.emailOtp.valid || verifyForm.controls.emailOtp.untouched"
                            class="text-danger" translate>
                       Email OTP is required
                    </small>
              <i class="icon-spell-check"></i>
            </div>
            <div class="form-block">
                <input type="password" class="form-control" formControlName="smsOtp" autocomplete="current-password"
                    [placeholder]="'SMS OTP' | translate" required/>
                  <span hidden translate>SMS OTP</span>
                    <small [hidden]="verifyForm.controls.smsOtp.valid || verifyForm.controls.smsOtp.untouched"
                            class="text-danger" translate>
                       SMS OTP is required
                    </small>
              <i class="icon-spell-check"></i>
            </div>
        </form>
        <p class="text-center text-danger" id="regenerate"></p>
        <br/>
        <div class="text-center" style="cursor: pointer;"><u><a (click)="regenerateOtp()">Resend OTP</a></u></div>
        <br/>
        <button type="button" class="btn btn-default" (click)="confirm()" [disabled]="verifyForm.invalid">Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
      </div>
    </ng-template>