<div class="body-div container-fluid">
  <!-- Row Starts -->
  <div class="row reg-holder animated bounceIn">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="panel">
        <div class="panel-heading">
          <div id="top_header">
            <img src="assets/A-to-Z-Health.png" alt="Arise Admin Dashboard Logo" width="150" height="150"/>
            <div class="theme-font-color">Right Doctor... Right Time...</div>
            <div class="btn-area">
              <div class="btn-group">
                <label class="btn" [(ngModel)]="registrationMode"
                       btnRadio="patient" tabindex="0" role="button"  [ngModelOptions]="{standalone: true}">I AM PATIENT</label>
                <label class="btn" [(ngModel)]="registrationMode"
                       btnRadio="doctor" tabindex="0" role="button"  [ngModelOptions]="{standalone: true}">I AM DOCTOR</label>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <form id="patientForm" [formGroup]="patientRegistrationForm" novalidate *ngIf="registrationMode==='patient'">
            <div class="form-group">
              <div class="row gutter">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                  <label class="control-label">First Name <span class="text-star">*</span></label>
                  <input type="text" class="form-control" formControlName="first_name" />
                  <i class="fa fa-i-cursor ico-input-side"></i>
                  <div *ngIf="patientRegistrationForm.controls.first_name.invalid && (patientRegistrationForm.controls.first_name.dirty || patientRegistrationForm.controls.first_name.touched)" class="alert alert-warning">                  
                    <div *ngIf="patientRegistrationForm.controls.first_name.errors.required">
                      First name is required.
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                  <label class="control-label">Last Name <span class="text-star">*</span></label>
                  <input type="text" class="form-control" formControlName="last_name" />
                  <i class="fa fa-i-cursor ico-input-side"></i>
                  <div *ngIf="patientRegistrationForm.controls.last_name.invalid && (patientRegistrationForm.controls.last_name.dirty || patientRegistrationForm.controls.last_name.touched)" class="alert alert-warning">                  
                    <div *ngIf="patientRegistrationForm.controls.last_name.errors.required">
                      Last name is required.
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                  <label class="control-label">Date of birth <span class="text-star">*</span></label>
                  <input type="text" placeholder="Date of Birth" class="form-control" formControlName="dob" bsDatepicker 
                    [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red'}"/>
                  <i class="fa fa-calendar-alt ico-input-side"></i>
                  <div *ngIf="patientRegistrationForm.controls.dob.invalid && (patientRegistrationForm.controls.weight.dirty || patientRegistrationForm.controls.dob.touched)" class="alert alert-warning">                  
                    <div *ngIf="patientRegistrationForm.controls.dob.errors.required">
                      Date of birth is required.
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                  <label class="control-label">Height in cm <span class="text-star">*</span></label>
                  <input type="text" class="form-control" formControlName="height" />
                  <i class="fa fa-i-cursor ico-input-side"></i>
                  <div *ngIf="patientRegistrationForm.controls.height.invalid && (patientRegistrationForm.controls.height.dirty || patientRegistrationForm.controls.height.touched)" class="alert alert-warning">                  
                    <div *ngIf="patientRegistrationForm.controls.height.errors.required">
                      Height is required.
                    </div>
                    <div *ngIf="patientRegistrationForm.controls.height.errors.maxlength">
                      Height should not be more then 3 digits.
                    </div>
                  </div>
                  <!-- <small [hidden]="patientRegistrationForm.controls.height.valid || patientRegistrationForm.controls.height.untouched"
                  class="text-danger" translate>
                    Height is required
                  </small> -->
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                  <label class="control-label">Weight in kg <span class="text-star">*</span></label>
                  <input type="text" class="form-control" formControlName="weight" />
                  <i class="fa fa-i-cursor ico-input-side"></i>
                  <div *ngIf="patientRegistrationForm.controls.weight.invalid && (patientRegistrationForm.controls.weight.dirty || patientRegistrationForm.controls.weight.touched)" class="alert alert-warning">                  
                    <div *ngIf="patientRegistrationForm.controls.weight.errors.required">
                      Weight is required.
                    </div>
                  </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                      <label class="control-label">Profile Pic (Optional)</label>
                      <app-profile-picture [editmode]=editEnabled (base64DataForProfile)="setProfilePicData($event)"></app-profile-picture>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 selectContainer form-line">
                      <label class="control-label">Gender <span class="text-star">*</span></label>
                      <select class="form-control" formControlName="gender">
                        <option value="MALE">Male</option>
                        <option value="FEMALE">Female</option>
                        <option value="TRANS">Transgender</option>
                      </select>
                      <div *ngIf="patientRegistrationForm.controls.gender.invalid && (patientRegistrationForm.controls.gender.dirty || patientRegistrationForm.controls.gender.touched)" class="alert alert-warning">                  
                        <div *ngIf="patientRegistrationForm.controls.gender.errors.required">
                          Gender is required.
                        </div>
                      </div>                      
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                      <label class="control-label">Address <span class="text-star">*</span></label>
                      <textarea class="form-control" formControlName="address" rows="2"></textarea>
                      <i class="fa fa-i-cursor ico-input-side"></i>
                      <div *ngIf="patientRegistrationForm.controls.address.invalid && (patientRegistrationForm.controls.address.dirty || patientRegistrationForm.controls.address.touched)" class="alert alert-warning">                  
                        <div *ngIf="patientRegistrationForm.controls.address.errors.required">
                          Address is required.
                        </div>
                      </div> 
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                      <label class="control-label">Locality <span class="text-star">*</span></label>
                      <input type="text" class="form-control" formControlName="locality" />
                      <i class="fa fa-i-cursor ico-input-side"></i>
                      <div *ngIf="patientRegistrationForm.controls.locality.invalid && (patientRegistrationForm.controls.locality.dirty || patientRegistrationForm.controls.locality.touched)" class="alert alert-warning">                  
                        <div *ngIf="patientRegistrationForm.controls.locality.errors.required">
                          Locality is required.
                        </div>
                      </div> 
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                      <label class="control-label">City <span class="text-star">*</span></label>
                      <input type="text" class="form-control" formControlName="city" />
                      <i class="fa fa-i-cursor ico-input-side"></i>
                      <div *ngIf="patientRegistrationForm.controls.city.invalid && (patientRegistrationForm.controls.city.dirty || patientRegistrationForm.controls.city.touched)" class="alert alert-warning">                  
                        <div *ngIf="patientRegistrationForm.controls.city.errors.required">
                          City is required.
                        </div>
                      </div> 
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                      <label class="control-label">State <span class="text-star">*</span></label>
                      <input type="text" class="form-control" formControlName="state" />
                      <i class="fa fa-i-cursor ico-input-side"></i>
                      <div *ngIf="patientRegistrationForm.controls.state.invalid && (patientRegistrationForm.controls.state.dirty || patientRegistrationForm.controls.state.touched)" class="alert alert-warning">                  
                        <div *ngIf="patientRegistrationForm.controls.state.errors.required">
                          State is required.
                        </div>
                      </div> 
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                      <label class="control-label">Pin code <span class="text-star">*</span></label>
                      <input type="text" class="form-control" formControlName="pincode" />
                      <i class="fa fa-i-cursor ico-input-side"></i>
                      <div *ngIf="patientRegistrationForm.controls.pincode.invalid && (patientRegistrationForm.controls.pincode.dirty || patientRegistrationForm.controls.pincode.touched)" class="alert alert-warning">                  
                        <div *ngIf="patientRegistrationForm.controls.pincode.errors.required">
                          Pin code is required.
                        </div>
                      </div> 
                    </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row gutter">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                  <label class="control-label">Mobile No <span class="text-star">*</span></label>
                  <input type="text" class="form-control" formControlName="mobileNumber" />
                  <i class="fa fa-phone ico-input-side"></i>
                  <div *ngIf="patientRegistrationForm.controls.mobileNumber.invalid && (patientRegistrationForm.controls.mobileNumber.dirty || patientRegistrationForm.controls.mobileNumber.touched)" class="alert alert-warning">                  
                    <div *ngIf="patientRegistrationForm.controls.mobileNumber.errors.required">
                      Contact no is required.
                    </div>
                    <div *ngIf="patientRegistrationForm.controls.mobileNumber.errors.pattern">
                      Contact no should be of 10 digits.
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                  <label class="control-label">Email Id <span class="text-star">*</span></label>
                  <input type="text" class="form-control" formControlName="email" />
                  <i class="fa fa-envelope ico-input-side"></i>
                  <div *ngIf="patientRegistrationForm.controls.email.invalid && (patientRegistrationForm.controls.email.dirty || patientRegistrationForm.controls.email.touched)" class="alert alert-warning">                  
                    <div *ngIf="patientRegistrationForm.controls.email.errors.required">
                      Email is required.
                    </div>
                  </div> 
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                  <label class="control-label">Emergency Contact No <span class="text-star">*</span></label>
                  <input type="text" class="form-control" formControlName="emergency_contact" />
                  <i class="fa fa-phone ico-input-side"></i>
                  <div *ngIf="patientRegistrationForm.controls.emergency_contact.invalid && (patientRegistrationForm.controls.emergency_contact.dirty || patientRegistrationForm.controls.emergency_contact.touched)" class="alert alert-warning">                  
                    <div *ngIf="patientRegistrationForm.controls.emergency_contact.errors.required">
                      Contact no is required.
                    </div>
                    <div *ngIf="patientRegistrationForm.controls.emergency_contact.errors.pattern">
                      Contact no should be of 10 digits.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row gutter">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                  <label class="control-label">Password <span class="text-star">*</span></label>
                  <input type="password" class="form-control" formControlName="password" />
                  <i class="fa fa-eye ico-input-side"></i>
                  <div *ngIf="patientRegistrationForm.controls.password.invalid && (patientRegistrationForm.controls.password.dirty || patientRegistrationForm.controls.password.touched)" class="alert alert-warning">                  
                    <div *ngIf="patientRegistrationForm.controls.password.errors.required">
                      Password is required.
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                  <label class="control-label">Retype-Password <span class="text-star">*</span></label>
                  <input type="password" class="form-control" formControlName="re_password" />
                  <i class="fa fa-eye ico-input-side"></i>
                  <i class="fa fa-eye ico-input-side"></i>
                  <div *ngIf="patientRegistrationForm.controls.re_password.invalid && (patientRegistrationForm.controls.re_password.dirty || patientRegistrationForm.controls.re_password.touched)" class="alert alert-warning">                  
                    <div *ngIf="patientRegistrationForm.controls.re_password.errors.required">
                      Re password is required.
                    </div>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 selectContainer form-line">
                  <label class="control-label">Reminder Preference <span class="text-star">*</span></label>
                  <select class="form-control" formControlName="remindPref">
                    <option value="1">Both</option>
                    <option value="2">Email</option>
                    <option value="3">SMS</option>
                  </select>
                  <div *ngIf="patientRegistrationForm.controls.remindPref.invalid && (patientRegistrationForm.controls.remindPref.dirty || patientRegistrationForm.controls.remindPref.touched)" class="alert alert-warning">                  
                    <div *ngIf="patientRegistrationForm.controls.remindPref.errors.required">
                      Reminder preference is required.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row gutter">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                  <label class="control-label">Existing Disease (Optional)</label>
                  <textarea class="form-control" formControlName="existingDesease" rows="4"></textarea>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                  <label class="control-label">Family History (Optional)</label>
                  <textarea class="form-control" formControlName="familyHistory" rows="4"></textarea>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                  <label class="control-label">Allergic (Optional)</label>
                  <textarea class="form-control" formControlName="allergic" rows="4"></textarea>
                </div>
              </div>
            </div>
            <div class="form-group row gutter">
              <div class="col-lg-6 col-lg-offset-2">
                <div class="checkbox">
                  <input type="checkbox" [(ngModel)]="acceptTerm" name="acceptTerms" [ngModelOptions]="{standalone: true}" /> Accept the terms and policies
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="gotToLogin(true)" [disabled]="patientRegistrationForm.invalid || !acceptTerm">Submit</button>
            <button class="btn btn-default" (click)="gotToLogin(false)">Cancel</button>
          </form>

          <form id="doctorForm" [formGroup]="doctorRegistrationForm" novalidate *ngIf="registrationMode==='doctor'">
              <div class="form-group">
                <div class="row gutter">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                    <label class="control-label">First Name <span class="text-star">*</span></label>
                    <input type="text" class="form-control" formControlName="first_name" />
                    <i class="fa fa-i-cursor ico-input-side"></i>
                    <div *ngIf="doctorRegistrationForm.controls.first_name.invalid && (doctorRegistrationForm.controls.first_name.dirty || doctorRegistrationForm.controls.first_name.touched)" class="alert alert-warning">                  
                      <div *ngIf="doctorRegistrationForm.controls.first_name.errors.required">
                        First name is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                    <label class="control-label">Last Name <span class="text-star">*</span></label>
                    <input type="text" class="form-control" formControlName="last_name" />
                    <i class="fa fa-i-cursor ico-input-side"></i>
                    <div *ngIf="doctorRegistrationForm.controls.last_name.invalid && (doctorRegistrationForm.controls.last_name.dirty || doctorRegistrationForm.controls.last_name.touched)" class="alert alert-warning">                  
                      <div *ngIf="doctorRegistrationForm.controls.last_name.errors.required">
                        Last name is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                    <label class="control-label">Date of birth <span class="text-star">*</span></label>
                    <input type="text" placeholder="Date of Birth" class="form-control" formControlName="dob" bsDatepicker 
                    [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red'}"/>
                    <i class="fa fa-calendar-alt ico-input-side"></i>
                    <div *ngIf="doctorRegistrationForm.controls.dob.invalid && (doctorRegistrationForm.controls.dob.dirty || doctorRegistrationForm.controls.dob.touched)" class="alert alert-warning">                  
                      <div *ngIf="doctorRegistrationForm.controls.dob.errors.required">
                        Date of birth is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 selectContainer form-line">
                    <label class="control-label">Gender <span class="text-star">*</span></label>
                    <select class="form-control" formControlName="gender">
                      <option value="MALE">Male</option>
                      <option value="FEMALE">Female</option>
                      <option value="TRANS">Transgender</option>
                    </select>
                    <div *ngIf="doctorRegistrationForm.controls.gender.invalid && (doctorRegistrationForm.controls.gender.dirty || doctorRegistrationForm.controls.gender.touched)" class="alert alert-warning">                  
                      <div *ngIf="doctorRegistrationForm.controls.gender.errors.required">
                        Gender is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                    <label class="control-label">Address <span class="text-star">*</span></label>
                    <textarea class="form-control" formControlName="addressLine" rows="2"></textarea>
                    <i class="fa fa-i-cursor ico-input-side"></i>
                    <div *ngIf="doctorRegistrationForm.controls.addressLine.invalid && (doctorRegistrationForm.controls.addressLine.dirty || doctorRegistrationForm.controls.addressLine.touched)" class="alert alert-warning">                  
                      <div *ngIf="doctorRegistrationForm.controls.addressLine.errors.required">
                        Address is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                    <label class="control-label">Locality <span class="text-star">*</span></label>
                    <input type="text" class="form-control" formControlName="locality" />
                    <i class="fa fa-i-cursor ico-input-side"></i>
                    <div *ngIf="doctorRegistrationForm.controls.locality.invalid && (doctorRegistrationForm.controls.locality.dirty || doctorRegistrationForm.controls.locality.touched)" class="alert alert-warning">                  
                      <div *ngIf="doctorRegistrationForm.controls.locality.errors.required">
                        Locality is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                    <label class="control-label">City <span class="text-star">*</span></label>
                    <input type="text" class="form-control" formControlName="city" />
                    <i class="fa fa-i-cursor ico-input-side"></i>
                    <div *ngIf="doctorRegistrationForm.controls.city.invalid && (doctorRegistrationForm.controls.city.dirty || doctorRegistrationForm.controls.city.touched)" class="alert alert-warning">                  
                      <div *ngIf="doctorRegistrationForm.controls.city.errors.required">
                        City is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                    <label class="control-label">State <span class="text-star">*</span></label>
                    <input type="text" class="form-control" formControlName="state" />
                    <i class="fa fa-i-cursor ico-input-side"></i>
                    <div *ngIf="doctorRegistrationForm.controls.state.invalid && (doctorRegistrationForm.controls.state.dirty || doctorRegistrationForm.controls.state.touched)" class="alert alert-warning">                  
                      <div *ngIf="doctorRegistrationForm.controls.state.errors.required">
                        State is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                    <label class="control-label">Pin code <span class="text-star">*</span></label>
                    <input type="text" class="form-control" formControlName="pincode" />
                    <i class="fa fa-i-cursor ico-input-side"></i>
                    <div *ngIf="doctorRegistrationForm.controls.pincode.invalid && (doctorRegistrationForm.controls.pincode.dirty || doctorRegistrationForm.controls.pincode.touched)" class="alert alert-warning">                  
                      <div *ngIf="doctorRegistrationForm.controls.pincode.errors.required">
                        Pin code is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                    <label class="control-label">Profile Pic (Optional)</label>
                    <app-profile-picture [editmode]=editEnabled (base64DataForProfile)="setProfilePicData($event)"></app-profile-picture>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row gutter">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                        <label class="control-label">Qualification <span class="text-star">*</span></label>
                        <input type="text" class="form-control" formControlName="qualification" />
                        <i class="fa fa-graduation-cap ico-input-side"></i>
                    </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 selectContainer form-line">
                    <label class="control-label">Type of Expertise <span class="text-star">*</span></label>
                    <select class="form-control" formControlName="title">
                      <option [value]="type.name" *ngFor="let type of typesOfDoc">{{type.name}}</option>
                    </select>
                    <div *ngIf="doctorRegistrationForm.controls.title.invalid && (doctorRegistrationForm.controls.title.dirty || doctorRegistrationForm.controls.title.touched)" class="alert alert-warning">                  
                      <div *ngIf="doctorRegistrationForm.controls.title.errors.required">
                        Type of Expertise is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                    <label class="control-label">Mobile No <span class="text-star">*</span></label>
                    <input type="text" class="form-control" formControlName="mobileNumber" />
                    <i class="fa fa-phone ico-input-side"></i>
                    <div *ngIf="doctorRegistrationForm.controls.mobileNumber.invalid && (doctorRegistrationForm.controls.mobileNumber.dirty || doctorRegistrationForm.controls.mobileNumber.touched)" class="alert alert-warning">                  
                      <div *ngIf="doctorRegistrationForm.controls.mobileNumber.errors.required">
                        Mobile No is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                    <label class="control-label">Email Id <span class="text-star">*</span></label>
                    <input type="text" class="form-control" formControlName="email" />
                    <i class="fa fa-envelope ico-input-side"></i>
                    <div *ngIf="doctorRegistrationForm.controls.email.invalid && (doctorRegistrationForm.controls.email.dirty || doctorRegistrationForm.controls.email.touched)" class="alert alert-warning">                  
                      <div *ngIf="doctorRegistrationForm.controls.email.errors.required">
                        Email is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                    <label class="control-label">License Number <span class="text-star">*</span></label>
                    <input type="text" class="form-control" formControlName="licNo" />
                    <i class="fa fa-envelope ico-input-side"></i>
                    <div *ngIf="doctorRegistrationForm.controls.licNo.invalid && (doctorRegistrationForm.controls.licNo.dirty || doctorRegistrationForm.controls.licNo.touched)" class="alert alert-warning">                  
                      <div *ngIf="doctorRegistrationForm.controls.licNo.errors.required">
                        License Number is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                    <label class="control-label">Associated Medical Council (Optional)</label>
                    <input type="text" class="form-control" formControlName="medicalCouncil" />
                    <i class="fa fa-envelope ico-input-side"></i>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                    <label class="control-label">Awards (Optional)</label>
                    <input type="text" class="form-control" formControlName="awards" />
                    <i class="fa fa-envelope ico-input-side"></i>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row gutter">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                    <label class="control-label">Password <span class="text-star">*</span></label>
                    <input type="password" class="form-control" formControlName="password" />
                    <i class="fa fa-eye ico-input-side"></i>
                    <div *ngIf="doctorRegistrationForm.controls.password.invalid && (doctorRegistrationForm.controls.password.dirty || doctorRegistrationForm.controls.password.touched)" class="alert alert-warning">                  
                      <div *ngIf="doctorRegistrationForm.controls.password.errors.required">
                        Password is required.
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                    <label class="control-label">Retype-Password <span class="text-star">*</span></label>
                    <input type="password" class="form-control" formControlName="re_password" />
                    <i class="fa fa-eye ico-input-side"></i>
                    <div *ngIf="doctorRegistrationForm.controls.re_password.invalid && (doctorRegistrationForm.controls.re_password.dirty || doctorRegistrationForm.controls.re_password.touched)" class="alert alert-warning">                  
                      <div *ngIf="doctorRegistrationForm.controls.re_password.errors.required">
                        Retype-Password is required.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row gutter">
                <div class="col-lg-6 col-lg-offset-2">
                  <div class="checkbox">
                    <input type="checkbox" [(ngModel)]="acceptTerm" name="acceptTerms" [ngModelOptions]="{standalone: true}"/> Accept the terms and policies
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary" (click)="gotToLogin(true)" [disabled]="doctorRegistrationForm.invalid || !acceptTerm">Submit</button>
              <button class="btn btn-default" (click)="gotToLogin(false)">Cancel</button>
            </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Row Ends -->
</div>
