<!-- Dashboard Wrapper Start -->
<div class="dashboard-wrapper dashboard-wrapper-lg">

  <!-- Container fluid Starts -->
  <div class="container-fluid">

    <!-- Top Bar Starts -->
    <div class="top-bar clearfix">
      <div class="row gutter">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="page-title">
            <h3>Dashboard</h3>
            <p>See your upcoming appointments, messages, current medication and visit timeline</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Top Bar Ends -->
    <!-- Row starts -->
    <div class="row gutter">
      <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
        <!-- Row inside row starts -->
        <div class="row gutter">
          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            <div class="panel height500">
              <div class="panel-body">
                <h4>
                  <i class="fa fa-trophy fa-2x text-info"></i> Awards</h4>
                <ul>
                  <li>
                    <p>{{userData.awards}}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
              <ng-template #eventDetail>
                  <div class="modal-body">
                    <p id="precDetail"></p>
                    <br>
                    <br>
                    <div class="modal-footer">
                    <div class="text-center">
                      <button type="button" class="btn btn-primary" (click)="decline()" >Ok</button>
                      <button type="button" class="btn btn-warning" (click)="print()" >Print</button>
                    </div>
                  </div>
                  </div>
              </ng-template>
              <ng-template #eventDetail2>
                  <div class="modal-body">
                    <p id="eventTitle"></p>
                    <br>
                    <br>
                  </div>
                  <div class="modal-footer">
                      <div class="text-center">
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <button type="button" class="btn btn-primary" (click)="decline()" >Ok</button>
                          </div>
                        </div>
                    </div>
              </ng-template>
            <div class="panel height500">
              <div class="panel-body">
                <h4>
                  <i class="fa fa-calendar fa-2x text-danger"></i> Upcoming appointment</h4>
                <angular2-fullcalendar [options]="calendarOptions" *ngIf="events && events.length"></angular2-fullcalendar>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            <div class="panel height500">
              <div class="panel-body">
                <h4>
                  <i class="fa fa-pen-square fa-2x text-warning"></i> Blogs</h4>
                <ul *ngFor="let blog of blogs">
                    <li class="green" style="border-bottom: 1px solid gray; margin-bottom: 5px;">
                      <div class="detail-info">
                        <p class="date">
                          <b>{{blog.title}}</b>
                        </p>
                        <p class="message">Creation Date: {{blog.creation_date | date:"short"}}</p>
                      </div>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Row inside row ends -->
      </div>
      <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
          <div class="row gutter">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="panel">
                    <div class="panel-body">
                        <h4>
                            <i class="fa fa-chart-bar fa-2x text-info"></i> Visits Trend
                            <div class="btn-area pull-right">
                              <div class="btn-group">
                                <label class="btn btn-info" [(ngModel)]="mode"
                                       btnRadio="month" tabindex="0" role="button"  [ngModelOptions]="{standalone: true}" (click)="updateDate()">Month</label>
                                <label class="btn btn-info" [(ngModel)]="mode"
                                       btnRadio="year" tabindex="0" role="button"  [ngModelOptions]="{standalone: true}" (click)="updateDate()">Year</label>
                              </div>
                            </div>
                        </h4>
                            <div *ngIf="appointmentTrend && appointmentTrend.length" style="min-width: 260px; min-height: 400px;">
                                <ngx-charts-bar-vertical
                                [view]="view"
                                [scheme]="colorScheme"
                                [results]="appointmentTrend"
                                [gradient]="gradient"
                                [xAxis]="showXAxis"
                                [yAxis]="showYAxis"
                                [legend]="showLegend"
                                [showXAxisLabel]="showXAxisLabel"
                                [showYAxisLabel]="showYAxisLabel"
                                [xAxisLabel]="xAxisLabel"
                                [yAxisLabel]="yAxisLabel"
                                (select)="onSelect($event)">
                              </ngx-charts-bar-vertical>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
        <!-- Row inside row starts -->
        <div class="row gutter">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel">
              <div class="panel-body">
                <h4>
                  <i class="fa fa-link fa-2x text-info"></i> Visits Timeline</h4>
                <h2 class="text-center text-default" *ngIf="!loading">
                  <i class="fas fa-circle-notch fa-3x fa-spin text-warning"></i>
                  <div class="text-warning">Loading Visits Timeline ....</div>
                </h2>
                <ul class="imp-messages" *ngIf="prescHistory && prescHistory.length">
                  <li *ngFor="let prec of prescHistory | orderBy: ['-date']">
                    <img *ngIf="!prec.prescribedTo.profilePic || prec.prescribedTo.profilePic === 'test'" src="assets/thumbs/profile-placeholder.png"
                      alt="User Info" class="avatar img-48">
                    <img *ngIf="prec.prescribedTo.profilePic && prec.prescribedTo.profilePic !== 'test'" [src]="domSanitizer.bypassSecurityTrustUrl(prec.prescribedTo.profilePic)"
                      class="avatar img-48" alt="User" />
                    <div class="message-date">{{prec.date | date:'dd'}}
                      <span class="month">{{prec.date | date:'MMM'}}</span>
                    </div>
                    <div class="message-wrapper">
                      <h4>Appointment For: {{prec.for}}</h4>
                      <blockquote>Prescribed for
                        <b> {{prec.prescribedTo.firstName + ' ' + prec.prescribedTo.lastName}}</b> for {{prec.for}}, medicines/prescribed
                        during the visit
                        <br/>
                        <ul *ngFor="let precEntry of prec.prescriptions" style="border-bottom: 1px solid gray; margin-bottom: 5px;">
                          <li>
                            <i class="fa" [ngClass]="{'fa-pills text-danger': precEntry.type==='medicine',
                                                                    'fa-vials text-success': precEntry.type==='test'}"></i>
                            <b>{{precEntry.name}}</b>
                            <span *ngIf="precEntry.type==='medicine'" [innerHTML]="'- ' + getAdditionalInfo1(precEntry) +', ' + getAdditionalInfo2(precEntry) + ', ' + getAdditionalInfo3(precEntry)"></span>
                            {{precEntry.sideEffect ? precEntry.sideEffect : ''}} with remarks: {{precEntry.remarks ? precEntry.remarks : 'N/A'}}
                            <blockquote *ngIf="precEntry.type==='test' && prec.testFiles[precEntry.id]" class="lab-reports blockquote-yellow">
                              <label class="text-info">Test reports</label>
                              <ul *ngFor="let testFile of prec.testFiles[precEntry.id]">
                                <li><a href="/DocWeb/download/{{precEntry.id}}/{{testFile}}"><i class="fa fa-file-alt text-success"></i> <u>{{testFile}}</u></a></li>
                              </ul>
                            </blockquote>
                          </li>
                        </ul>
                      </blockquote>
                      <div class="col-lg-4 text-center">
                        <label class="btn-rounded btn btn-xs" style="width: 100px;" 
                        [ngClass]="{'label-success' : prec.status === '3', 'label-warning' : prec.status === '2', 'label-info' : prec.status !== '2' && prec.status !== '3'}"
                        (click)="getPrecDetails(prec)">
                          {{prec.status === '3' ? 'Completed' : (prec.status === '2' ? 'Waiting on test' : 'Scheduled')}}
                        </label>
                      </div>
                      <div class="col-lg-4 text-center">
                        
                           
                       
                      </div>
                      <div class="col-lg-4 text-center">
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Row inside row ends -->

      </div>
    </div>
    <!-- Row ends -->

  </div>
  <!-- Container fluid ends -->

</div>
<!-- Dashboard Wrapper End -->
