<div class="dashboard-wrapper dashboard-wrapper-lg">

  <!-- Mail list starts -->
    <!-- Container fluid Starts -->
    <div class="container-fluid">

      <!-- Top Bar Starts -->
      
      <!-- Top Bar Ends -->

      <!-- Row starts -->
      <div class="row gutter" *ngIf="!scheduleTriggered">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10">
                <div class="form-group no-margin">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-filter"></i></span>
                    <input type="text" class="form-control"  placeholder="Find by name/address/contact/type ..." [(ngModel)]="searchTerm">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                  </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2" *ngIf="!isAdminUser">
              <button class="btn btn-primary btn-md" (click)="listView = !listView"><i class="fa mright" [ngClass]="{'fa-list' : listView, 'fa-th-large': !listView}"></i></button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="text-right" *ngIf="totalRecord > pageSize">
                <pagination [totalItems]="totalRecord" [itemsPerPage]="pageSize" [maxSize]="5" [(ngModel)]="page"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [boundaryLinks]="true"
                [rotate]="false" (pageChanged)="pageChanged($event)"></pagination>
              </div>
            </div>
          </div>  
      </div>
      <div class="row gutter" *ngIf="!scheduleTriggered">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="panel panel-green">
            <div class="panel-body" *ngIf="!listView">
              <div *ngFor="let doctor of doctors
              | filterBy: ['doctor.firstName', 'doctor.lastName' ,'doctor.title', 'doctor.email', 'doctor.mobileNumber', 'doctor.addressLine', 'doctor.locality', 'doctor.city', 'doctor.state', 'doctor.pincode']: searchTerm">
                  <div class="card col-lg-3 col-md-4 col-sm-6 col-xs-12">
                      <img *ngIf="doctor.doctor.profilePic && doctor.doctor.profilePic !== 'test'" [src]="domSanitizer.bypassSecurityTrustUrl(doctor.doctor.profilePic)" alt="User" height="80px" width="80px"/>
                      <div *ngIf="!doctor.doctor.profilePic || doctor.doctor.profilePic === 'test'" class="no-image">
                        <span>{{doctor.doctor.firstName.charAt(0).toUpperCase()}}{{doctor.doctor.lastName.charAt(0).toUpperCase()}}</span>
                      </div>
                      <span class="exp-info">9 years</span>
                      <h4>{{doctor.doctor.firstName}} {{doctor.doctor.lastName}}</h4>
                      <p class="title">{{doctor.doctor.title}}</p>
                      <p><i class="fa fa-graduation-cap"></i> Degree: <small>{{doctor.doctor.qualification}}</small></p>
                      <p><i class="fa fa-briefcase-medical"></i> Council: <small>{{doctor.doctor.medicalCouncil}}</small></p>
                      <p class="elip">Awards: <small>{{doctor.doctor.awards}}</small></p>
                      <div style="margin: 24px 0;">
                        <p class="elip">Address: <small>{{doctor.doctor.addressLine}}</small></p>
                        <p class="elip"><small>{{doctor.doctor.locality}} {{doctor.doctor.city}}</small></p>
                        <p class="elip"><small>{{doctor.doctor.state}} - {{doctor.doctor.pincode}}</small></p>
                        <p><i class="fa fa-envelope"></i> {{doctor.doctor.email}}</p>
                        <p><i class="fa fa-phone"></i> {{doctor.doctor.mobileNumber}}</p>
                        <rating [(ngModel)]="doctor.star" [max]="max" [readonly]="true" [customTemplate]="tt"></rating>
                        <ng-template #tt let-i="index" let-v="value">
                            <label class="star-label {{i < v ? 'text-warning' : 'text-default'}}">
                              {{i < v ? '&#9733;' : '&#9734;'}}
                            </label>
                        </ng-template>
                     </div>
                     <p><button class="bl" (click)="scheduleAppointment(doctor.doctor)"><i class="fa fa-calendar-alt"></i> Get Appointment</button></p>
                  </div>
              </div> 
            </div>
            <div class="panel-body" *ngIf="listView">
                <div class="table-responsive">
                    <table class="table table-striped no-margin">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th></th>
                          <th>Specialization</th>
                          <th>Qualification</th>
                          <th>Associated Council</th>
                          <th>Awards</th>
                          <th>Address</th>
                          <th>Email</th>
                          <th>Contact No</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let doctor of doctors
                        | filterBy: ['doctor.firstName', 'doctor.lastName' ,'doctor.title', 'doctor.email', 'doctor.mobileNumber', 'doctor.addressLine', 'doctor.locality', 'doctor.city', 'doctor.state', 'doctor.pincode']: searchTerm" >
                          <td class="text-center">
                              <img *ngIf="doctor.doctor.profilePic && doctor.doctor.profilePic !== 'test'" [src]="domSanitizer.bypassSecurityTrustUrl(doctor.doctor.profilePic)" alt="User" height="50px" width="50px"/>
                              <div *ngIf="!doctor.doctor.profilePic || doctor.doctor.profilePic === 'test'" class="no-image-sm">
                                  <span>{{doctor.doctor.firstName.charAt(0).toUpperCase()}}{{doctor.doctor.lastName.charAt(0).toUpperCase()}}</span>
                              </div>
                              <div>{{doctor.doctor.firstName}} {{doctor.doctor.lastName}}</div>
                              <div>
                                  <rating [(ngModel)]="doctor.star" [max]="max" [readonly]="true" [customTemplate]="tt"></rating>
                                  <ng-template #tt let-i="index" let-v="value">
                                      <label class="star-label {{i < v ? 'text-warning' : 'text-default'}}">
                                        {{i < v ? '&#9733;' : '&#9734;'}}
                                      </label>
                                  </ng-template>
                              </div>
                          </td>
                          <td>
                            <button class="btn btn-xs btn-primary" (click)="scheduleAppointment(doctor.doctor)" *ngIf="!isAdminUser"><i class="fa fa-calendar-alt"></i> Get Appointment</button>
                            <button class="btn btn-xs" [ngClass]="{'btn-success' : doctor.doctor.approvalFlag === 1, 'btn-danger': doctor.doctor.approvalFlag !== 1}"  
                              (click)="changeStatus(doctor.doctor)" *ngIf="isAdminUser">{{doctor.doctor.approvalFlag === 1 ? 'Approved' : 'Pending'}}</button>
                          </td>
                          <td>{{doctor.doctor.title}}</td>
                          <td>{{doctor.doctor.qualification}}</td>
                          <td>{{doctor.doctor.medicalCouncil}}</td>
                          <td>{{doctor.doctor.awards}}</td>
                          <td>{{doctor.doctor.addressLine}}<br>Locality: {{doctor.doctor.locality}}<br>City: {{doctor.doctor.city}}, State: {{doctor.doctor.state}}, Pin: {{doctor.doctor.pincode}}</td>
                          <td>{{doctor.doctor.email}}</td>
                          <td>{{doctor.doctor.mobileNumber}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
            </div>  
          </div>
        </div>
      </div>
      <!-- Row Ends -->
      <app-doctor-schedule [patient]="userData" [doctor]="doctorForAppointment" *ngIf="scheduleTriggered"></app-doctor-schedule>
    </div>
    <!-- Container fluid ends -->
  <!-- Mail list ends -->

</div>
<!-- Dashboard Wrapper End -->
<ng2-toasty></ng2-toasty>
