@import "src/theme/theme-variables";
.btn {
  border-radius: 10px;
}

.btn i{
  font-size: 14px;
}

.panel-heading {
text-align: center;
}

.ngx-editor .ngx-wrapper .ngx-editor-textarea{
  background: white !important;
}

.input-group-addon {
  background: $font-color-theme;
  color: $bg-theme;
}


/* cards attempt */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  min-width: 300px;
  margin: 10px auto;
  text-align: center;
  font-family: arial;
}

.card:hover {
  background: #f5f5f5;
  cursor: pointer;
}

.exp-info{
  position: absolute;
  top: 58px;
  /* right: 40%; */
  color: $bg-theme;
  background-color: #4d4d4d;
  width: 20%;
  text-align: center;
}

.title {
  color: grey;
  font-size: 16px;
}

button.bl {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: $bg-theme;
  background-color: #4d4d4d;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button.bl-small {
  border: none;
  outline: 0;
  color: $font-color-theme;
  background-color: #4d4d4d;
  text-align: center;
  cursor: pointer;
}

i.mright{
  margin-right: 0px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button.bl:hover, a:hover {
  opacity: 0.8;
}

.slot-but {
  background: $bright-blue;
  color: white;
}

.slot-but:hover, .slot-but.active {
  background: $bright-blue-hover;
  color: #f0ad4e;
}

button.bl[disabled], .slot-but.btn[disabled], button.bl[disabled]:hover, .slot-but.btn[disabled]:hover{
  background: #c2d5ea;
  color: black;
  cursor: not-allowed;
}

.elip {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.star-label {
  font-size: 30px;
}

.top-margin {
  margin-top: 20px;
}

.space-round {
  padding: 15px 0;
}

.space-round a {
  color: skyblue;
  font-size: 12px;
}

img {
  border: 1px solid gray;
}

.bottom-margin{
  margin-bottom: 25px;
}

.btn-area .btn:hover, .btn-area .btn.active, .btn-area .btn:active {
	background: $bg-theme;
	color: $font-color-theme;
}

.btn-submit .btn:hover, .btn-submit .btn.active, .btn-submit .btn:active {
	background: $bg-theme;
	color: $font-color-theme;
}

.btn-area .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.btn-area .btn-group>.btn:last-child:not(:first-child) {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}