<div class="top-bar clearfix">
  <div class="row gutter">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="page-title">
        <h3>Book an appointment</h3>
        <p class="space-round">Getting appointment with doctor by selecting available appointment slot.<br/></p>
          <img *ngIf="doctor.profilePic && doctor.profilePic !== 'test'" [src]="domSanitizer.bypassSecurityTrustUrl(doctor.profilePic)" alt="User" height="80px" width="80px"/>
          <div *ngIf="!doctor.profilePic || doctor.profilePic === 'test'" class="no-image pull-left">
            <span>{{doctor.firstName.charAt(0).toUpperCase()}}{{doctor.lastName.charAt(0).toUpperCase()}}</span>
          </div>
          {{doctor.firstName + ' ' + doctor.lastName + ' (' + doctor.qualification + '- ' + doctor.title + ')'}}
      </div>
    </div>
  </div>
</div>
<div class="row gutter">
  <div class="alert alert-warning" translate *ngIf="error">
    {{error}}
  </div>
  <div *ngIf="!hospitals" class="text-center col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <i class="fas fa-circle-notch fa-3x fa-spin text-warning"></i>
      <div>Loading hospitals and appointment slots ....</div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngIf="hospitals">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-hospital"></i>
        </span>
        <select class="form-control" [(ngModel)]="selectedHospital" (ngModelChange)="onSelect()">
          <option [value]="hospital.id" *ngFor="let hospital of hospitals">{{hospital.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-calendar-check"></i>
        </span>
        <select class="form-control" [(ngModel)]="selectedWeek" (ngModelChange)="onSelectDay()">
          <option [value]="workDay" *ngFor="let workDay of workingDays | orderBy">{{workDay | date : "fullDate"}}</option>
        </select>
      </div>
    </div>
    <div class="panel panel-danger" *ngIf="selectedWeek">
      <h4>Select slot for {{selectedWeek | date : "fullDate"}}</h4>
      <div class="panel-body">
        <div btnRadioGroup [(ngModel)]="radioModel" class="col-lg-12 bottom-margin">
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 text-center" *ngFor="let slot of slots" style="margin:10px 0px;">
            <label class="btn slot-but" [btnRadio]="slot.time" tabindex="0" role="button" [disabled]="slot.disabled || isExpired(slot.time)">
              <i class="fa fa-file-medical"></i> {{slot.time | date : "shortTime"}}</label>
          </div>
        </div>
        <div class="form-group">
            <textarea rows="4" [(ngModel)]="reason" class="form-control" placeholder="Short description about appointment need..."></textarea>
        </div>
        <button class="bl top-margin" *ngIf="targetHospital.paymentMode === 1" (click)="bookSlot()" [disabled]="!radioModel">Pay <i class="fa fa-rupee-sign"></i> {{targetHospital.fees}} to book slot</button>
        <button class="bl top-margin" *ngIf="targetHospital.paymentMode === 0" (click)="bookSlot()" [disabled]="!radioModel">Book Slot</button>
      </div>
    </div>
  </div>
</div>
