<div class="body-div login-holder container-fluid">
    <div class="row reg-holder animated bounceIn">
  <form  [formGroup]="forgetPasswordForm" novalidate id="wrapper">
    <div id="box" class="animated bounceIn">
      <div id="top_header">
        <img src="assets/logo.png" alt="Arise Admin Dashboard Logo" />
        <h5>
          To get a verification code,Please Enter Your Registred Email Address
        </h5>
      </div>
      
      <div id="inputs" class="form-group">
        <div class="form-block">
          <label class="d-block">
            <input type="text" formControlName="username" autocomplete="Username"
                   [placeholder]="'Email' | translate"/>
            <i class="icon-user-check"></i>       
            <span hidden translate>Email</span>
            <small [hidden]="forgetPasswordForm.controls.username.valid || forgetPasswordForm.controls.username.untouched"
                   class="text-danger" translate>
              Email is required
            </small>
          </label>
        </div>
        <input type="submit" (click)="getOTP()" [disabled]="forgetPasswordForm.invalid" value="Submit"/>
      </div>
    </div>
  </form>
  </div>
</div>

<ng-template #verifyOtp>
  <div class="modal-body text-center">
    <p>Please Enter verification code which is sent to your Register Email Address</p>
    <form (ngSubmit)="verify()" [formGroup]="verifyForm">
        <div class="form-block">
            <input type="password" class="form-control" formControlName="emailOtp" autocomplete="current-password"
                [placeholder]="'Email OTP' | translate" required/>
              <span hidden translate>Password</span>
                <small [hidden]="verifyForm.controls.emailOtp.valid || verifyForm.controls.emailOtp.untouched"
                        class="text-danger" translate>
                   Email OTP is required
                </small>
          <i class="icon-spell-check"></i>
        </div>
    </form>
    <br/>
    <div class="text-center" style="cursor: pointer;"><u><a (click)="regenerateOtp()">Resend OTP</a></u></div>
    <br/>
    <button type="button" class="btn btn-default" (click)="confirm()" [disabled]="verifyForm.invalid">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>
<app-new-password *ngIf="isShow" [userName]="username" ></app-new-password>