
<div class="body-div login-holder container-fluid">
    <div class="row reg-holder animated bounceIn">
  <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate id="wrapper">
    <div id="box" class="animated bounceIn">
      <div id="top_header">
        <img src="assets/logo.png" alt="Arise Admin Dashboard Logo" />
        <h5>
          Sign in to access to your<br />
          Student & Tutor Administration.
        </h5>
      </div>
      <div class="alert alert-danger" [hidden]="!error || isLoading" translate>
        Username or password incorrect.
      </div>
      <div id="inputs" class="form-group">
        <div class="form-block">
          <label class="d-block">
            <input type="text" formControlName="username" autocomplete="Email"
                   [placeholder]="'Email' | translate"/>
            <i class="icon-user-check"></i>       
            <span hidden translate>Email</span>
            <small [hidden]="loginForm.controls.username.valid || loginForm.controls.username.untouched"
                   class="text-danger" translate>
              Email is required
            </small>
          </label>
        </div>
        <div class="form-block">
          <label class="d-block">
            <input type="password" formControlName="password" autocomplete="current-password"
                   [placeholder]="'Password' | translate" required/>
                   <i class="icon-spell-check"></i>       
            <span hidden translate>Password</span>
            <small [hidden]="loginForm.controls.password.valid || loginForm.controls.password.untouched"
                   class="text-danger" translate>
              Password is required
            </small>
          </label>
        </div>
        <input type="submit" (click)="login()" [disabled]="loginForm.invalid || isLoading" value="Sign In"/>
      </div>
      <div id="bottom" class="clearfix">
        <a (click)="gotoRegister()">Register</a>
        <span class="separator">|</span> 
        <span class="link" (click)="forgetPassword()">Forget Password?</span> 
      </div>
       
    </div>
  </form>
  </div>
</div>

<ng-template #verifyOtp>
  <div class="modal-body text-center">
    <p>Your validation is pending, Please do the validation first?</p>
    <form (ngSubmit)="verify()" [formGroup]="verifyForm">
        <div class="form-block">
            <input type="password" class="form-control" formControlName="emailOtp" autocomplete="current-password"
                [placeholder]="'Email OTP' | translate" required/>
              <span hidden translate>Password</span>
                <small [hidden]="verifyForm.controls.emailOtp.valid || verifyForm.controls.emailOtp.untouched"
                        class="text-danger" translate>
                   Email OTP is required
                </small>
          <i class="icon-spell-check"></i>
        </div>
        <div class="form-block">
            <input type="password" class="form-control" formControlName="smsOtp" autocomplete="current-password"
                [placeholder]="'SMS OTP' | translate" required/>
              <span hidden translate>SMS OTP</span>
                <small [hidden]="verifyForm.controls.smsOtp.valid || verifyForm.controls.smsOtp.untouched"
                        class="text-danger" translate>
                   SMS OTP is required
                </small>
          <i class="icon-spell-check"></i>
        </div>
    </form>
    <br/>
    <div class="text-center" style="cursor: pointer;"><u><a (click)="regenerateOtp()">Resend OTP</a></u></div>
    <br/>
    <button type="button" class="btn btn-default" (click)="confirm()" [disabled]="verifyForm.invalid">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>