<div class="body-div login-holder container-fluid">
    <div class="row reg-holder animated bounceIn">
  <form  [formGroup]="passwordForm" novalidate id="wrapper">
    <div id="box" class="animated bounceIn">
      <div id="top_header">
        <img src="assets/logo.png" alt="Arise Admin Dashboard Logo" />
        <h5>
         Enter New Password
        </h5>
      </div>
      <div class="alert alert-danger" [hidden]="!error" translate>
        Password or re-password incorrect.
      </div>
      <div id="inputs" class="form-group">
        <div class="form-block">
          <label class="d-block">
            <input type="password" formControlName="new_pass" autocomplete="New Password"
                   [placeholder]="'New Password' | translate" required/>
                   <i class="icon-spell-check"></i>       
            <span hidden translate>Re-Password</span>
            <small [hidden]="passwordForm.controls.new_pass.valid || passwordForm.controls.new_pass.untouched"
                   class="text-danger" translate>
              New Password is required
            </small>
          </label>
        </div>
        <div class="form-block">
          <label class="d-block">
            <input type="password" formControlName="re_pass" autocomplete="Re-Password"
                   [placeholder]="'Re-Password' | translate" required/>
                   <i class="icon-spell-check"></i>       
            <span hidden translate>Re-Password</span>
            <small [hidden]="passwordForm.controls.re_pass.valid || passwordForm.controls.re_pass.untouched"
                   class="text-danger" translate>
              Re Password is required
            </small>
          </label>
        </div>
        <input type="submit" (click)="changePassword()" [disabled]="passwordForm.invalid" value="Reset Password"/>
      </div>
    </div>
  </form>
  </div>
</div>