<div class="body-div container-fluid">
  <!-- Row Starts -->
  <div class="row reg-holder animated bounceIn">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="panel">
        <div class="panel-heading">
          <div id="top_header">
            <img src="assets/logo.png" alt="Arise Admin Dashboard Logo" />
            <h5>Register:  
                <div class="btn-group" btnRadioGroup [(ngModel)]="registrationMode">
                    <label class="btn btn-info" btnRadio="student"
                           tabindex="0" role="button"><i class="fa fa-users"></i> Student</label>
                    <label class="btn btn-info" btnRadio="tutor"
                           tabindex="0" role="button"><i class="fa fa-user-graduate"></i> Tutor</label>
                  </div>
            </h5>
          </div>
        </div>
        <div class="panel-body">
          <form id="studentForm" [formGroup]="studentRegistrationForm" novalidate *ngIf="registrationMode==='student'">
            <div class="form-group">
              <div class="row gutter">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label class="control-label">First Name</label>
                  <input type="text" class="form-control" formControlName="first_name" />
                  <i class="fa fa-i-cursor ico-input-side"></i>
                  <small [hidden]="studentRegistrationForm.controls.first_name.valid || studentRegistrationForm.controls.first_name.untouched"
                  class="text-danger" translate>
                    First name is required
                  </small>
                </div>

    

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label class="control-label">Last Name</label>
                  <input type="text" class="form-control" formControlName="last_name" />
                  <i class="fa fa-i-cursor ico-input-side"></i>
                  <small [hidden]="studentRegistrationForm.controls.last_name.valid || studentRegistrationForm.controls.last_name.untouched"
                  class="text-danger" translate>
                    Last name is required
                  </small>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label class="control-label">Date of birth</label>
                  <input type="text" placeholder="Date of Birth" class="form-control" formControlName="dob" bsDatepicker [bsConfig]="{ showWeekNumbers: false }"/>
                  <i class="fa fa-calendar-alt ico-input-side"></i>
                  <small [hidden]="studentRegistrationForm.controls.dob.valid || studentRegistrationForm.controls.dob.untouched"
                  class="text-danger" translate>
                    Date of birth is required
                  </small>
                  <!--
                    <input type="text"
           placeholder="Datepicker"
           class="form-control"
           bsDatepicker>
                  -->
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 selectContainer">
                  <label class="control-label">Blood Group</label>
                  <select class="form-control" formControlName="blood_group">
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                  </select>
                  <small [hidden]="studentRegistrationForm.controls.blood_group.valid || studentRegistrationForm.controls.blood_group.untouched"
                  class="text-danger" translate>
                    Blood group is required
                  </small>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 selectContainer">
                  <label class="control-label">Food Preference</label>
                  <select type="text" class="form-control" formControlName="food_preference">
                      <option value="Vegetarian">Vegetarian</option>
                      <option value="NonVegetarian">NonVegetarian</option>
                  </select>
                  <small [hidden]="studentRegistrationForm.controls.food_preference.valid || studentRegistrationForm.controls.food_preference.untouched"
                  class="text-danger" translate>
                    Food preference is required
                  </small>  
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row gutter">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label class="control-label">Profile Pic</label>
                  <app-profile-picture [editmode]=editEnabled (base64DataForProfile)="setProfilePicData($event)"></app-profile-picture>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label class="control-label">Address</label>
                  <textarea class="form-control" formControlName="address" rows="4"></textarea>
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <div class="row gutter">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <label class="control-label">Locality</label>
                      <input type="text" class="form-control" formControlName="locality" />
                      <i class="fa fa-i-cursor ico-input-side"></i>
                      <small [hidden]="studentRegistrationForm.controls.locality.valid || studentRegistrationForm.controls.locality.untouched"
                      class="text-danger" translate>
                      locality is required
                      </small>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label">city</label>
                        <input type="text" class="form-control" formControlName="city" />
                        <i class="fa fa-i-cursor ico-input-side"></i>
                        <small [hidden]="studentRegistrationForm.controls.city.valid || studentRegistrationForm.controls.city.untouched"
                        class="text-danger" translate>
                        city is required
                        </small>
                      </div>


                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <label class="control-label">state</label>
                          <input type="text" class="form-control" formControlName="state" />
                          <i class="fa fa-i-cursor ico-input-side"></i>
                          <small [hidden]="studentRegistrationForm.controls.state.valid || studentRegistrationForm.controls.state.untouched"
                          class="text-danger" translate>
                          state is required
                          </small>
                        </div>


                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label class="control-label">Pincode</label>
                            <input type="text" class="form-control" formControlName="pincode" />
                            <i class="fa fa-i-cursor ico-input-side"></i>
                            <small [hidden]="studentRegistrationForm.controls.pincode.valid || studentRegistrationForm.controls.pincode.untouched"
                            class="text-danger" translate>
                            pincode is required
                            </small>
                          </div>

              </div>
            </div>





            <div class="form-group">
              <div class="row gutter">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label class="control-label">Mobile No</label>
                  <input type="text" class="form-control" formControlName="mobile_number" />
                  <i class="fa fa-phone ico-input-side"></i>
                  <small [hidden]="studentRegistrationForm.controls.mobile_number.valid || studentRegistrationForm.controls.mobile_number.untouched"
                  class="text-danger" translate>
                    Contact no is required
                  </small> 
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label class="control-label">Email Id</label>
                  <input type="text" class="form-control" formControlName="email" />
                  <i class="fa fa-envelope ico-input-side"></i>
                  <small [hidden]="studentRegistrationForm.controls.email.valid || studentRegistrationForm.controls.email.untouched"
                  class="text-danger" translate>
                    Email id is required
                  </small> 
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label class="control-label">Emergency Contact No</label>
                  <input type="text" class="form-control" formControlName="emergency_contact" />
                  <i class="fa fa-phone ico-input-side"></i>
                  <small [hidden]="studentRegistrationForm.controls.emergency_contact.valid || studentRegistrationForm.controls.emergency_contact.untouched"
                  class="text-danger" translate>
                    Emergency contact is required
                  </small>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row gutter">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label class="control-label">Password</label>
                  <input type="password" class="form-control" formControlName="password" />
                  <i class="fa fa-eye ico-input-side"></i>
                  <small [hidden]="studentRegistrationForm.controls.password.valid || studentRegistrationForm.controls.password.untouched"
                  class="text-danger" translate>
                    Password is required
                  </small>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label class="control-label">Retype-Password</label>
                  <input type="password" class="form-control" formControlName="re_password" />
                  <i class="fa fa-eye ico-input-side"></i>
                  <small [hidden]="studentRegistrationForm.controls.re_password.valid || studentRegistrationForm.controls.re_password.untouched"
                  class="text-danger" translate>
                    Re Password is required
                  </small>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 selectContainer">
                  <label class="control-label">Reminder Preference</label>
                  <select class="form-control" formControlName="remind_pref">
                    <option value="1">Both</option>
                    <option value="2">Email</option>
                    <option value="3">SMS</option>
                  </select>
                  <small [hidden]="studentRegistrationForm.controls.remind_pref.valid || studentRegistrationForm.controls.remind_pref.untouched"
                  class="text-danger" translate>
                  Reminder Preference is required
                  </small>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row gutter">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label class="control-label">Father Name</label>
                  <input type="text" class="form-control" name="father_name" />
                  <i class="fa fa-i-cursor ico-input-side"></i>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label class="control-label">Qualification</label>
                  <input type="text" class="form-control" formControlName="father_qualification" />
                  <i class="fa fa-graduation-cap ico-input-side"></i>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label class="control-label">Date of Birth</label>
                  <input type="text" class="form-control" formControlName="father_dob" bsDatepicker [bsConfig]="{ showWeekNumbers: false }"/>
                  <i class="fa fa-calendar-alt ico-input-side"></i>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label class="control-label">Profession</label>
                  <input type="text" class="form-control" formControlName="father_profession" />
                  <i class="fa fa-vcard-o ico-input-side"></i>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row gutter">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label class="control-label">Mother Name</label>
                  <input type="text" class="form-control" name="mother_name" />
                  <i class="fa fa-i-cursor ico-input-side"></i>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label class="control-label">Qualification</label>
                  <input type="text" class="form-control" formControlName="mother_qualification" />
                  <i class="fa fa-graduation-cap ico-input-side"></i>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label class="control-label">Date of Birth</label>
                  <input type="text" class="form-control" formControlName="mother_dob" bsDatepicker [bsConfig]="{ showWeekNumbers: false }"/>
                  <i class="fa fa-calendar-alt ico-input-side"></i>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <label class="control-label">Profession</label>
                  <input type="text" class="form-control" formControlName="mother_profession" />
                  <i class="fa fa-vcard-o ico-input-side"></i>
                </div>
              </div>
            </div>
            <div class="form-group row gutter">
              <div class="col-lg-6 col-lg-offset-2">
                <div class="checkbox">
                  <input type="checkbox" [(ngModel)]="acceptTerm" name="acceptTerms" [ngModelOptions]="{standalone: true}" /> Accept the terms and policies
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-info" (click)="gotToLogin()" [disabled]="studentRegistrationForm.invalid || !acceptTerm">Submit</button>
          </form>

          <form id="tutorForm" [formGroup]="tutorRegistrationForm" novalidate *ngIf="registrationMode==='tutor'">
              <div class="form-group">
                <div class="row gutter">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label">First Name</label>
                    <input type="text" class="form-control" formControlName="first_name" />
                    <i class="fa fa-i-cursor ico-input-side"></i>
                    <small [hidden]="tutorRegistrationForm.controls.first_name.valid || tutorRegistrationForm.controls.first_name.untouched"
                    class="text-danger" translate>
                      First name is required
                    </small>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label">Last Name</label>
                    <input type="text" class="form-control" formControlName="last_name" />
                    <i class="fa fa-i-cursor ico-input-side"></i>
                    <small [hidden]="tutorRegistrationForm.controls.last_name.valid || tutorRegistrationForm.controls.last_name.untouched"
                    class="text-danger" translate>
                      Last name is required
                    </small>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label">Date of birth</label>
                    <input type="text" placeholder="Date of Birth" class="form-control" formControlName="dob" bsDatepicker [bsConfig]="{ showWeekNumbers: false }"/>
                    <i class="fa fa-calendar-alt ico-input-side"></i>
                    <small [hidden]="tutorRegistrationForm.controls.dob.valid || tutorRegistrationForm.controls.dob.untouched"
                    class="text-danger" translate>
                      Date of birth is required
                    </small>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row gutter">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label">Profile Pic</label>
                    <app-profile-picture [editmode]=editEnabled (base64DataForProfile)="setProfilePicData($event)"></app-profile-picture>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label">Address</label>
                    <textarea class="form-control" formControlName="address" rows="4"></textarea>
                  </div>
                </div>
              </div>



              <div class="form-group">
                  <div class="row gutter">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <label class="control-label">Locality</label>
                          <input type="text" class="form-control" formControlName="locality" />
                          <i class="fa fa-i-cursor ico-input-side"></i>
                          <small [hidden]="tutorRegistrationForm.controls.locality.valid || tutorRegistrationForm.controls.locality.untouched"
                          class="text-danger" translate>
                          locality is required
                          </small>
                        </div>
    
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label class="control-label">city</label>
                            <input type="text" class="form-control" formControlName="city" />
                            <i class="fa fa-i-cursor ico-input-side"></i>
                            <small [hidden]="tutorRegistrationForm.controls.city.valid || tutorRegistrationForm.controls.city.untouched"
                            class="text-danger" translate>
                            city is required
                            </small>
                          </div>
    
    
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <label class="control-label">state</label>
                              <input type="text" class="form-control" formControlName="state" />
                              <i class="fa fa-i-cursor ico-input-side"></i>
                              <small [hidden]="tutorRegistrationForm.controls.state.valid || tutorRegistrationForm.controls.state.untouched"
                              class="text-danger" translate>
                              state is required
                              </small>
                            </div>
    
    
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label">Pincode</label>
                                <input type="text" class="form-control" formControlName="pincode" />
                                <i class="fa fa-i-cursor ico-input-side"></i>
                                <small [hidden]="tutorRegistrationForm.controls.pincode.valid || tutorRegistrationForm.controls.pincode.untouched"
                                class="text-danger" translate>
                                pincode is required
                                </small>
                              </div>
    
                  </div>
                </div>



              <div class="form-group">
                <div class="row gutter">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label">Qualification</label>
                        <input type="text" class="form-control" formControlName="qualification" />
                        <i class="fa fa-graduation-cap ico-input-side"></i>
                      </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label">Mobile No</label>
                    <input type="text" class="form-control" formControlName="mobile_number" />
                    <i class="fa fa-phone ico-input-side"></i>
                    <small [hidden]="tutorRegistrationForm.controls.mobile_number.valid || tutorRegistrationForm.controls.mobile_number.untouched"
                    class="text-danger" translate>
                      Contact no is required
                    </small>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label">Email Id</label>
                    <input type="text" class="form-control" formControlName="email" />
                    <i class="fa fa-envelope ico-input-side"></i>
                    <small [hidden]="tutorRegistrationForm.controls.email.valid || tutorRegistrationForm.controls.email.untouched"
                    class="text-danger" translate>
                      Email id is required
                    </small>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row gutter">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label">Password</label>
                    <input type="password" class="form-control" formControlName="password" />
                    <i class="fa fa-eye ico-input-side"></i>
                    <small [hidden]="tutorRegistrationForm.controls.password.valid || tutorRegistrationForm.controls.password.untouched"
                    class="text-danger" translate>
                      Password is required
                    </small>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label">Retype-Password</label>
                    <input type="password" class="form-control" formControlName="re_password" />
                    <i class="fa fa-eye ico-input-side"></i>
                    <small [hidden]="tutorRegistrationForm.controls.re_password.valid || tutorRegistrationForm.controls.re_password.untouched"
                    class="text-danger" translate>
                      Re Password is required
                    </small>
                  </div>
                </div>
              </div>
              <div class="form-group row gutter">
                <div class="col-lg-6 col-lg-offset-2">
                  <div class="checkbox">
                    <input type="checkbox" [(ngModel)]="acceptTerm" name="acceptTerms" [ngModelOptions]="{standalone: true}"/> Accept the terms and policies
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-info" (click)="gotToLogin()" [disabled]="tutorRegistrationForm.invalid || !acceptTerm">Submit</button>
            </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Row Ends -->
</div>
