@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}

.vertical-nav, .vertical-nav span, .vertical-nav i, .vertical-nav li {
  color: $bg-theme;
}

.hide-li-xs {
  display: none;
}

@media (max-width: 767px) {
  .hide-li-xs {
    display: block;
  }
}
