

<header>

  <!-- Logo starts -->
  <a href="#" class="logo">
    <img src="assets/logo.png" alt="Arise Admin Dashboard Logo" />
  </a>
  <!-- Logo ends -->

  <!-- Header actions starts -->
  <ul id="header-actions" class="clearfix">
    <li class="list-box user-admin hidden-xs dropdown">
      <div class="admin-details">
        <div class="name">{{userData.first_name}} {{userData.last_name}}</div>
        
        <div class="designation" *ngIf = "!isAdmin">{{userData.tutor_id ? 'Tutor' : 'Student'}}</div>
      </div>
      <a id="drop4" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
         <i class="fa fa-user"></i> 
       <!-- <img *ngIf="userData.profile_pic && userData.profile_pic!== 'test'" [src]="domSanitizer.bypassSecurityTrustUrl(userData.profile_pic)" alt="User" height="40px" width="40px" /> -->
      </a>
      <ul class="dropdown-menu sm">
        <li class="dropdown-content">
          <a (click)="goTo('profile', '')"  *ngIf="!isAdmin">Edit Profile</a>
          <a (click)="goToChangePassword()">Change Password</a>
          <a>Settings</a>
          <a (click)="logout()">Logout</a>
        </li>
      </ul>
    </li>
    <li>
      <button type="button" id="toggleMenu" class="toggle-menu">
        <i class="collapse-menu-icon"></i>
      </button>
    </li>
  </ul>
  <!-- Header actions ends -->

  
</header>
<!-- Header ends -->

<!-- Left sidebar start -->
<div class="vertical-nav">

  <!-- Collapse menu starts -->
  <button class="collapse-menu">
    <i class="fa fa-list"></i>
  </button>
  <!-- Collapse menu ends -->

  <!-- Current user starts -->
  <div class="user-details clearfix">
    <a (click)="goTo('profile','')" class="user-img">
      <img *ngIf="userData && userData.profile_pic" [src]="domSanitizer.bypassSecurityTrustUrl(userData.profile_pic)" alt="User Info">
      <img *ngIf="!userData.profile_pic || userData.profile_pic === 'test'" src="assets/thumbs/admin9.png" alt="User Info">

    </a>
    <h5 class="user-name">{{userData.first_name}} {{userData.last_name}} </h5>
  </div>
  <!-- Current user ends -->

  <!-- Sidebar menu starts -->
  <ul class="menu clearfix" *ngIf="isAdmin">
    <li>
        <a (click)="goTo('tutorlist','')">
            <i class="fa fa-users"></i>
            <span class="menu-item">Tutors</span>
        </a>
      </li>
  </ul>

  <ul class="menu clearfix" *ngIf = "!isAdmin">
    <li >
      <a (click)="goTo(userData.tutor_id ? 'tut-dashboard' : 'stu-dashboard','')">
        <i class="fa fa-tachometer-alt"></i>
        <span class="menu-item">Dashboard</span>
      </a>
    </li>
    <li  (click)="goTo('tutorlist','')" *ngIf="userData.student_id" >
      <a>
        <i class="fa fa-users"></i> 
        <span class="menu-item">Tutors</span>
      </a>
  </li>

  <li (click)="goTo('students','')" *ngIf="userData.tutor_id">
      <a>
        <i class="fa fa-users"></i>
        <span class="menu-item">Students</span>
      </a>
  </li>
  
    <li (click)="goTo(userData.tutor_id ? 'assignments' : 'student-assignments', '')">
      <a>
        <i class="fas fa-file"></i>
        <span class="menu-item">Assignments</span>
      </a>
    </li>
    
    <li (click)="goTo('schedule','')">
      <a> 
        <i class="fa fa-calendar-alt"></i>
        <span class="menu-item">Calendar</span>
      </a>
    </li>
    <li>
      <a (click)="goTo('chat','')">
        <i class="fa fa-comments"></i>
        <span class="menu-item">Chat</span>
      </a>
    </li>
 
    <li>
      <a>
        <i class="fa fa-envelope"></i>
        <span class="menu-item">Mail Box</span>
        <span class="text-center">
          <i class="fa fa-caret-down pull-right"></i>
      </span>
      </a>
      <ul>
        <li (click)="goTo('email','inbox')">
          <a>Inbox</a>
        </li>
        <li (click)="goTo('email','sent')">
          <a>Sent</a>
        </li>
      </ul>
    </li>
    <li (click)="goTo(userData.tutor_id ? 'question-set-list' : 'stu-quesionset-list', '')">
      <a>
        <i class="fa fa-tasks"></i>
        <span class="menu-item">Test & Results</span>
      </a>
    </li>
    <li>
      <a (click)="goTo('bloglist','')">
        <i class="fa fa-edit"></i>
        <span class="menu-item">Blog</span>
      </a>
    </li>
  
  </ul>
  <!-- Sidebar menu ends -->
</div>
<!-- Left sidebar end -->
<footer>
  Copyright Arise Admin <span>2016</span>
</footer>