<div class="dashboard-wrapper dashboard-wrapper-lg">

  <!-- Container fluid Starts -->
  <div class="container-fluid">

    <!-- Row starts -->
    <div class="row gutter">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class="panel height2 panel-bg-one">
          <div class="panel-body">
            <div class="user-profile clearfix">
              <div class="user-img">
                <!--<img *ngIf="userData && userData.profilePic" [src]="domSanitizer.bypassSecurityTrustUrl(userData.profilePic)" alt="User Info"> -->
                <img *ngIf="!userData || !userData.profilePic || userData.profilePic === 'test'" src="assets/thumbs/admin9.png" alt="User Info">
                <app-profile-picture *ngIf="userData && userData.profilePic && userData.profilePic !== 'test'" [editmode]="editSummaryDetails" [base64Image]="userData.profilePic" [fromProf]="true" (base64DataForProfile)="setProfilePicData($event)"></app-profile-picture>
                <!-- <span class="completed-info" title="78 assignments">78</span> -->
              </div>
              <!-- <h5>Assignment</h5> -->
              <div *ngIf="userData">
                <h3>{{userData.firstName}} {{userData.lastName}}</h3>
                <h4>{{userData.licNo ? userData.qualification : 'Patient'}}</h4>
                <h4>{{userData.email}}</h4>
                <h4>{{userData.mobileNumber}}</h4>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class="panel height2" [ngClass]="{'dark-green-bg': isDoctor}" >
          <div class="panel-body no-padding" *ngIf="isDoctor">
            <div class="current-location">
              <h4 class="text-white no-margin">
                <i class="icon-location icon-2x"></i> Hospitals</h4>
              <div id="mapDenmark" class="chart-height1">
                    <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onLocationChoose($event)">
                      <agm-marker [latitude]="+hospital.latitude" [longitude]="+hospital.longitude" *ngFor="let hospital of hospitals"></agm-marker>
                    </agm-map>
              </div>
            </div>
          </div>
          <div class="panel-body no-padding" *ngIf="!isDoctor">
              <div class="row gutter">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <div class="box-c alert-info"><h4>Existing Disease:</h4><hr> {{userData.existingDesease}}</div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="box-c alert-danger"><h4>Allergic of:</h4><hr> {{userData.allergic}}</div>
                  </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                  <div class="box-c alert-info"><h4>Family History:</h4><hr> {{userData.familyHistory}}</div>
                </div>
             </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <!-- Row inside row starts -->
        <div class="row gutter">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel height1 green-bg">
              <div class="panel-body text-center">
                <div class="user-stats">
                  <div>
                    <i class="fa fa-star fa-4x text-white" *ngIf="isDoctor"></i>
                    <i class="fa fa-2x text-white" *ngIf="!isDoctor">{{userData.height}} cm/ {{userData.weight}} kg</i>
                  </div>
                  <h5 *ngIf="isDoctor">{{starRating}} Rating</h5>
                  <h5 *ngIf="!isDoctor">Height/Weight</h5>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="row gutter">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel height1 yellow-bg">
              <div class="panel-body text-center">
                <div class="user-stats" *ngIf="!isDoctor">
                  <div>
                    <i class="fa fa-medkit fa-4x text-white"></i>
                  </div>
                  <h5>{{surgeries.length}} Surgeries</h5>
                </div>
                <div class="user-stats" *ngIf="isDoctor">
                  <div>
                    <i class="fa fa-hospital fa-4x text-white"></i>
                  </div>
                  <h5>{{hospitals.length}} Hospitals</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Row inside row ends -->
      </div>
    </div>
    <!-- Row ends -->
    <!-- Row starts -->
    <div class="row gutter">
      <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
        <!-- Row inside row starts -->
        <div class="row gutter">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel">
              <div class="panel-body">
                <h4>
                  <i class="fa fa-2x fa-list text-info"></i> Details
                  <i class="fa fa-edit text-info pull-right" (click)="editSummary()"></i> 
                </h4>
                <div *ngIf="!editSummaryDetails">
                    <p>Address: <small>{{!isDoctor ? userData.address : userData.addressLine}}</small></p>
                    <p>Locality: <small>{{userData.locality}}</small></p>
                    <p>City: <small>{{userData.city}}</small></p>
                    <p>State: <small>{{userData.state}}</small></p>
                    <p>Pin Code: <small>{{userData.pincode}}</small></p>

                    <br/>
                    <br/>
                    <p>Contact no: <small>{{userData.mobileNumber}}</small></p>
                    <p>Email: <small>{{userData.email}}</small></p>
                  </div>
                  <div *ngIf="editSummaryDetails" >
                      <form id="doctorForm" [formGroup]="doctorRegistrationForm" novalidate *ngIf="isDoctor">
                          <div class="form-group">
                            <div class="row gutter">
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                <label class="control-label">First Name <span class="text-star">*</span></label>
                                <input type="text" class="form-control" formControlName="first_name" />
                                <i class="fa fa-i-cursor ico-input-side"></i>
                                <div *ngIf="doctorRegistrationForm.controls.first_name.invalid && (doctorRegistrationForm.controls.first_name.dirty || doctorRegistrationForm.controls.first_name.touched)" class="alert alert-warning">                  
                                  <div *ngIf="doctorRegistrationForm.controls.first_name.errors.required">
                                    First name is required.
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                <label class="control-label">Last Name <span class="text-star">*</span></label>
                                <input type="text" class="form-control" formControlName="last_name" />
                                <i class="fa fa-i-cursor ico-input-side"></i>
                                <div *ngIf="doctorRegistrationForm.controls.last_name.invalid && (doctorRegistrationForm.controls.last_name.dirty || doctorRegistrationForm.controls.last_name.touched)" class="alert alert-warning">                  
                                  <div *ngIf="doctorRegistrationForm.controls.last_name.errors.required">
                                    Last name is required.
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                <label class="control-label">Date of birth <span class="text-star">*</span></label>
                                <input type="text" placeholder="Date of Birth" class="form-control" formControlName="dob" bsDatepicker 
                                [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red'}"/>
                                <i class="fa fa-calendar-alt ico-input-side"></i>
                                <div *ngIf="doctorRegistrationForm.controls.dob.invalid && (doctorRegistrationForm.controls.dob.dirty || doctorRegistrationForm.controls.dob.touched)" class="alert alert-warning">                  
                                  <div *ngIf="doctorRegistrationForm.controls.dob.errors.required">
                                    Date of birth is required.
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 selectContainer form-line">
                                <label class="control-label">Gender <span class="text-star">*</span></label>
                                <select class="form-control" formControlName="gender">
                                  <option value="MALE">Male</option>
                                  <option value="FEMALE">Female</option>
                                  <option value="TRANS">Transgender</option>
                                </select>
                                <div *ngIf="doctorRegistrationForm.controls.gender.invalid && (doctorRegistrationForm.controls.gender.dirty || doctorRegistrationForm.controls.gender.touched)" class="alert alert-warning">                  
                                  <div *ngIf="doctorRegistrationForm.controls.gender.errors.required">
                                    Gender is required.
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                                <label class="control-label">Address <span class="text-star">*</span></label>
                                <textarea class="form-control" formControlName="addressLine" rows="2"></textarea>
                                <i class="fa fa-i-cursor ico-input-side"></i>
                                <div *ngIf="doctorRegistrationForm.controls.addressLine.invalid && (doctorRegistrationForm.controls.addressLine.dirty || doctorRegistrationForm.controls.addressLine.touched)" class="alert alert-warning">                  
                                  <div *ngIf="doctorRegistrationForm.controls.addressLine.errors.required">
                                    Address is required.
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                <label class="control-label">Locality <span class="text-star">*</span></label>
                                <input type="text" class="form-control" formControlName="locality" />
                                <i class="fa fa-i-cursor ico-input-side"></i>
                                <div *ngIf="doctorRegistrationForm.controls.locality.invalid && (doctorRegistrationForm.controls.locality.dirty || doctorRegistrationForm.controls.locality.touched)" class="alert alert-warning">                  
                                  <div *ngIf="doctorRegistrationForm.controls.locality.errors.required">
                                    Locality is required.
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                <label class="control-label">City <span class="text-star">*</span></label>
                                <input type="text" class="form-control" formControlName="city" />
                                <i class="fa fa-i-cursor ico-input-side"></i>
                                <div *ngIf="doctorRegistrationForm.controls.city.invalid && (doctorRegistrationForm.controls.city.dirty || doctorRegistrationForm.controls.city.touched)" class="alert alert-warning">                  
                                  <div *ngIf="doctorRegistrationForm.controls.city.errors.required">
                                    City is required.
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                <label class="control-label">State <span class="text-star">*</span></label>
                                <input type="text" class="form-control" formControlName="state" />
                                <i class="fa fa-i-cursor ico-input-side"></i>
                                <div *ngIf="doctorRegistrationForm.controls.state.invalid && (doctorRegistrationForm.controls.state.dirty || doctorRegistrationForm.controls.state.touched)" class="alert alert-warning">                  
                                  <div *ngIf="doctorRegistrationForm.controls.state.errors.required">
                                    State is required.
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                <label class="control-label">Pin code <span class="text-star">*</span></label>
                                <input type="text" class="form-control" formControlName="pincode" />
                                <i class="fa fa-i-cursor ico-input-side"></i>
                                <div *ngIf="doctorRegistrationForm.controls.pincode.invalid && (doctorRegistrationForm.controls.pincode.dirty || doctorRegistrationForm.controls.pincode.touched)" class="alert alert-warning">                  
                                  <div *ngIf="doctorRegistrationForm.controls.pincode.errors.required">
                                    Pin code is required.
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                  <label class="control-label">Qualification <span class="text-star">*</span></label>
                                  <input type="text" class="form-control" formControlName="qualification" />
                                  <i class="fa fa-graduation-cap ico-input-side"></i>
                              </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 selectContainer form-line">
                              <label class="control-label">Type of Expertise <span class="text-star">*</span></label>
                              <select class="form-control" formControlName="title">
                                <option [value]="type.name" *ngFor="let type of typesOfDoc">{{type.name}}</option>
                              </select>
                              <div *ngIf="doctorRegistrationForm.controls.title.invalid && (doctorRegistrationForm.controls.title.dirty || doctorRegistrationForm.controls.title.touched)" class="alert alert-warning">                  
                                <div *ngIf="doctorRegistrationForm.controls.title.errors.required">
                                  Type of Expertise is required.
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                              <label class="control-label">Mobile No <span class="text-star">*</span></label>
                              <input type="text" class="form-control" formControlName="mobileNumber" />
                              <i class="fa fa-phone ico-input-side"></i>
                              <div *ngIf="doctorRegistrationForm.controls.mobileNumber.invalid && (doctorRegistrationForm.controls.mobileNumber.dirty || doctorRegistrationForm.controls.mobileNumber.touched)" class="alert alert-warning">                  
                                <div *ngIf="doctorRegistrationForm.controls.mobileNumber.errors.required">
                                  Mobile No is required.
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                              <label class="control-label">Email Id <span class="text-star">*</span></label>
                              <input type="text" class="form-control" formControlName="email" />
                              <i class="fa fa-envelope ico-input-side"></i>
                              <div *ngIf="doctorRegistrationForm.controls.email.invalid && (doctorRegistrationForm.controls.email.dirty || doctorRegistrationForm.controls.email.touched)" class="alert alert-warning">                  
                                <div *ngIf="doctorRegistrationForm.controls.email.errors.required">
                                  Email is required.
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                              <label class="control-label">License Number <span class="text-star">*</span></label>
                              <input type="text" class="form-control" formControlName="licNo" />
                              <i class="fa fa-i-cursor ico-input-side"></i>
                              <div *ngIf="doctorRegistrationForm.controls.licNo.invalid && (doctorRegistrationForm.controls.licNo.dirty || doctorRegistrationForm.controls.licNo.touched)" class="alert alert-warning">                  
                                <div *ngIf="doctorRegistrationForm.controls.licNo.errors.required">
                                  License Number is required.
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                              <label class="control-label">Associated Medical Council (Optional)</label>
                              <input type="text" class="form-control" formControlName="medicalCouncil" />
                              <i class="fa fa-i-cursor ico-input-side"></i>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                              <label class="control-label">Awards (Optional)</label>
                              <input type="text" class="form-control" formControlName="awards" />
                              <i class="fa fa-i-cursor ico-input-side"></i>
                            </div>
                            </div>
                          </div>
                          <button type="submit" class="btn btn-primary" (click)="updateSummary()" [disabled]="doctorRegistrationForm.invalid">Submit</button>
                          <button class="btn btn-default" (click)="editSummaryDetails = false">Cancel</button>
                        </form>

                        <form id="patientForm" [formGroup]="patientRegistrationForm" novalidate *ngIf="!isDoctor">
                            <div class="form-group">
                              <div class="row gutter">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                  <label class="control-label">First Name <span class="text-star">*</span></label>
                                  <input type="text" class="form-control" formControlName="first_name" />
                                  <i class="fa fa-i-cursor ico-input-side"></i>
                                  <div *ngIf="patientRegistrationForm.controls.first_name.invalid && (patientRegistrationForm.controls.first_name.dirty || patientRegistrationForm.controls.first_name.touched)" class="alert alert-warning">                  
                                    <div *ngIf="patientRegistrationForm.controls.first_name.errors.required">
                                      First name is required.
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                  <label class="control-label">Last Name <span class="text-star">*</span></label>
                                  <input type="text" class="form-control" formControlName="last_name" />
                                  <i class="fa fa-i-cursor ico-input-side"></i>
                                  <div *ngIf="patientRegistrationForm.controls.last_name.invalid && (patientRegistrationForm.controls.last_name.dirty || patientRegistrationForm.controls.last_name.touched)" class="alert alert-warning">                  
                                    <div *ngIf="patientRegistrationForm.controls.last_name.errors.required">
                                      Last name is required.
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                  <label class="control-label">Date of birth <span class="text-star">*</span></label>
                                  <input type="text" placeholder="Date of Birth" class="form-control" formControlName="dob" bsDatepicker 
                                    [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red'}"/>
                                  <i class="fa fa-calendar-alt ico-input-side"></i>
                                  <div *ngIf="patientRegistrationForm.controls.dob.invalid && (patientRegistrationForm.controls.weight.dirty || patientRegistrationForm.controls.dob.touched)" class="alert alert-warning">                  
                                    <div *ngIf="patientRegistrationForm.controls.dob.errors.required">
                                      Date of birth is required.
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                  <label class="control-label">Height in cm <span class="text-star">*</span></label>
                                  <input type="text" class="form-control" formControlName="height" />
                                  <i class="fa fa-i-cursor ico-input-side"></i>
                                  <div *ngIf="patientRegistrationForm.controls.height.invalid && (patientRegistrationForm.controls.height.dirty || patientRegistrationForm.controls.height.touched)" class="alert alert-warning">                  
                                    <div *ngIf="patientRegistrationForm.controls.height.errors.required">
                                      Height is required.
                                    </div>
                                    <div *ngIf="patientRegistrationForm.controls.height.errors.maxlength">
                                      Height should not be more then 3 digits.
                                    </div>
                                  </div>
                                  <!-- <small [hidden]="patientRegistrationForm.controls.height.valid || patientRegistrationForm.controls.height.untouched"
                                  class="text-danger" translate>
                                    Height is required
                                  </small> -->
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                  <label class="control-label">Weight in kg <span class="text-star">*</span></label>
                                  <input type="text" class="form-control" formControlName="weight" />
                                  <i class="fa fa-i-cursor ico-input-side"></i>
                                  <div *ngIf="patientRegistrationForm.controls.weight.invalid && (patientRegistrationForm.controls.weight.dirty || patientRegistrationForm.controls.weight.touched)" class="alert alert-warning">                  
                                    <div *ngIf="patientRegistrationForm.controls.weight.errors.required">
                                      Weight is required.
                                    </div>
                                  </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 selectContainer form-line">
                                      <label class="control-label">Gender <span class="text-star">*</span></label>
                                      <select class="form-control" formControlName="gender">
                                        <option value="MALE">Male</option>
                                        <option value="FEMALE">Female</option>
                                        <option value="TRANS">Transgender</option>
                                      </select>
                                      <div *ngIf="patientRegistrationForm.controls.gender.invalid && (patientRegistrationForm.controls.gender.dirty || patientRegistrationForm.controls.gender.touched)" class="alert alert-warning">                  
                                        <div *ngIf="patientRegistrationForm.controls.gender.errors.required">
                                          Gender is required.
                                        </div>
                                      </div>                      
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                                      <label class="control-label">Address <span class="text-star">*</span></label>
                                      <textarea class="form-control" formControlName="address" rows="2"></textarea>
                                      <i class="fa fa-i-cursor ico-input-side"></i>
                                      <div *ngIf="patientRegistrationForm.controls.address.invalid && (patientRegistrationForm.controls.address.dirty || patientRegistrationForm.controls.address.touched)" class="alert alert-warning">                  
                                        <div *ngIf="patientRegistrationForm.controls.address.errors.required">
                                          Address is required.
                                        </div>
                                      </div> 
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                      <label class="control-label">Locality <span class="text-star">*</span></label>
                                      <input type="text" class="form-control" formControlName="locality" />
                                      <i class="fa fa-i-cursor ico-input-side"></i>
                                      <div *ngIf="patientRegistrationForm.controls.locality.invalid && (patientRegistrationForm.controls.locality.dirty || patientRegistrationForm.controls.locality.touched)" class="alert alert-warning">                  
                                        <div *ngIf="patientRegistrationForm.controls.locality.errors.required">
                                          Locality is required.
                                        </div>
                                      </div> 
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                      <label class="control-label">City <span class="text-star">*</span></label>
                                      <input type="text" class="form-control" formControlName="city" />
                                      <i class="fa fa-i-cursor ico-input-side"></i>
                                      <div *ngIf="patientRegistrationForm.controls.city.invalid && (patientRegistrationForm.controls.city.dirty || patientRegistrationForm.controls.city.touched)" class="alert alert-warning">                  
                                        <div *ngIf="patientRegistrationForm.controls.city.errors.required">
                                          City is required.
                                        </div>
                                      </div> 
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                      <label class="control-label">State <span class="text-star">*</span></label>
                                      <input type="text" class="form-control" formControlName="state" />
                                      <i class="fa fa-i-cursor ico-input-side"></i>
                                      <div *ngIf="patientRegistrationForm.controls.state.invalid && (patientRegistrationForm.controls.state.dirty || patientRegistrationForm.controls.state.touched)" class="alert alert-warning">                  
                                        <div *ngIf="patientRegistrationForm.controls.state.errors.required">
                                          State is required.
                                        </div>
                                      </div> 
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                      <label class="control-label">Pin code <span class="text-star">*</span></label>
                                      <input type="text" class="form-control" formControlName="pincode" />
                                      <i class="fa fa-i-cursor ico-input-side"></i>
                                      <div *ngIf="patientRegistrationForm.controls.pincode.invalid && (patientRegistrationForm.controls.pincode.dirty || patientRegistrationForm.controls.pincode.touched)" class="alert alert-warning">                  
                                        <div *ngIf="patientRegistrationForm.controls.pincode.errors.required">
                                          Pin code is required.
                                        </div>
                                      </div> 
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                        <label class="control-label">Mobile No <span class="text-star">*</span></label>
                                        <input type="text" class="form-control" formControlName="mobileNumber" />
                                        <i class="fa fa-phone ico-input-side"></i>
                                        <div *ngIf="patientRegistrationForm.controls.mobileNumber.invalid && (patientRegistrationForm.controls.mobileNumber.dirty || patientRegistrationForm.controls.mobileNumber.touched)" class="alert alert-warning">                  
                                          <div *ngIf="patientRegistrationForm.controls.mobileNumber.errors.required">
                                            Contact no is required.
                                          </div>
                                          <div *ngIf="patientRegistrationForm.controls.mobileNumber.errors.pattern">
                                            Contact no should be of 10 digits.
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                        <label class="control-label">Email Id <span class="text-star">*</span></label>
                                        <input type="text" class="form-control" formControlName="email" />
                                        <i class="fa fa-envelope ico-input-side"></i>
                                        <div *ngIf="patientRegistrationForm.controls.email.invalid && (patientRegistrationForm.controls.email.dirty || patientRegistrationForm.controls.email.touched)" class="alert alert-warning">                  
                                          <div *ngIf="patientRegistrationForm.controls.email.errors.required">
                                            Email is required.
                                          </div>
                                        </div> 
                                      </div>
                                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                        <label class="control-label">Emergency Contact No <span class="text-star">*</span></label>
                                        <input type="text" class="form-control" formControlName="emergency_contact" />
                                        <i class="fa fa-phone ico-input-side"></i>
                                        <div *ngIf="patientRegistrationForm.controls.emergency_contact.invalid && (patientRegistrationForm.controls.emergency_contact.dirty || patientRegistrationForm.controls.emergency_contact.touched)" class="alert alert-warning">                  
                                          <div *ngIf="patientRegistrationForm.controls.emergency_contact.errors.required">
                                            Contact no is required.
                                          </div>
                                          <div *ngIf="patientRegistrationForm.controls.emergency_contact.errors.pattern">
                                            Contact no should be of 10 digits.
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 selectContainer form-line">
                                          <label class="control-label">Reminder Preference <span class="text-star">*</span></label>
                                          <select class="form-control" formControlName="remindPref">
                                            <option value="1">Both</option>
                                            <option value="2">Email</option>
                                            <option value="3">SMS</option>
                                          </select>
                                          <div *ngIf="patientRegistrationForm.controls.remindPref.invalid && (patientRegistrationForm.controls.remindPref.dirty || patientRegistrationForm.controls.remindPref.touched)" class="alert alert-warning">                  
                                            <div *ngIf="patientRegistrationForm.controls.remindPref.errors.required">
                                              Reminder preference is required.
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                            <label class="control-label">Existing Disease (Optional)</label>
                                            <textarea class="form-control" formControlName="existingDesease" rows="4"></textarea>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                            <label class="control-label">Family History (Optional)</label>
                                            <textarea class="form-control" formControlName="familyHistory" rows="4"></textarea>
                                          </div>
                                          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-line">
                                            <label class="control-label">Allergic (Optional)</label>
                                            <textarea class="form-control" formControlName="allergic" rows="4"></textarea>
                                          </div>
                                </div>
                              </div>
                            </div>
                            <button type="submit" class="btn btn-primary" (click)="updateSummary()" [disabled]="patientRegistrationForm.invalid">Submit</button>
                            <button class="btn btn-default" (click)="editSummaryDetails = false">Cancel</button>
                          </form>

                      </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Row inside row ends -->
      </div>
      <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
        <!-- Row inside row starts -->
        <div class="row gutter">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel">
              <div class="panel-body no-padding">
                <h4>
                  <i class="fa fa-2x text-info" [ngClass]="{'fa-hospital' : isDoctor, 'fa-medkit': !isDoctor}" ></i> 
                  {{isDoctor ? 'Associated Hospitals' : 'Surgery'}}
                  <button type="button" class="btn btn-info btn-xs pull-right rounder"
                          [(ngModel)]="showForm" btnCheckbox (click)="resetForm()">
                          <i class="fa fa-plus-circle"></i>
                  </button>
                </h4>
                  <ul *ngIf="showForm">
                  <form id="addUpForm" [formGroup]="addUpForm" novalidate *ngIf="isDoctor">
                          <div class="form-group">
                <div class="row gutter">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label">Hospital</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="Hospital Name"/>
                        <i class="fa fa-i-cursor ico-input-side"></i>
                        <small [hidden]="addUpForm.controls.name.valid || addUpForm.controls.name.untouched"
                          class="text-danger" translate>
                          Hospital Name is required
                        </small>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <label class="control-label">Hospital Location</label>
                      <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="onLocationChoose($event)">
                          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                      </agm-map>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label">Consulting Week Days</label>
                        <div style="padding-bottom: 10px;" class="text-center rounder">
                        <button type="button" class="btn btn-info" formControlName="sun" btnCheckbox>SU</button>
                        <button type="button" class="btn btn-info" formControlName="mon" btnCheckbox>MO</button>
                        <button type="button" class="btn btn-info" formControlName="tue" btnCheckbox>TU</button>
                        <button type="button" class="btn btn-info" formControlName="wed" btnCheckbox>WE</button>
                        <button type="button" class="btn btn-info" formControlName="thu" btnCheckbox>TH</button>
                        <button type="button" class="btn btn-info" formControlName="fri" btnCheckbox>FR</button>
                        <button type="button" class="btn btn-info" formControlName="sat" btnCheckbox>SA</button>
                      </div>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label">Consulting Start Timing</label>
                    <timepicker [(ngModel)]="startTime" [ngModelOptions]="{standalone: true}"></timepicker>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <label class="control-label">Consulting End Timing</label>
                    <timepicker [(ngModel)]="endTime" [ngModelOptions]="{standalone: true}"></timepicker>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 selectContainer">
                    <label class="control-label">Select appointment time slot</label>
                    <select class="form-control" formControlName="timeslot">
                      <option value="15">15 mins</option>
                      <option value="30">30 mins</option>
                      <option value="45">45 mins</option>
                      <option value="60">1 hr</option>
                    </select>
                    <small [hidden]="addUpForm.controls.timeslot.valid || studentRegistrationForm.controls.timeslot.untouched"
                    class="text-danger" translate>
                    Time slot is required
                    </small>
                  </div>

                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <label class="control-label">Payment Mode</label>
                      <select class="form-control" formControlName="paymentMode">
                          <option value="0">Manual</option>
                          <option value="1">Online</option>
                      </select>
                      <small [hidden]="addUpForm.controls.paymentMode.valid || addUpForm.controls.paymentMode.untouched"
                                            class="text-danger" translate>
                                            Payment Mode is required
                                            </small>
                    </div>
                  
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  *ngIf="addUpForm.controls.paymentMode.value === '1'">
                    <label class="control-label">Fees per visit</label>
                    <input type="text" class="form-control" formControlName="fees" />
                    <i class="fa fa-rupee-sign ico-input-side"></i>
                    <small [hidden]="addUpForm.controls.fees.valid || addUpForm.controls.fees.untouched"
                                          class="text-danger" translate>
                                          Fees is required in INR
                                          </small>
                  </div>
                </div>
              </div>
              <div class="form-group no-margin">
                  <div class="row gutter">
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-warning" (click)="save()">Save</button>
                    </div>
                  </div>
                </div>
                  </form>  
                  <form id="addUpForm" [formGroup]="addUpForm" novalidate *ngIf="!isDoctor">
                    <div class="form-group">
                      <div class="row gutter">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <label class="control-label">Surgery Title</label>
                          <input type="text" class="form-control" placeholder="Surgery for..." formControlName="surgeryName" />
                          <small [hidden]="addUpForm.controls.surgeryName.valid || addUpForm.controls.surgeryName.untouched"
                                          class="text-danger" translate>
                                          Surgery Title is required
                                          </small>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <label class="control-label">Hospital</label>
                          <input type="text" class="form-control" formControlName="hospitalName" placeholder="Hospital Name"/>
                          <i class="fa fa-i-cursor ico-input-side"></i>
                          <small [hidden]="addUpForm.controls.hospitalName.valid || addUpForm.controls.hospitalName.untouched"
                            class="text-danger" translate>
                            Hospital Name is required
                          </small>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <label class="control-label">Date of surgery</label>
                          <input type="text" placeholder="Date of surgery" class="form-control" formControlName="datePerformed" bsDatepicker 
                            [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red'}"/>
                          <i class="fa fa-calendar-alt ico-input-side"></i>
                          <small [hidden]="addUpForm.controls.datePerformed.valid || addUpForm.controls.datePerformed.untouched"
                          class="text-danger" translate>
                            Date of surgery is required
                          </small>
                        </div>
                      </div>
                    </div>                                  
                    <div class="form-group no-margin">
                      <div class="row gutter">
                        <div class="col-md-12">
                          <button type="submit" class="btn btn-warning" (click)="save()">Save</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </ul>
                <ul class="experience" *ngIf="!showForm && !isDoctor">
                  <p *ngIf="surgeries && !surgeries.length">No surgery records captured for your profile, Please add if any record to complete your profile.</p>
                  <p class="text-center" *ngIf="loadingA"><i class="fa fa-circle-o-notch" aria-hidden="true"></i></p>
                  <li class="green" *ngFor="let surgery of surgeries">
                    <div class="detail-info">
                      <p class="date text-success"><b>{{surgery.surgeryName}}</b>  
                        <i class="fa fa-edit should-display pull-right" (click)="editSurgery(surgery)"></i></p>
                      <p class="message">{{surgery.hospitalName}}</p>
                      <p class="message">{{surgery.datePerformed}}</p>
                    </div>
                  </li>
                </ul>
                <ul class="experience" *ngIf="!showForm && isDoctor">
                    <p *ngIf="hospitals && !hospitals.length">No hospital records captured for your profile, Please add the hospital record to complete your profile.</p>
                    <p class="text-center" *ngIf="loadingA"><i class="fa fa-circle-o-notch" aria-hidden="true"></i></p>
                    <li class="green" *ngFor="let hospital of hospitals">
                      <div class="detail-info">
                        <p class="date text-success"><b>{{hospital.name}}</b> <i class="fa fa-edit should-display pull-right" (click)="editHospital(hospital)"></i></p>
                        <p class="message">Payment mode: {{hospital.paymentMode === 0 ? 'Manual' : 'Online'}}</p>
                        <p class="message" *ngIf="hospital.paymentMode === 1">Fees: <i class="fa fa-rupee-sign" aria-hidden="true"></i> {{hospital.fees}}</p>
                        <p class="message">Weekdays: {{getUIFriendlyWeeks(hospital.weekdays)}}</p>
                      </div>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Row inside row ends -->
      </div>
    </div>
    <!-- Row ends -->

  </div>
  <!-- Container fluid ends -->

</div>
<!-- Dashboard Wrapper End -->
