<!-- Top Bar Starts -->
<div class="top-bar clearfix">
  <div class="row gutter">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="page-title">
        <h3>Email</h3>
        <p>Compose</p>
      </div>
    </div>
  </div>
</div>
<!-- Top Bar Ends -->


<form id="composeEmail" [formGroup]="composeEmailForm" novalidate >
  <div class="form-group">
    <div class="row gutter">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <label class="control-label">To</label>
        <ng-select  [multiple]="true"
              [active]="toEmail"
              [items]="emailContactsList"
              (data)="refreshToEmailValue($event)"
              placeholder="No recipient selected"></ng-select>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <label class="control-label">Cc</label>
        <ng-select  [multiple]="true"
              [active]="ccEmail"
              [items]="emailContactsList"
              (data)="refreshCcEmailValue($event)"
              placeholder="No recipient selected"></ng-select>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <label class="control-label">Subject</label>
            <input type="text" class="form-control" formControlName="emailSubject" [(ngModel)]="subjectEmail" />
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row gutter">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <app-ngx-editor [placeholder]="'Enter your email text here...'" [spellcheck]="true" [minHeight]="'180px'" formControlName="emailBody" [(ngModel)]="bodyEmail"></app-ngx-editor>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-info" (click)="sendEmail()">Send</button>
  <button type="submit" class="btn" (click)="goBackToMailList(false)" >Cancel</button>
</form>
