


  <div class="dashboard-wrapper dashboard-wrapper-lg">

        <!-- Mail list starts -->
          <!-- Container fluid Starts -->
          <div class="container-fluid">
      



              <div class="row gutter">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                          <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-filter"></i></span>
                            <input type="text" class="form-control"  placeholder="Find by name/address/contact/type ..." [(ngModel)]="searchTerm">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                          </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                      <div class="text-right" *ngIf="totalRecord > pageSize">
                        <pagination [totalItems]="totalRecord" [itemsPerPage]="pageSize" [maxSize]="5" [(ngModel)]="page"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [boundaryLinks]="true"
                        [rotate]="false" (pageChanged)="pageChanged($event)"></pagination>
                      </div>
                    </div>
                  </div>  
              </div>



                <!-- Top Bar Starts -->
        <div class="top-bar clearfix">
          <div class="row gutter">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="page-title">
                <h3></h3>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div style="float: right;">
                <button type="submit"
                  class="btn btn-info"
                  (click)="getPrint()">Export</button>
              </div>
              <div style="clear: both;"></div>
            </div>
        </div>
        </div>
        <!-- Top Bar Ends -->







            <!-- Row starts -->
            <div class="row gutter">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-green">
                  <div class="panel-body">
                      <div class="table-responsive">
                          <table class="table table-striped no-margin">
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th *ngIf="isAdminUser"></th>
                                <th>Qualification</th>
                                <th>Institute</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Contact No</th>
                                
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let tutor of tutors 
                              | filterBy: ['tutor.first_name', 'tutor.last_name' , 'tutor.email','tutor.qualification', 'tutor.mobile_number', 'tutor.address', 'tutor.locality', 'tutor.city', 'tutor.state', 'tutor.pincode']: searchTerm">
                                 <td class="text-center">
                                      <img *ngIf="tutor.tutor.profile_pic && tutor.tutor.profile_pic !== 'test'" [src]="domSanitizer.bypassSecurityTrustUrl(tutor.tutor.profile_pic)" alt="User" height="50px" width="50px"/>
                                      <div *ngIf="!tutor.tutor.profile_pic || tutor.tutor.profile_pic === 'null'" class="no-image-sm">
                                        <span>{{tutor.tutor.first_name.charAt(0).toUpperCase()}}{{tutor.tutor.last_name.charAt(0).toUpperCase()}}</span>
                                      </div>
                                      <div>{{tutor.tutor.first_name}} {{tutor.tutor.last_name}}</div>
                                      <div>
                                        <rating [(ngModel)]="tutor.star" [max]="max" [readonly]="true" [customTemplate]="tt"></rating>
                                        <ng-template #tt let-i="index" let-v="value">
                                            <label class="star-label {{i < v ? 'text-warning' : 'text-default'}}">
                                              {{i < v ? '&#9733;' : '&#9734;'}}
                                            </label>
                                        </ng-template>
                                    </div>
                                  </td> 
                                <!--<td class="text-center">
                                    <div>{{tutor.first_name}} {{tutor.last_name}}</div>
                                </td>-->
                                <td *ngIf="isAdminUser">
                                
                                <button class="btn btn-xs btn-success" *ngIf="tutor.tutor.approvalFlag === 1 && isAdminUser" (click)="changeStatus(tutor.tutor)">Approved</button>
                                <button class="btn btn-xs btn-danger" *ngIf="tutor.tutor.approvalFlag === 0 && isAdminUser" (click)="changeStatus(tutor.tutor)">Pending</button>
                                </td>
                                <td>{{tutor.tutor.qualification}}</td>
                                <td><h5  *ngFor="let inst of tutor.tutorInstitute">{{inst.name}}</h5></td>
                                <td>{{tutor.tutor.email}}</td>
                                 <td>{{tutor.tutor.address}}<br>Locality: {{tutor.tutor.locality}}<br>City: {{tutor.tutor.city}}, State: {{tutor.tutor.state}}, Pin: {{tutor.tutor.pincode}}</td>
                                <td>{{tutor.tutor.mobile_number}}</td> 
                              </tr>
                            </tbody>
                          </table>
                        </div>
                  </div>  
                </div>
              </div>
            </div>
            <!-- Row Ends -->
          </div>
          <!-- Container fluid ends -->
        <!-- Mail list ends -->
      
      </div>
      <!-- Dashboard Wrapper End -->

    