<!-- Dashboard Wrapper Starts -->
<div class="dashboard-wrapper dashboard-wrapper-lg">

  <!-- Container fluid Starts -->
  <div class="container-fluid">

    <!-- Top Bar Starts -->
    <div class="top-bar clearfix">
      <div class="row gutter">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="page-title">
            <h3>Question Set List</h3>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div style="float: right;">
            <button type="submit"
              class="btn btn-info"
              (click)="goTo('question-set-list', 'create')">Create Question Set</button>
          </div>
          <div style="clear: both;"></div>
        </div>
    </div>
    </div>
    <!-- Top Bar Ends -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-filter"></i></span>
          <input type="text" class="form-control"  placeholder="Find by Subject/Title ..." [(ngModel)]="searchTerm">
          <span class="input-group-addon"><i class="fa fa-search"></i></span>
        </div>
      </div>
    </div>
    <!-- Row starts -->
    <div class="row gutter">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="panel panel-green">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-striped no-margin">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Question Set</th>
                      <th>Subject</th>
                      <th>Created On</th>
                      <th>No of Question</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let questionSet of questionSetList 
                    | filterBy: ['name','subject_id.name']: searchTerm; let i = index" >
                      <td>{{i+1}}</td>
                      <td>{{questionSet.name}}</td>
                      <td>{{questionSet.subject_id.name}}</td>
                      <td>{{questionSet.creation_date | date}}</td>
                      <td>{{questionSet.no_of_questions}}</td>
                      <td>
                        <button class="btn btn-xs btn-info"
                          (click)="goTo('question-set-list', questionSet.id)" >
                            <i class="fa fa-edit" aria-hidden="true" title="edit"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="text-center" *ngIf="questionSetList.length > 0">
              <pagination [totalItems]="questionSetList.length"
                [itemsPerPage]="10"
                [maxSize]="5"
                [(ngModel)]="currentPage"
                previousText="&lsaquo;"
                nextText="&rsaquo;"
                firstText="&laquo;"
                lastText="&raquo;"
                [boundaryLinks]="true"
                [rotate]="false"
                (pageChanged)="pageChanged($event)">
              </pagination>
            </div>
          </div>
        </div>
      </div>
      <!-- Row Ends -->
  </div>
  <!-- Container fluid ends -->
</div>
<!-- Dashboard Wrapper End -->