<form action="http://localhost:8080/DocWeb/payment" method="post">
  Patient :<br>
  <input type="text" name="patientId" value='63cf8efa-58fc-411a-be54-f81e8e2e435c'><br>
  Doctor Hospital:<br>
  <input type="text" name="doctorHospitalId" value='8e681bb8-d0c2-4cd5-93a4-b0772a28280f'><br>
  Start Time :<br>
  <input type="text" name="startTime" value='02:00:00'><br>
  End Time:<br>
  <input type="text" name="endTime" value='04:00:00'><br>
  Remarks:<br>
  <input type="text" name="remarks" value="test"><br>
  Date:<br>
  <input type="text" name="date" value="2018/05/09"><br>
    <input type="submit" value="Submit">
</form>