<header>

  <!-- Logo starts -->
  <a href="#" class="logo">
    <img src="assets/A-to-Z-Health.png" alt="Arise Admin Dashboard Logo" height="50px" width="50px"/>
  </a>
  <!-- Logo ends -->

  <!-- Header actions starts -->
  <ul id="header-actions" class="clearfix">
    <li class="list-box user-admin hidden-xs dropdown">
      <div class="admin-details">
        <div class="name">{{userData.firstName}} {{userData.lastName}}</div>
        <div class="designation">{{userData.qualification}}</div>
      </div>
      <a id="drop4" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-user"></i>
      </a>
      <ul class="dropdown-menu sm">
        <li class="dropdown-content">
          <a (click)="goTo('profile','')" *ngIf="!isAdmin">Edit Profile</a>
          <a (click)="goToChangePassword()">Change Password</a>
          <a (click)="logout()">Logout</a>
        </li>
      </ul>
    </li>
    <li>
      <button type="button" class="toggle-menu btn-warn">
        <i class="fa fa-list"></i>
      </button>
    </li>
  </ul>
  <!-- Header actions ends -->
</header>
<!-- Header ends -->

<!-- Left sidebar start -->
<div class="vertical-nav">

  <!-- Collapse menu starts -->
  <button class="collapse-menu">
    <i class="fa fa-list"></i>
  </button>
  <!-- Collapse menu ends -->

  <!-- Current user starts -->
  <div class="user-details clearfix">
    <a class="user-img" (click)="goTo('profile','')" title="Click to view profile">
      <img *ngIf="userData && userData.profilePic && userData.profilePic!=='test'" [src]="domSanitizer.bypassSecurityTrustUrl(userData.profilePic)" alt="User Info">
      <img *ngIf="!userData || !userData.profilePic || userData.profilePic==='test'" src="assets/thumbs/oficcial-512.png" alt="User Info">
      <!-- <span class="likes-info">9</span> -->
    </a>
    <h5 class="user-name">{{userData.firstName}} {{userData.lastName}}</h5>
  </div>
  <!-- Current user ends -->

  <!-- Sidebar menu starts -->
  <ul class="menu clearfix" *ngIf="isAdmin">
      <li>
          <a (click)="goTo('doctors','')">
              <i class="fa fa-user-md"></i>
              <span class="menu-item">Doctors</span>
          </a>
        </li>
  </ul>
  <ul class="menu clearfix" *ngIf="!isAdmin">
    <li (click)="goTo(isDoctor ? 'doc-dashboard' : 'dashboard','')">
      <a>
        <i class="fa fa-tachometer-alt"></i>
        <span class="menu-item">Dashboard</span>
      </a>
    </li>
    <li *ngIf="!isDoctor" (click)="goTo('doctors','')">
      <a>
        <i class="fa fa-user-md"></i>
        <span class="menu-item">Doctors</span>
      </a>
    </li>
    <li *ngIf="isDoctor" (click)="goTo('patients-list','')">
        <a>
          <i class="fa fa-user"></i>
          <span class="menu-item">Patients</span>
        </a>
      </li>
    <li *ngIf="isDoctor" (click)="goTo('patients','')">
        <a>
          <i class="fa fa-diagnoses"></i>
          <span class="menu-item">Appointments</span>
        </a>
      </li>
    <li (click)="goTo('schedule','')">
      <a>
        <i class="fa fa-calendar-alt"></i>
        <span class="menu-item">Calendar</span>
      </a>
    </li>
    <li (click)="goTo('chat','')">
      <a>
        <i class="fa fa-comments"></i>
        <span class="menu-item">Chat</span>
      </a>
    </li>
    <li>
      <a (click)="goTo('bloglist','')">
        <i class="fa fa-edit"></i>
        <span class="menu-item">Blog</span>
      </a>
    </li>
    <li>
      <a>
        <i class="fa fa-envelope"></i>
        <span class="menu-item">Mail Box</span>
        <span class="text-center">
            <i class="fa fa-caret-down pull-right"></i>
        </span>
      </a>
      <ul>
        <li (click)="goTo('email','inbox')">
          <a>Inbox</a>
        </li>
        <li (click)="goTo('email','sent')">
          <a>Sent</a>
        </li>
      </ul>
    </li>
    <li class="hide-li-xs">
        <a (click)="goToChangePassword()">
            <i class="fa fa-key"></i>
            <span class="menu-item">Change Password</span>
        </a>
      </li>
    <li class="hide-li-xs">
      <a (click)="logout()">
          <i class="fa fa-sign-out-alt"></i>
          <span class="menu-item">Logout</span>
      </a>
    </li>
  </ul>
  <!-- Sidebar menu ends -->
</div>
<!-- Left sidebar end -->
<footer>
  Copyright <span>2018</span>
</footer>
