<form action="http://35.185.51.218:8080/DocWeb/payment" method="post">
  <input type="hidden" name="patientId">
  <input type="hidden" name="doctorHospitalId">
  <input type="hidden" name="startTime">
  <input type="hidden" name="endTime">
  <input type="hidden" name="remarks">
  <input type="hidden" name="date">
  <input type="hidden" value="Submit">
</form>
<script type="text/javascript">
  function $_GET(param) {
    var vars = {};
    window.location.href.replace( location.hash, '' ).replace( 
      /[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
      function( m, key, value ) { // callback
        vars[key] = value !== undefined ? value : '';
      }
    );
  
    if ( param ) {
      return vars[param] ? vars[param] : null;	
    }
    return vars;
  }
  document.forms[0].elements['patientId'].value = $_GET('patientId');
  document.forms[0].elements['doctorHospitalId'].value = $_GET('doctorHospitalId');
  document.forms[0].elements['startTime'].value = $_GET('startTime');
  document.forms[0].elements['endTime'].value = $_GET('endTime');
  document.forms[0].elements['remarks'].value = decodeURIComponent($_GET('remarks'));
  document.forms[0].elements['date'].value = $_GET('date');
  document.forms[0].submit();
  </script>