<div class="profile-picture">
  <img *ngIf="base64Image" width=100 height=100  [src]="domSanitizer.bypassSecurityTrustUrl(base64Image)" [ngClass]="{'from-prof': fromProf}" />
  <label *ngIf="!base64Image" for="uploader-input" ng2FileDrop [ngClass]="{'drag-over': hasDragOver}" (fileOver)="fileOver($event)" class="above" [uploader]="uploader">
    <div class="infotext"><span *ngIf="!url" >Drop your picture<br>or click to upload</span></div>
  </label>
  <input type="file" ng2FileSelect [uploader]="uploader" id="uploader-input" style="display:none" />
  <label *ngIf="editmode" for="uploader-input" class="below"><i class="fa fa-edit" ng2FileDrop (fileOver)="fileOver($event)" [uploader]="uploader"></i></label>
</div>
