
.profile-picture {
  position: relative;
  z-index: 1;
  width: 100px;
  height:100px;
  background-image:url('assets/profile-placeholder.png');
  background-size: contain;
  border-radius: 1em;
}

.profile-picture img {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 2;
  border-radius: 1em;
}

.profile-picture img.from-prof {
  position: relative;
}

.profile-picture label.above {
  width: 100px;
  height: 100px;
  position: relative;
  z-index: 3;
}

label.below {
  position: absolute;
    bottom: 0;
    left: 5px;
    z-index: 4;
}

.profile-picture .drag-over .infotext {
  color: white;
  border: dashed 5px white;
}

.profile-picture .infotext {
  margin-left: 5px;
  margin-top: 5px;
  height: 90px;
  width: 90px;
  vertical-align: middle;
  text-align: center;
  color: rgba(255,255,255,0.8);
  border: dashed 3px rgba(255,255,255,0.8);
  border-radius: 10px;
  padding-top: 0px;
  font-size: 100%;
}
