<!-- Top Bar Starts -->
<div class="top-bar clearfix">
  <div class="row gutter">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="page-title">
        <h3>Add Question</h3>
        <!-- <p>it from here.</p> -->
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    </div>
  </div>
</div>
<!-- Top Bar Ends -->

<div class="row gutter">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel">
      <div class="panel-heading">
      </div>
      <div class="panel-body">
        <ng2-smart-table [settings]="settings"
          [source]="data"
          (createConfirm)="onCreateConfirm($event)"
          (editConfirm)="onEditConfirm($event)"
            ></ng2-smart-table>
      </div>
    </div>
  </div>
</div>