<div class="dashboard-wrapper dashboard-wrapper-lg">

    <!-- Mail list starts -->
      <!-- Container fluid Starts -->
      <div class="container-fluid">
        
        <div class="row gutter">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-filter"></i></span>
                    <input type="text" class="form-control"  placeholder="Find by name/address/contact/type ..." [(ngModel)]="searchTerm">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                  </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="text-right" *ngIf="totalRecord > pageSize">
                <pagination [totalItems]="totalRecord" [itemsPerPage]="pageSize" [maxSize]="5" [(ngModel)]="page"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [boundaryLinks]="true"
                [rotate]="false" (pageChanged)="pageChanged($event)"></pagination>
              </div>
            </div>
          </div>  
      </div>


        <!-- Top Bar Starts -->
        <div class="top-bar clearfix">
          <div class="row gutter">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="page-title">
                <h3></h3>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div style="float: right;">
                <button type="submit"
                  class="btn btn-info"
                  (click)="getPrint()">Export</button>
              </div>
              <div style="clear: both;"></div>
            </div>
        </div>
        </div>
        <!-- Top Bar Ends -->
  
        <!-- Row starts -->
       
        <div class="row gutter">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-green">
              <div class="panel-body">
                  <div class="table-responsive">
                      <table class="table table-striped no-margin">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th></th>
                            <th>Email</th>
                            <th>Contact No</th>
                            <th>Address</th>
                            <th>Other Details</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let student of students | 
                              filterBy: ['first_name', 'last_name' , 'email', 'mobile_number', 'address', 'locality', 'city', 'state', 'pincode']: searchTerm" >
                            <td class="text-center">
                                <img *ngIf="student.profile_pic && student.profile_pic !== 'test'" [src]="domSanitizer.bypassSecurityTrustUrl(student.profile_pic)" alt="User" height="50px" width="50px"/>
                                <div *ngIf="!student.profile_pic || student.profile_pic === 'test'" class="no-image-sm">
                                    <span>{{student.first_name.charAt(0).toUpperCase()}}{{student.last_name.charAt(0).toUpperCase()}}</span>
                                </div>
                                <div>{{student.first_name}} {{student.last_name}}</div>
                            </td> 
                            <!--<td>
                                <button class="btn btn-xs btn-primary" (click)="gotToPatientTimeLine(patient)"><i class="fa fa-briefcase-medical"></i> Timeline</button>
                            </td> -->
                           <!-- <td>{{student.first_name}} {{student.last_name}}</td> -->
                            <td></td>
                            <td>{{student.email}}</td>
                            <td>{{student.mobile_number}}</td>
                            <td>{{student.address}}<br>Locality: {{student.locality}}<br>City: {{student.city}}, State: {{student.state}}, Pin: {{student.pincode}}</td>
                            <td><button class="btn btn-xs btn-success"  (click)="getAssignments(student.student_id)">Assignments</button>
                              <button class="btn btn-xs btn-success"  (click)="getResults(student.student_id)">Exam Results</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
              </div>  
            </div>
          </div>
        </div>
      </div>
      <!-- Container fluid ends -->
    <!-- Mail list ends -->
  
  </div>
  <ng-template #verifyOtp>
      <div class="pull-right" style="padding:5px"><button type="button" class="close"  (click)="close()">&times;</button></div>
      <div>
          <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                  <th scope="col">Due Date</th>
                  <th scope="col">completion date</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let assignment of assignmentDetails; let i = index">
                  <th>{{i+1}}</th>
                  <td>{{assignment.assignment_id.title}}</td>
                  <td>{{assignment.assignment_id.description}}</td>
                  <td>{{assignment.assignment_id.due_date}}</td>
                  <td>{{assignment.status === 3 ? assignment.completion_date : '-'}}</td>
                  <td>{{status[assignment.status]}}</td>
                </tr>
              </tbody>
            </table>
    </div>
  </ng-template>
  <ng-template #resultDetails>
      <div>
          
          <div class="pull-right" style="padding:5px"><button type="button" class="close"  (click)="close()">&times;</button></div>
            
        
          <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Test</th>
                  <th scope="col">Subject</th>
                  <th scope="col">Date</th>
                  <th scope="col">Result</th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let result of studentResult; let i = index">
                  <th>{{i+1}}</th>
                  <td>{{result.question_set_id.name}}</td>
                  <td>{{result.question_set_id.subject_id.name}}</td>
                  <td>{{result.result_date}}</td>
                  <td>{{result.result}}</td>
                </tr>
              </tbody>
            </table>
            
    </div>
   
  </ng-template>
  <!-- Dashboard Wrapper End -->
