<div class="center text-center" *ngIf="!userData">
    <i class="fa fa-5x fa-spin fa-hospital-symbol"></i>
</div>
<app-header *ngIf="userData"></app-header>
<router-outlet *ngIf="userData"></router-outlet>