<div class="dashboard-wrapper dashboard-wrapper-lg">
  <!-- Container fluid Starts -->
  <div class="container-fluid">
    <!-- Top Bar Starts -->
    <div class="top-bar clearfix">
      <div class="row gutter">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="page-title">
            <h3>Appointment from Calendar</h3>
            <p class="space-round">Search the doctor with specialization you needed for the selected day
              <b>{{dateToSchedule}}</b>.
              <br/>
              <a href="#/schedule">(Back to calendar)</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" *ngIf="dateToSchedule">
      <!-- Row inside row starts -->
      <div class="row gutter">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 selectContainer form-line">
          <label class="control-label">Expertise Required</label>
          <select class="form-control" [(ngModel)]="specialization" (ngModelChange)="onSelect()">
            <option [value]="type.name" *ngFor="let type of typesOfDoc">{{type.name}}</option>
          </select>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 selectContainer form-line" *ngIf="availableDoctorsOnThatDay">
                <label class="control-label">Doctors</label>
                <select class="form-control" [(ngModel)]="doctor" (ngModelChange)="onSelectDoctor()">
                  <option [value]="doctor.doctorId.id" *ngFor="let doctor of filteredDoctorSpecializationWise">{{'Dr. ' + doctor.doctorId.firstName + ' ' + doctor.doctorId.lastName + '(' + doctor.name + ')'}}</option>
                </select>
        </div>
      </div>
      <!-- Row inside row ends -->
      <div class="panel panel-danger" *ngIf="selectedHospital">
            <h4>Select slot for {{dateToSchedule}}</h4>
            <div *ngIf="!slots.length" class="text-center col-lg-12">
                    <i class="fas fa-circle-notch fa-3x fa-spin text-warning"></i>
                    <div class="text-warning">Loading slots ....</div>
            </div>
            <div class="panel-body">
              <div btnRadioGroup [(ngModel)]="radioModel" class="col-lg-12 bottom-margin">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 text-center" *ngFor="let slot of slots" style="margin:10px 0px;">
                  <label class="btn slot-but" [btnRadio]="slot.time" tabindex="0" role="button" [disabled]="slot.disabled">
                    <i class="fa fa-file-medical"></i> {{slot.time | date : "shortTime"}}</label>
                </div>
              </div>
              <div class="form-group">
                  <textarea rows="4" [(ngModel)]="reason" class="form-control" placeholder="Short description about appointment need..."></textarea>
              </div>
              <button class="bl top-margin" *ngIf="selectedHospital.paymentMode === 1" (click)="bookSlot()" [disabled]="!radioModel">Pay <i class="fa fa-rupee-sign"></i> {{selectedHospital.fees}} to book slot</button>
              <button class="bl top-margin" *ngIf="selectedHospital.paymentMode === 0" (click)="bookSlot()" [disabled]="!radioModel">Book Slot</button>
            </div>
    </div>
    </div>
  </div>

</div>
