<div class="dashboard-wrapper dashboard-wrapper-lg">

  <!-- Container fluid Starts -->
  <div >

    <!-- Top Bar Starts -->
    <div class="top-bar clearfix">
      <div class="row gutter">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="page-title">
            <h3>Calendar</h3>
            <p>Calendar of appointments</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" *ngIf="isDoctor">
            <ul class="right-stats" id="mini-nav-right">
              <li>
                <div (click)="toggleBlock = !toggleBlock" class="btn btn-primary">
                  <span><i class="fa fa-calendar-alt fa-2x"></i></span>Block</div>
              </li>
            </ul>
        </div>
        <div class="panel col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="toggleBlock">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <label class="control-label">Blocking Date</label>
                <input type="text"
                placeholder="Select date to block"
                class="form-control" [(ngModel)]="viewDate"
                bsDatepicker [bsConfig]="{ showWeekNumbers: false, dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red'}">
                <label class="control-label">Reason for blocking <span class="text-star">*</span></label>
                <textarea class="form-control" [(ngModel)]="blockReason" rows="3"></textarea>
           </div>
           <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <label class="control-label">Blocking Start Timing</label>
              <timepicker [(ngModel)]="startTime"></timepicker>
           </div>
           <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <label class="control-label">Blocking End Timing</label>
              <timepicker [(ngModel)]="endTime"></timepicker>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
                <button type="button" class="btn btn-info" (click)="blockCalender()" [disabled] = "!blockReason" >Block Calendar</button>
                <button type="button" class="btn btn-default" (click)="toggleBlock = !toggleBlock">Cancel</button> 
            </div>
          </div>
      </div>
    </div>
    <!-- Top Bar Ends -->
    <ng-template #template>
        <div class="modal-body text-center">
          <p>Do you want to schedule an appointment?</p>
          <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
          <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
        </div>
    </ng-template>

    <ng-template #eventDetail>
        <div class="modal-body">
          <p id="eventTitle"></p>
          <br>
          <br>
        </div>
        <div class="modal-footer">
            <div class="text-center">
                <input type="text" id="blockId" style="visibility:hidden;"/>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <button type="button" id="unblock" class="btn btn-danger" (click)="unblock()" style="display: none;">Unblock</button>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                      <button type="button" class="btn btn-primary" (click)="decline()" >Ok</button>
                  </div>
                </div>
              </div>
          </div>
    </ng-template>
    <div class="row gutter">
        <div *ngIf="!showCall" class="text-center col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <i class="fas fa-circle-notch fa-3x fa-spin text-warning"></i>
            <div>Loading Calender appointments ....</div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background: white;height:100%;" *ngIf="showCall">
            <angular2-fullcalendar [options]="calendarOptions"></angular2-fullcalendar>
        </div>
    </div>
  </div>
  <!-- Container fluid ends -->
</div>
