<div class="dashboard-wrapper dashboard-wrapper-lg">

  <!-- Container fluid Starts -->
  <div class="container-fluid">

    <!-- Top Bar Starts -->
    <div class="top-bar clearfix">
      <div class="row gutter">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="page-title">
            <h3>Chat</h3>
            <p>One-One chat for Doctor and Patient for better collaboration.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Top Bar Ends -->

    <!-- Row starts -->
    <div class="row gutter">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <div class="panel panel-info friendslist">
              <div class="panel-heading">
                <div class="panel-title">
                    <img *ngIf="userData && userData.profilePic && userData.profilePic !== 'test'" [src]="domSanitizer.bypassSecurityTrustUrl(userData.profilePic)" 
                      class="img-responsive" alt="User" title="{{userData.firstName}} {{userData.lastName}}"/>
                    <img *ngIf="!userData || !userData.profilePic || userData.profilePic === 'test'" src="assets/thumbs/profile-placeholder.png" class="img-responsive" alt="User Info">
                    <label class="hide-on-small">{{userData.firstName}} {{userData.lastName}}</label>
                </div>
              </div>
              <div class="panel-body" id="contact-list">
                    <form class="search-wrapper col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <i class="fa fa-address-book addre text-danger"></i>
                      <input type="text" class="form-control" placeholder="Search contacts..." [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}"/>
                      <i class="fa fa-search search text-info"></i>
                    </form>
                <div class="contact-wrapper">
                <div *ngIf="!contactsLoaded" class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12 text-info">
                      <i class="fas fa-circle-notch fa-3x fa-spin"></i>
                      <div>Loading contacts ....</div>
                </div>
                <div class="list-group separator" *ngFor='let key of arrayOfKeys'>
                    <label class="text-info" *ngIf="!searchTerm">{{key | uppercase}}</label>
                    <div class="list-group" *ngFor="let user of chatUsers[key]  | filterBy: ['name']: searchTerm">
                        <a (click)="contactClicked=true;loadChats(user);" class="list-group-item" title="{{user.name}}">
                            <img *ngIf="!user.pic || user.pic === 'test'" src="assets/thumbs/profile-placeholder.png" alt="User Info" class="img-responsive">
                            <img *ngIf="user.pic && user.pic !== 'test'" [src]="domSanitizer.bypassSecurityTrustUrl(user.pic)" class="img-responsive" alt="User"/>
                            <label class="hide-on-small">{{user.name}}</label>
                          <i class="fa fa-circle pull-right" [ngClass]="{'online' : user.online, 'offline': !user.online}"></i>
                        </a>
                      </div>
                </div>
              </div>     
              </div>
            </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <div class="panel panel-info">
              <div class="panel-heading">
                <div class="panel-title">
                    <img [src]="domSanitizer.bypassSecurityTrustUrl(targetUser.pic)" class="img-responsive" alt="User" *ngIf="targetUser && targetUser.pic && targetUser.pic !== 'test'"/>
                    <img *ngIf="!targetUser || !targetUser.pic || targetUser.pic === 'test'" src="assets/thumbs/profile-placeholder.png" alt="User Info" height=40 width=40>
                    {{targetUser ? targetUser.name : 'No User Connected'}}
                </div>
              </div>          
              <div class="panel-body" id="chat-area">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" *ngIf="!contactClicked">
                  <h4><br/><br/>Select your online contacts to start discussing the desease, reports, progress and other queries.
                  <br/><br/>This chat platform will provide you the flexibility of one to one chat.</h4>
                </div>
                <div *ngIf="!showChat && contactClicked" class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12 text-info">
                  <i class="fas fa-circle-notch fa-3x fa-spin"></i>
                  <div>Loading messages for past conversations, please wait a while ....</div>
                </div>
                <div *ngIf="showChat">
                  <div *ngFor="let msg of messages; trackBy: trackByFn">
                    <div class="chat-message" [ngClass]="{'from-recipient': msg.isFromRecipient}">
                      <div class="bubble-div">
                          <div class="bubble">
                            <img *ngIf="!msg.pic" src="assets/thumbs/profile-placeholder.png" class="img-chat" alt="User Info">
                            <img *ngIf="msg.pic" [src]="domSanitizer.bypassSecurityTrustUrl(msg.pic)" class="img-chat" alt="User"/>
                            <strong>{{msg.author}}</strong>: {{msg.contents}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="panel-footer">
                  <form>
                      <input type="text" class="form-control pull-left" [(ngModel)]="currentMessage" [ngModelOptions]="{standalone: true}"/>
                      <button type="submit" class="btn btn-info pull-right" style="width: 60px;" [disabled]="!targetUser || !targetUser.online" (click)="sendChatMessage()">Send</button>
                    </form>
              </div>
            </div>
      </div>
    </div>
    <!-- Row ends -->

  </div>
  <!-- Container fluid ends -->

</div>
<!-- Dashboard Wrapper End -->
