.logo {
  width: 100px;
}

q {
  font-style: italic;
  font-size: 1.2rem;
  quotes: "« " " »";
}

.ico-input-side {
	position: absolute;
    right: 15px;
    top: 35px;
}

.rounder button, button.rounder{
  border-radius: 100%;
  width: 30px;
  height: 30px;
  margin: 5px;
  text-align: center;
  padding: 0;
  font-size: 10px;
}

button.rounder i{
  font-size: 27px;
}

agm-map {
  height: 225px;
}

.should-display {
  display: none;
}

.detail-info:hover .should-display{
  display: block;
}

.btn-info.active{
  background-color: #2c9749;
}

.img-responsive {
  display: inline-block;
  height: 40px;
  width: 40px;
}

.img-chat {
  height: 40px;
  width: 40px;
}

i.online {
  color: green;
}

i.offline {
  color: red;
}

.list-group{
  margin-bottom: 0px;
}

.from-recipient {
  color: #5F9EA0 !important;
}

.chat-message {
  color: #00BFFF;
  padding: 10px 0;
  display: table;
  width: 100%;
}

.bubble {
  background: #c3f9ff;
  border-radius: 10px;
  padding: 10px;
  float: right;
}

.from-recipient .bubble {
  float: left;
}

.img-div {
  display: table-cell;
  width: 50px;
}

.bubble-div {
  display: table-cell;
  width: 100%;
}

.panel-title {
  padding: 10px 10px 0px 10px;
  font-size: 16px;
}

.panel-title i {
  margin-right: 10px;
}

.panel-footer {
  height: 60px;
}

.form-control {
  width: calc(100% - 75px);
  height: 34px;
}

.search-wrapper {
  position: relative;
}

.search {
  position: absolute;
  right: 25px;
  top: 10px;
}

.addre {
  position: absolute;
  left: -5px;
  top: 0px;
  font-size: 34px;
  z-index: 1;
}

.search-wrapper .form-control {
  width: 100%;
}

.from-recipient .bubble {
  background: #ebfdff;
}

#chat-area {
  overflow-y: auto;
  height: 500px;
  max-height: 600px;
}

#contact-list {
  height: 560px;
}

.contact-wrapper {
    margin-top: 40px;
    overflow-y: auto;
    height: 495px;
}

// TODO: fix this because it's kind of hacky...
// deals with auto-height sizing
@media (max-height: 399px) {
  #chat-area {
    max-height: 100px;
  }
  #contact-list {
    max-height: 150px;
  }
}
@media (min-height: 400px) {
  #chat-area {
    max-height: 300px;
  }
  #contact-list {
    height: 360px;
  }

  .contact-wrapper {
    height: 300px;
  }

}
@media (min-height: 700px) {
  #chat-area {
    max-height: 600px;
  }

  #contact-list {
    height: 560px;
  }

  .contact-wrapper {
    height: 496px;
  }
}

@media (max-width: 576px) {
  .hide-on-small {
    display: none;
  }
}