<!-- Dashboard Wrapper Start -->
<div class="dashboard-wrapper dashboard-wrapper-lg">

  <!-- Container fluid Starts -->
  <div class="container-fluid">

    <!-- Top Bar Starts -->
    <div class="top-bar clearfix">
      <div class="row gutter">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="page-title" *ngIf="!patientId">
            <h3>Dashboard</h3>
            <p>See your upcoming appointments, messages, current medication and visit timeline</p>
          </div>
          <div class="page-title" *ngIf="patientId">
              <h3>Patient Timeline</h3>
              <p class="space-round">See the timeline for the selected patient.<br/></p>
                <div *ngIf="userData">
                    <img *ngIf="userData.profilePic && userData.profilePic !== 'test'" [src]="domSanitizer.bypassSecurityTrustUrl(userData.profilePic)" alt="User" height="80px" width="80px"/>
                    <div *ngIf="(!userData.profilePic || userData.profilePic === 'test')" class="no-image pull-left">
                      <span>{{userData.firstName.charAt(0).toUpperCase()}}{{userData.lastName.charAt(0).toUpperCase()}}</span>
                    </div>
                    {{userData.firstName + ' ' + userData.lastName}}
                </div>
            </div>
        </div>
      </div>
    </div>
    <!-- Top Bar Ends -->
    <!-- Row starts -->
    <div class="row gutter">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" *ngIf="!patientId">
        <!-- Row inside row starts -->
        <div class="row gutter">
          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            <div class="panel height500">
              <div class="panel-body">
                <h4>
                  <i class="fa fa-file-medical fa-2x text-info"></i> Current prescription</h4>
                <ul>
                  <li class="green" *ngFor="let precEntry of currentMedicine">
                    <div class="detail-info" style="border-bottom: 1px solid gray; margin-bottom: 5px;">
                      <p>
                        <i class="fa fa-pills text-danger"></i>
                        <b>{{precEntry.name}}</b>
                      </p>
                      <div class="col-lg-12">
                        <div class="col-lg-4">
                          <p [innerHTML]="getAdditionalInfo1(precEntry)"></p>
                        </div>
                        <div class="col-lg-4">
                          <p [innerHTML]="getAdditionalInfo2(precEntry)"></p>
                        </div>
                        <div class="col-lg-4">
                          <p [innerHTML]="getAdditionalInfo3(precEntry)"></p>
                        </div>
                      </div>
                      <p>{{precEntry.remarks}}</p>
                      <p>Date to complete: {{precEntry.targetDate | date:'yyyy-MM-dd'}}</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <ng-template #eventDetail2>
              <div class="modal-body">
                <p id="eventTitle"></p>
                <br>
                <br>
              </div>
              <div class="modal-footer">
                  <div class="text-center">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="button" class="btn btn-primary" (click)="decline()" >Ok</button>
                      </div>
                    </div>
                </div>
          </ng-template>
          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            <div class="panel height500">
              <div class="panel-body">
                <h4>
                  <i class="fa fa-calendar fa-2x text-danger"></i> Upcoming appointment</h4>
                <angular2-fullcalendar [options]="calendarOptions" *ngIf="events && events.length"></angular2-fullcalendar>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
            <div class="panel height500">
              <div class="panel-body">
                <h4>
                  <i class="fa fa-vials fa-2x text-success"></i> Test Conducted</h4>
                <div *ngFor="let prec of prescHistory">
                  <ul *ngFor="let precEntry of prec.prescriptions">
                    <li class="green" *ngIf="precEntry.type==='test'" style="border-bottom: 1px solid gray; margin-bottom: 5px;">
                      <div class="detail-info">
                        <p class="date">
                          <b>{{precEntry.name}}</b>
                        </p>
                        <p class="message">Date: {{prec.date}}</p>
                        <p class="message">Prescribed by: {{prec.prescribedBy.firstName + ' ' + prec.prescribedBy.lastName}}</p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Row inside row ends -->
      </div>
      <div [ngClass]="{'col-lg-8 col-md-8 col-sm-12 col-xs-12' : !patientId, 'col-lg-12 col-md-12 col-sm-12 col-xs-12' : patientId}" >
        <!-- Row inside row starts -->
        <div class="row gutter">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <ng-template #eventDetail>
                  <div class="modal-body">
                    <p id="precDetail"></p>
                    <br>
                    <br>
                    <div class="text-center">
                      <button type="button" class="btn btn-primary" (click)="decline()" >Ok</button>
                      <button type="button" class="btn btn-warning" (click)="print()" >Print</button>
                    </div>
                  </div>
              </ng-template>
            <div class="panel">
              <div class="panel-body">
                <h4>
                  <i class="fa fa-link fa-2x text-info"></i> Visits Timeline</h4>
                <h2 class="text-center text-default" *ngIf="!loading">
                  <i class="fas fa-circle-notch fa-3x fa-spin text-warning"></i>
                  <div class="text-warning">Loading Visits Timeline ....</div>
                </h2>
                <ul class="imp-messages" *ngIf="prescHistory && prescHistory.length">
                  <li *ngFor="let prec of prescHistory | orderBy: ['-date']">
                    <img *ngIf="!prec.prescribedBy.profilePic || prec.prescribedBy.profilePic === 'test'" src="assets/thumbs/profile-placeholder.png"
                      alt="User Info" class="avatar img-48">
                    <img *ngIf="prec.prescribedBy.profilePic && prec.prescribedBy.profilePic !== 'test'" [src]="domSanitizer.bypassSecurityTrustUrl(prec.prescribedBy.profilePic)"
                      class="avatar img-48" alt="User" />
                    <div class="message-date">{{prec.date | date:'dd'}}
                      <span class="month">{{prec.date | date:'MMM'}}</span>
                    </div>
                    <div class="message-wrapper">
                      <h4>Appointment For: {{prec.for}}</h4>
                      <blockquote>Prescribed by
                        <b>Dr. {{prec.prescribedBy.firstName + ' ' + prec.prescribedBy.lastName}}</b> for {{prec.for}}, medicines/prescribed
                        during the visit
                        <br/>
                        <ul *ngFor="let precEntry of prec.prescriptions" style="border-bottom: 1px solid gray; margin-bottom: 5px;">
                          <li>
                            <i class="fa" [ngClass]="{'fa-pills text-danger': precEntry.type==='medicine',
                                                                    'fa-vials text-success': precEntry.type==='test'}"></i>
                            <b>{{precEntry.name}}</b>
                            <span *ngIf="precEntry.type==='medicine'" [innerHTML]="'- ' + getAdditionalInfo1(precEntry) +', ' + getAdditionalInfo2(precEntry) + ', ' + getAdditionalInfo3(precEntry)"></span>
                            {{precEntry.sideEffect ? precEntry.sideEffect : ''}} with remarks: {{precEntry.remarks ? precEntry.remarks : 'N/A'}}

                            
                            <ng-template #uploadTemplate>
                                <a (click)="popR.hide()" class="pull-right" style="cursor: pointer;"><i class="fa fa-times-circle fa-2x text-warning"></i></a>
                                <div style="width: 290px;text-align: center;margin-top: 30px;">
                                        <div class="text-center">
                                            <input type="file" name="file" ng2FileSelect [uploader]="precEntry.uploader" multiple/>    
                                        </div>
                                        <div class="col-lg-12" style="margin-bottom: 40px">                               
                                          <table class="table">
                                              <thead>
                                              <tr>
                                                  <th width="100%">Reports</th>
                                              </tr>
                                              </thead>
                                              <tbody>
                                              <tr *ngFor="let item of precEntry.uploader.queue">
                                                  <td style="border-bottom: 1px solid white;">
                                                    <div><strong>{{ item?.file?.name }}</strong></div>
                                                    <div class="text-center">
                                                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                                    </div>
                                                    <div nowrap>
                                                        <button type="button" class="btn btn-success btn-xs"
                                                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                                            <span class="glyphicon glyphicon-upload"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-xs"
                                                                (click)="item.cancel()" [disabled]="!item.isUploading">
                                                            <span class="glyphicon glyphicon-ban-circle"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-danger btn-xs"
                                                                (click)="item.remove()">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                      </div>
                                                  </td>
                                              </tr>
                                              </tbody>
                                          </table>
                               
                                          <div>
                                              <div>
                                                  Progress:
                                                  <div class="progress" style="">
                                                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': precEntry.uploader.progress + '%' }"></div>
                                                  </div>
                                              </div>
                                              <button type="button" class="btn btn-success btn-xs" style="margin-top: 10px;"
                                                      (click)="precEntry.uploader.uploadAll()" [disabled]="!precEntry.uploader.getNotUploadedItems().length">
                                                  <span class="glyphicon glyphicon-upload"></span> Upload all
                                              </button>
                                              <button type="button" class="btn btn-warning btn-xs" style="margin-top: 10px;"
                                                      (click)="precEntry.uploader.cancelAll()" [disabled]="!precEntry.uploader.isUploading">
                                                  <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                                              </button>
                                              <button type="button" class="btn btn-danger btn-xs" style="margin-top: 10px;"
                                                      (click)="precEntry.uploader.clearQueue()" [disabled]="!precEntry.uploader.queue.length">
                                                  <span class="glyphicon glyphicon-trash"></span> Remove all
                                              </button>
                                          </div>                               
                                      </div>
                                </div>
                        </ng-template>
                        <a href="javascript:void(0)" [popover]="uploadTemplate" placement="bottom" #popR="bs-popover" [container]="body" 
                        [outsideClick]="true" [containerClass]="reportBox" [hidden]="precEntry.type!=='test'">
                            <i class="fa fa-upload text-success"></i>
                            <u class="text-info">Upload reports</u>
                        </a>
                        <blockquote *ngIf="precEntry.type==='test' && prec.testFiles[precEntry.id]" class="lab-reports blockquote-yellow">
                            <label class="text-info">Test reports</label>
                            <ul *ngFor="let testFile of prec.testFiles[precEntry.id]">
                              <li><a href="/DocWeb/download/{{precEntry.id}}/{{testFile}}"><i class="fa fa-file-alt text-success"></i> <u>{{testFile}}</u></a></li>
                            </ul>
                          </blockquote>
                          </li>
                        </ul>
                      </blockquote>
                      <div class="col-lg-4 text-center">
                        <label class="btn-rounded btn btn-xs" style="width: 100px;" 
                        [ngClass]="{'label-success' : prec.status === '3', 'label-warning' : prec.status === '2', 'label-info' : prec.status !== '2' && prec.status !== '3'}"
                        (click)="getPrecDetails(prec)">
                          {{prec.status === '3' ? 'Completed' : (prec.status === '2' ? 'Waiting on test' : 'Scheduled')}}
                        </label>
                      </div>
                      <div class="col-lg-4 text-center">
                        
                           
                       
                      </div>
                      <div class="col-lg-4 text-center">
                        <ng-template #popTemplate>
                          <a class="pull-right" style="cursor: pointer;" (click)="pop.hide()"><i class="fa fa-times-circle fa-2x text-warning"></i></a>
                          <div style="width: 290px;text-align: center;">
                            <rating [(ngModel)]="prec.ranking.star" [max]="5" [readonly]="false" [customTemplate]="tt"></rating>
                            <ng-template #tt let-i="index" let-v="value">
                              <label class="star-label {{i < v ? 'text-warning' : 'text-default'}}">
                                {{i
                                < v ? '&#9733;' : '&#9734;'}} </label>
                            </ng-template>
                            <textarea class="form-control" [(ngModel)]="prec.ranking.content" rows="3" placeholder="Text your experience of visit. This will help to increase the rating of doctor."></textarea>
                            <a href="javascript:void(0)" class="btn btn-rounded btn-success" style="margin-top: 10px;" (click)="saveFeedback(prec.ranking);pop.hide()">
                              Submit
                            </a>
                          </div>
                        </ng-template>
                        <a href="javascript:void(0)" [popover]="popTemplate" placement="bottom" #pop="bs-popover" [container]="body" [outsideClick]="true">
                          <i class="fa fa-star text-warning"></i>
                          <u class="text-info">Rate visit</u>
                        </a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Row inside row ends -->
      </div>
    </div>
    <!-- Row ends -->

  </div>
  <!-- Container fluid ends -->

</div>
<!-- Dashboard Wrapper End -->
