<!-- Dashboard Wrapper Start -->
<div class="dashboard-wrapper dashboard-wrapper-lg">

  <!-- Container fluid Starts -->
  <div class="container-fluid" *ngIf="!appointmentForPrescription">

    <!-- Top Bar Starts -->
    <div class="top-bar clearfix">
      <div class="row gutter">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="page-title">
            <h3>Appointment board</h3>
            <p>Can see the appointments in board and you can overlook the status of patient appointment.</p>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-calendar-check"></i>
                </span>
                <input type="text" placeholder="Appointment date" bsDaterangepicker [(ngModel)]="dateVisit" (bsValueChange)="onValueChange($event)"
                [bsConfig]="{ showWeekNumbers: false, containerClass: 'theme-red'}" class="form-control"/>
                <span class="input-group-addon">
                  <button class="btn btn-xs btn-warning" (click)="dateVisit=[]">View all</button>
                </span>
            </div> 
        </div>

      </div>
    </div>
    <!-- Top Bar Ends -->
    <!-- Row starts -->
    <div class="row gutter">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" *ngFor="let board of boards;">
        <div class="task-wrapper">
          <h4 class="task-name text-danger">{{board.title}} -
                <span id="openOdometer" class="odometer">{{appointmentsData['board-' + board.id]  ? (appointmentsData['board-' + board.id]).length : 0}}</span>
          </h4>
        </div>  
        <div class="task-wrapper" id="opened" [dragula]="'ass-board'" [dragulaOptions]="{removeOnSpill: true}">
          <div *ngIf="!loadBoardDataForPatients(board)" class="text-center col-lg-12">
              <i class="fas fa-circle-notch fa-2x fa-spin text-warning"></i>
              <div>Loading appointments....</div>
          </div>
          <div *ngIf="!(appointmentsData['board-' + board.id]).length">
            <h5>No appointment pending.</h5>
          </div>
          <div class="task-block" [ngClass]="{'bug': board.id == null, 'critical': board.id == 1, 'complete': board.id == 2, 'new': board.id == 3}"
            *ngFor="let entity of appointmentsData['board-' + board.id]">
            <h5 class="task-id">{{entity.patientId.firstName + ' ' + entity.patientId.lastName}}
              <i class="icon-controller-record"></i>
            </h5>
            <div class="assigned-user">
              <img *ngIf="entity.patientId.profilePic && entity.patientId.profilePic !== 'test'" [src]="domSanitizer.bypassSecurityTrustUrl(entity.patientId.profilePic)" class="img-responsive" alt="Arise Admin"/>
              <div *ngIf="!entity.patientId.profilePic || entity.patientId.profilePic === 'test'" class="no-image-sm">
                  <span>{{entity.patientId.firstName.charAt(0).toUpperCase()}}{{entity.patientId.lastName.charAt(0).toUpperCase()}}</span>
              </div>
            </div>
            <p class="task-desc">{{entity.date}}</p>
            <p class="small">{{entity.remarks}}</p>
            <ul class="task-footer">
              <li>{{entity.startTime + ' - ' + entity.endTime}}</li>
              <li *ngIf="board.id === '1'">
                  <button class="btn btn-xs btn-warning" (click)="prescribe(entity)">
                    Prescribe</button>
              </li>
              <li *ngIf="board.id === '2'">
                  <button class="btn btn-xs btn-success" (click)="loadReportsBySchedule(entity)">
                    View Report</button>
                    <i class="fa fa-circle-notch fa-spin text-warning" *ngIf="entity.loadReports"></i>
                    <blockquote class="lab-reports blockquote-yellow" *ngIf="entity.testReports && entity[0].testReports.length">
                        <label class="text-info">Test reports</label>
                        <ul *ngFor="let report of entity.testReports">
                          <li *ngFor="let testFile of report.files">
                            <a href="/DocWeb/download/{{report.key}}/{{testFile}}"><i class="fa fa-file-alt text-success"></i> <u>{{testFile}}</u></a>
                          </li>
                        </ul>
                        <button class="btn btn-xs btn-info" (click)="markItDone(entity)">
                            Mark Complete</button>
                    </blockquote>  
              </li>
            </ul>
            <span class="task-type">{{entity.patientId.mobileNumber}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Row ends -->
  </div>
  <app-prescription [appointment]="appointmentForPrescription" (refreshAndShowBoard)="refreshAndShowBoard()" *ngIf="appointmentForPrescription"></app-prescription>
  <!-- Container fluid ends -->
</div>
<!-- Dashboard Wrapper End -->
