<div class="dashboard-wrapper dashboard-wrapper-lg">

  <!-- Mail list starts -->
    <!-- Container fluid Starts -->
    <div class="container-fluid">

      <!-- Top Bar Starts -->
      
      <!-- Top Bar Ends -->

      <!-- Row starts -->
      <div class="row gutter">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-filter"></i></span>
                    <input type="text" class="form-control"  placeholder="Find by name/address/contact/type ..." [(ngModel)]="searchTerm">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                  </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="text-right" *ngIf="totalRecord > pageSize">
                <pagination [totalItems]="totalRecord" [itemsPerPage]="pageSize" [maxSize]="5" [(ngModel)]="page"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [boundaryLinks]="true"
                [rotate]="false" (pageChanged)="pageChanged($event)"></pagination>
              </div>
            </div>
          </div>  
      </div>
      <div class="row gutter">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="panel panel-green">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped no-margin">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th></th>
                          <th>Current Disease</th>
                          <th>Family History</th>
                          <th>Allergic to</th>
                          <th>Address</th>
                          <th>Email</th>
                          <th>Contact No</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let patient of patients
                        | filterBy: ['firstName', 'lastName' , 'email', 'mobileNumber', 'address', 'locality', 'city', 'state', 'pincode']: searchTerm" >
                          <td class="text-center">
                              <img *ngIf="patient.profilePic && patient.profilePic !== 'test'" [src]="domSanitizer.bypassSecurityTrustUrl(patient.profilePic)" alt="User" height="50px" width="50px"/>
                              <div *ngIf="!patient.profilePic || patient.profilePic === 'test'" class="no-image-sm">
                                  <span>{{patient.firstName.charAt(0).toUpperCase()}}{{patient.lastName.charAt(0).toUpperCase()}}</span>
                              </div>
                              <div>{{patient.firstName}} {{patient.lastName}}</div>
                          </td>
                          <td>
                              <button class="btn btn-xs btn-primary" (click)="gotToPatientTimeLine(patient)"><i class="fa fa-briefcase-medical"></i> Timeline</button>
                          </td>
                          <td>{{patient.existingDesease ? patient.existingDesease : 'N/A'}}</td>
                          <td>{{patient.familyHistory ? patient.familyHistory : 'N/A'}}</td>
                          <td>{{patient.allergic ? patient.allergic : 'N/A'}}</td>
                          <td>{{patient.address}}<br>Locality: {{patient.locality}}<br>City: {{patient.city}}, State: {{patient.state}}, Pin: {{patient.pincode}}</td>
                          <td>{{patient.email}}</td>
                          <td>{{patient.mobileNumber}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
    <!-- Container fluid ends -->
  <!-- Mail list ends -->

</div>
<!-- Dashboard Wrapper End -->
<ng2-toasty></ng2-toasty>
