<!-- Container fluid Starts -->
<div class="container-fluid">

  <!-- Top Bar Starts -->
  <div class="top-bar clearfix">
    <div class="row gutter">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="page-title">
          <h3>Prescription</h3>
          <p class="space-round">Can see the patient history, his reason of appointment and suggest medicine or test based on diagnosis.
            <br/><br/>
            <a (click)="refreshAndShowBoard.emit(true);" style="cursor: pointer;" class="text-info">(Back to appointment list)</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="panel">
    <div class="panel-body">
      <div class="task-block bug col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h5 class="task-id text-danger"><b>{{appointment.patientId.firstName + ' ' + appointment.patientId.lastName}} </b>
          <i class="icon-controller-record"></i>
        </h5>
        <div class="assigned-user">
          <img *ngIf="appointment.patientId.profilePic && appointment.patientId.profilePic !== 'test'" [src]="domSanitizer.bypassSecurityTrustUrl(appointment.patientId.profilePic)"
            alt="User" height="80px" width="80px" />
          <div *ngIf="!appointment.patientId.profilePic || appointment.patientId.profilePic === 'test'" class="no-image pull-left">
            <span>{{appointment.patientId.firstName.charAt(0).toUpperCase()}}{{appointment.patientId.lastName.charAt(0).toUpperCase()}}</span>
          </div>
        </div>
        <p class="task-desc">
          <i class="fa fa-hospital text-info"></i>
          <b>Hospital:</b> {{appointment.doctorHospitalId.name}}
          <br/>
          <i class="fa fa-calendar-alt text-danger"></i>
          <b>Date:</b> {{appointment.date}} and
          <b>Time slot:</b> {{appointment.startTime + ' - ' + appointment.endTime}}
        </p>
        <p class="small">
          <b>Reason for appointment:</b> {{appointment.remarks}}</p>
        <p class="small">
          <b>Allergic:</b> {{appointment.patientId.allergic}}</p>
        <p class="small">
          <b>Existing Disease:</b> {{appointment.patientId.existingDesease}}</p>
        <p class="small">
          <b>Family History:</b> {{appointment.patientId.familyHistory}}</p>
        <p class="small">
          <b>Height:</b> {{appointment.patientId.height}} and
          <b>Weight:</b> {{appointment.patientId.weight}}</p>
        <p class="small">
          <b>Address:</b> {{appointment.patientId.address}}
          <br/>
          <b>State:</b> {{appointment.patientId.state}}, 
          <b>Pin:</b> {{appointment.patientId.pincode}}
        </p>
        <ul class="task-footer">
          <li>
            <a href="mailto:{{appointment.patientId.email}}">
              Public: <i class="fa fa-envelope-square"></i>
            </a>
          </li>
          <li>
            <a href="mailto:{{appointment.patientId.dpmEmailId}}">
              System: <i class="fa fa-envelope-square"></i>
            </a>
          </li>
          <li>
            <i class="fa fa-mobile"></i> {{appointment.patientId.mobileNumber}}</li>
        </ul>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="panel" >
              <div class="panel-body" style="min-height: 200px;">
                <h4>Some states of patient</h4>
              </div>
          </div>      
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>Patient History</h4>
            <div class="panel" style="min-height: 200px;">
                    <div class="panel-body">
                      <h2 class="text-center text-default" *ngIf="!loading">
                        <i class="fas fa-circle-notch fa-3x fa-spin text-warning"></i>
                        <div class="text-warning">Loading patient history ....</div>
                      </h2>
                      <h2 class="text-center text-default" *ngIf="loading && !prescHistory.length">
                          No records till now....
                      </h2>
                      <div class="table-responsive" *ngIf="prescHistory.length">
                          <table class="table table-striped no-margin">
                            <thead>
                              <tr>
                                <th>Date</th>
                                <th>Medicine/Test Details</th>
                                <th>Pres By</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let prec of prescHistory" >
                                <td width="100px">
                                      {{prec.date}}
                                </td>
                                <td>
                                  <div *ngFor="let precEntry of prec.prescriptions" style="border-bottom: 1px solid gray; margin-bottom: 5px;">
                                    <i class="fa" [ngClass]="{'fa-pills text-danger': precEntry.type==='medicine',
                                    'fa-vials text-success': precEntry.type==='test'}" ></i> <b>{{precEntry.name}}</b> <span *ngIf="precEntry.type==='medicine'" 
                                    [innerHTML]="'- ' + getAdditionalInfo1(precEntry.additionalInfo1) +', ' + getAdditionalInfo2(precEntry.additionalInfo2) + ', ' + getAdditionalInfo3(precEntry.additionalInfo3)"></span>
                                    {{precEntry.sideEffect ? precEntry.sideEffect : ''}} with remarks: {{precEntry.remarks ? precEntry.remarks : 'N/A'}}
                                  </div>
                                  <div *ngIf="prec.remarks">
                                    <b>Info: </b> {{prec.remarks}}
                                  </div>  
                                </td>
                                <td class="text-center" width="100px;">
                                    <img *ngIf="prec.prescribedBy.profilePic && prec.prescribedBy.profilePic !== 'test'" [src]="domSanitizer.bypassSecurityTrustUrl(prec.prescribedBy.profilePic)"
                                    alt="User" height="40px" width="40px" />
                                  <div *ngIf="!prec.prescribedBy.profilePic || prec.prescribedBy.profilePic === 'test'" class="no-image pull-left">
                                    <span>{{prec.prescribedBy.firstName.charAt(0).toUpperCase()}}{{prec.prescribedBy.lastName.charAt(0).toUpperCase()}}</span>
                                  </div>
                                  <div style="font-size:9px; font-weight:600">
                                    {{prec.prescribedBy.firstName + ' ' + prec.prescribedBy.lastName}}
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div> 


                    </div>
            </div>            
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h4>Write Prescription</h4>
            <div class="panel">
                    <div class="panel-body">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center tab-btn">
                          <tabset>
                              <tab heading="Prescription" class="mt-2">
                                  <span style="visibility:hidden;">{{prescToSave.length}}</span>
                                  <div class="table-responsive" *ngIf="prescToSave.length" id="print-section" style="text-align: left;">
                                    <table class="table table-striped no-margin" style="text-align: left;">
                                      <thead>
                                        <tr style="text-align: left;">
                                          <th></th>
                                          <th>Name</th>
                                          <th>Details</th>
                                          <th>Remark</th>
                                          <th></th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr *ngFor="let prec of prescToSave" style="text-align: left;">
                                          <td class="text-center" width="50px;">
                                              <i class="fa fa-2x" [ngClass]="{'fa-pills text-danger': prec.type==='medicine',
                                                                              'fa-vials text-success': prec.type==='test'}" ></i>
                                          </td>
                                          <td>
                                            {{prec.name}}
                                          </td>
                                          <td>
                                            <div [innerHTML]="getAdditionalInfo1(prec.additionalInfo1)"></div>
                                            <div [innerHTML]="getAdditionalInfo2(prec.additionalInfo2)"></div>
                                            <div *ngIf="prec.type==='medicine'"><label>Side effects: </label>{{prec.sideEffect}}</div>
                                          </td>
                                          <td>
                                            {{prec.remarks}}
                                          </td>
                                          <td width="100px;" (click)="removePrescription(prec)"><i class="fa fa-trash text-danger"></i></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>  
                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-line">
                                      <label class="control-label">Remark (Optional)</label>
                                      <textarea class="form-control" [(ngModel)]="finalRemark" rows="3"></textarea>
                                  </div>
                                  <br>
                                  <div class="col-md-12 text-center">
                                      <button type="submit" class="btn btn-warning" (click)="prescribe()">Prescribe</button>
                                      <button class="btn btn-info" (click)="print()">Print</button>
                                  </div>
                              </tab>
                              <tab heading="Medicine" class="mt-2" (select)="presType='medicine'">
                                <!-- *ngIf="presType==='medicine' && !show" -->
                                  <form id="addUpForm" [formGroup]="addUpForm" novalidate>
                                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <label class="control-label">Medicine Name</label>
                                        <input type="text" class="form-control" formControlName="name" placeholder="Medicine Name"/>
                                        <small [hidden]="addUpForm.controls.name.valid || addUpForm.controls.name.untouched"
                                          class="text-danger" translate>
                                          Medicine Name is required
                                        </small>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 selectContainer">
                                        <label class="control-label">Select timings</label>
                                        <select class="form-control" formControlName="additionalInfo1">
                                          <option value="24">Once in a day</option>
                                          <option value="12">Two times in a day</option>
                                          <option value="8">Three times in a day</option>
                                          <option value="6">Four times in a day</option>
                                        </select>
                                        <small [hidden]="addUpForm.controls.additionalInfo1.valid || addUpForm.controls.additionalInfo1.untouched"
                                        class="text-danger" translate>
                                        Time slot is required
                                        </small>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 selectContainer">
                                        <label class="control-label">Select Before/After food</label>
                                        <select class="form-control" formControlName="additionalInfo2">
                                          <option value="BeforeFood">Before food</option>
                                          <option value="AfterFood" selected>After food</option>
                                        </select>
                                        <small [hidden]="addUpForm.controls.additionalInfo2.valid || addUpForm.controls.additionalInfo2.untouched"
                                        class="text-danger" translate>
                                        Food order is required
                                        </small>
                                      </div>
                                      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 selectContainer">
                                          <label class="control-label">Duration in days</label>
                                          <input type="text" class="form-control" formControlName="additionalInfo3" placeholder="Duration in days"/>
                                          <small [hidden]="addUpForm.controls.additionalInfo3.valid || addUpForm.controls.additionalInfo3.untouched"
                                            class="text-danger" translate>
                                            Duration in days required
                                          </small>
                                      </div>
                                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-line">
                                        <label class="control-label">Side effects (Optional)</label>
                                        <textarea class="form-control" formControlName="sideEffect" rows="3"></textarea>
                                      </div>
                                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-line">
                                        <label class="control-label">Remark (Optional)</label>
                                        <textarea class="form-control" formControlName="remarks" rows="3"></textarea>
                                      </div>
                                      <br>
                                      <div class="col-md-12">
                                        <button type="submit" class="btn btn-warning" (click)="addPrec('medicine')" [disabled]="addUpForm.invalid">Add Medicine</button>
                                      </div>
                                    </form>
                              </tab>
                              <tab heading="Lab Tests" class="mt-2" (select)="presType='test'">
                                  <form id="addTestForm" [formGroup]="addTestForm" novalidate>
                                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 selectContainer">
                                        <label class="control-label">Test</label>
                                        <select class="form-control" formControlName="name">
                                            <option [value]="type" *ngFor="let type of labTests">{{type}}</option>
                                        </select>
                                        <small [hidden]="addTestForm.controls.name.valid || addTestForm.controls.name.untouched"
                                        class="text-danger" translate>
                                        Test is required
                                        </small>
                                      </div>
                                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-line">
                                        <label class="control-label">Remark (Optional)</label>
                                        <textarea class="form-control" formControlName="remarks" rows="3"></textarea>
                                      </div>
                                      <br>
                                      <div class="col-md-12">
                                        <button type="submit" class="btn btn-warning" (click)="addPrec('test')" [disabled]="addTestForm.invalid">Add Test</button>
                                      </div>
                                    </form>
                              </tab>
                            </tabset>
                          </div>   
                    </div>
            </div> 
      </div>
    </div>
  </div>
</div>
