<div class="dashboard-wrapper dashboard-wrapper-lg">

    <!-- Container fluid Starts -->
    <div class="container-fluid">
  
      <!-- Top Bar Starts -->
      <div class="top-bar clearfix">
        <div class="row gutter">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="page-title">
              <h3>Edit Blog</h3>
            </div>
          </div>
        </div>
      </div>
      <!-- Top Bar Ends -->
  
      <!-- Row starts -->
      <div class="row gutter">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="panel">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
              <form id="blogForm" [formGroup]="blogForm" novalidate>
                <div class="form-group">
                  <div class="row gutter">
                    <div class="col-md-12">
                      <label class="control-label">Title</label>
                      <input type="text" class="form-control" placeholder="Title" formControlName="title">
                      <small [hidden]="blogForm.controls.title.valid || blogForm.controls.title.untouched"
                        class="text-danger" translate>
                        Blog title is required
                      </small>
                    </div>
                  </div>
                </div>
                                  <div class="form-group">
                  <div class="row gutter">
                    <div class="col-md-12">
                      <label class="control-label">Description</label>
                      <app-ngx-editor [placeholder]="'Write your blog here...'" [spellcheck]="true" [minHeight]="'250px'" [(ngModel)]="data" [ngModelOptions]="{standalone: true}"></app-ngx-editor>
                    </div>
                  </div>
                </div>
                
                <div class="form-group no-margin">
                  <div class="row gutter">
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-warning" (click)="update()" [disabled]="blogForm.invalid || !data">Update</button>
                      <button type="submit" class="btn btn-default" (click)=cancel()>Cancel</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Row ends -->
    </div>
    <!-- Container fluid ends -->
    
  </div>