<!-- Dashboard Wrapper Starts -->
<div class="dashboard-wrapper dashboard-wrapper-lg">
  <!-- Container fluid Starts -->
  <div class="container-fluid">
    <!-- Top Bar Starts -->
    <div class="top-bar clearfix">
      <div class="row gutter">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="page-title">
            <h3>Create Question Set</h3>
            <!-- <p>it from here.</p> -->
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        </div>
      </div>
    </div>
    <!-- Top Bar Ends -->

    <!-- Question Set Starts -->
    <div class="row gutter">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="panel">
          <div class="panel-heading">
          </div>
          <div class="panel-body">
            <form id="questionSetForm" [formGroup]="questionSetForm" novalidate>
              <div class="form-group">
                <div class="row gutter">
                  <div class="col-md-12">
                    <label class="control-label">Name</label>
                    <input type="text" class="form-control" placeholder="Name" formControlName="name" />
                    <small [hidden]="questionSetForm.controls.name.valid || questionSetForm.controls.name.untouched"
                      class="text-danger" translate>
                      Name is required
                    </small>
                  </div>
                </div>
              </div>


              <div class="form-group" *ngIf="!isNewRecord">
                <div class="row gutter">
                  <div class="col-md-12">
                    <label class="control-label">Subject</label>
                    <input type="text" class="form-control" placeholder="Name" formControlName="subjectName" />
                    <small [hidden]="questionSetForm.controls.subjectName.valid || questionSetForm.controls.subjectName.untouched"
                      class="text-danger" translate>
                      subject is required
                    </small>
                  </div>
                </div>
              </div>

              <div class="form-group" *ngIf="isNewRecord">
                <div class="row gutter">
                  <div class="col-md-12">
                    <label class="control-label">Subject</label>
                    <select class="form-control" formControlName="subject">
                      <option [value]="subject.id" *ngFor="let subject of subjects">{{subject.name}}</option>
                    </select>
                    <!-- <i class="fa fa-plus ico-input-side" (click)="addSubject = true"></i> -->
                    <small [hidden]="questionSetForm.controls.subject.valid || questionSetForm.controls.subject.untouched"
                      class="text-danger" translate>
                      Subject is required
                    </small>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row gutter">
                  <div class="col-md-12">
                    <label class="control-label">No of Question</label>
                    <input type="number" min=0 class="form-control" placeholder="No of Question" formControlName="no_of_questions" />
                    <small [hidden]="questionSetForm.controls.no_of_questions.valid || questionSetForm.controls.no_of_questions.untouched"
                      class="text-danger" translate>
                      No of Question is required
                    </small>
                  </div>
                </div>
              </div>
              <div class="form-group no-margin">
                  <div class="row gutter">
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-warning" [disabled]="!questionSetForm.valid"
                        (click)="onCreateClick()" *ngIf="isNewRecord">Create and Add Question</button>
                        <button type="submit" class="btn btn-warning" [disabled]="!questionSetForm.valid"
                        (click)="onUpdateClick()" *ngIf="!isNewRecord">Update Question</button>  
                      <button type="button" class="btn btn-default"
                        (click)="onCancelClick()">Cancel</button>
                    </div>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Question Set Ends -->

    <!-- Add Question Grid Starts -->
    <div *ngIf="questionSetId && questionSetId.trim() !== ''">
      <app-add-question-grid
        [questionSetId]="questionSetId"></app-add-question-grid>
    </div>
    <!-- Add Question Grid Ends -->
  </div>
  <!-- Container fluid Ends -->
</div>
<!-- Dashboard Wrapper Ends -->