<div class="dashboard-wrapper dashboard-wrapper-lg">

  <!-- Container fluid Starts -->
  <div >

    <!-- Top Bar Starts -->
    <div class="top-bar clearfix">
      <div class="row gutter">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="page-title">
            <h3>Calendar</h3>
            <p>Calendar of appointments</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Top Bar Ends -->

    <ng-template #eventDetail>
      <div class="modal-body">
        <p id="eventTitle"></p>
        <br>
        <br>
        <div class="text-center">
          <button type="button" class="btn btn-primary" (click)="decline()" >Ok</button>
        </div>
      </div>
  </ng-template>


    <div class="row gutter">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background: white;height:100%;" *ngIf="showCall">
            <angular2-fullcalendar [options]="calendarOptions"></angular2-fullcalendar> 
        </div>
    </div>
  </div>
  <!-- Container fluid ends -->
  <ng2-toasty></ng2-toasty>
</div>