@import "src/theme/theme-variables";

h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

button.bl {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: $bg-theme;;
  background-color: #4d4d4d;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button.bl-small {
  border: none;
  outline: 0;
  color: $font-color-theme;
  background-color: #4d4d4d;
  text-align: center;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button.bl:hover, a:hover {
  opacity: 0.8;
}

.slot-but {
  background: $bright-blue;
  color: white;
}

.slot-but:hover, .slot-but.active {
  background: $bright-blue-hover;
  color: #f0ad4e;
}

button.bl[disabled], .slot-but.btn[disabled], button.bl[disabled]:hover, .slot-but.btn[disabled]:hover{
  background: #c2d5ea;
  color: black;
  cursor: not-allowed;
}

.space-round {
  padding: 15px 0;
}

.space-round a {
  color: skyblue;
  font-size: 12px;
}